@charset "utf-8";

.checkbox {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-left: 20px;
}

.freefist-fm {
    margin-top:3%;
    overflow: hidden;
    margin-bottom:3%;
}
.chs-reg h4, .h4 {
    font-size: 18px;
    line-height: 23px;
}

button.rsnd-otp {
    background: #fff;
    color: #fc7e00;
    border: 0px;
    font-weight: bold;
}
.checkbox-fll label { color:#fff;}

div#worked {

    color: #fc7e00;
}

.otpdks .form-control {
    border: 1px solid #ddd !important;
}
.vrfotp { padding:11px;}
.rg-project
{ padding:50px 20px 0px ;}

.aldry-rgs a {
    text-align: right;
    margin-bottom: 10px; 
    color: #fc7e00;
    text-decoration: underline;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}


.checkbox-danger input[type="checkbox"]:disabled + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
    background:#fc7e00;
    border-color: #fc7e00;
}


.reg-err  p {
    font-size: 12px;
    color: #fff;
    margin: 0px;
    background: #ff3b3c;
    padding: 5px;
}


.checkbox-fll { background:#fc7e00;}
.checkbox-danger input[type="checkbox"]:checked + label::before, .checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #fc7e00;
    border-color: #fc7e00;
    color:#fff;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    font-size:14px;
}
.checkbox {
    padding-left: 20px;
}

.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor:pointer;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    margin-top:2px !important;
}

input[type="checkbox"].styled:checked + label:after, input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox-success input[type="checkbox"]:checked + label::after, .checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}


.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 17px;
    left: 0;
    top: 0;
    margin-left: -19px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #fff;
    margin-top:2px;
}



.out-reg-se #countryCode {
    height: 39px;
}


.out-reg-se { display:inline-block; width:170px;}
.out-reg {
    display: inline-block; width:62%; height:26px;
}


button.btn.btn-nerdy.next-step.veryfi {
    width: 100% !important;
    padding:3px 8px;

}
.form-inner-containt {
    width: 500px;
    height: 400px !important;
    margin-bottom: 50px;
}

.rgst-c { border:1px solid #fc7e00; }
.button-container {
    text-align: center;
}

fieldset {
    margin: 0 0 3rem;
    padding: 0;
    border: none;
}

.form-radio,
.form-group1 {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

.form-inline > .form-group1,
.form-inline > .btn {
    display: inline-block;
    margin-bottom: 0;
}

.form-help {
    margin-top: 0.125rem;
    margin-left: 0.125rem;
    color: #b3b3b3;
    font-size: 0.8rem;
}
/*.checkbox .form-help, .form-radio .form-help, .form-group1 .form-help {
  position: absolute;
  width: 100%;
}
.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}*/
.form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem;
}


.form-group1 textarea {
    resize: none;
}
.form-group1 select {
    width: 100%;
    font-size: 14px;
    height:30px;
    padding: 0.125rem 0.125rem 0.0625rem;
    background: none;
    border: none; 
    line-height: 1.6;
    box-shadow: none;
}
.form-group1 .control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #949494;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    background:#fff;
    margin-left:10px;
    font-weight:600;
}
.form-group1 .bar {
    position: relative;
    border-bottom: 1px solid #949494;
    display: block;
}
.rgs-fm .bar{
    display: none;
}

.rgs-fm2 .bar{
    display: none;
}

.form-group1 .bar::before {
    content: '';
    height: 1px;
    width: 0;
    left: 50%;
    bottom: -1px;
    position: absolute;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
}
.form-group1 input,
.form-group1 textarea {
    display: block;
    background: none;
    padding: 0px 11px;
    font-size: 14px;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
    height:41px;
}
.form-group1 input[type="file"] {
    line-height: 1;
}
.form-group1 input[type="file"] ~ .bar {
    display: none;
}
.form-group1 select,
.form-group1 input:focus,
.form-group1 input:valid,
.form-group1 input.form-file,
.form-group1 input.has-value,
.form-group1 textarea:focus,
.form-group1 textarea:valid,
.form-group1 textarea.form-file,
.form-group1 textarea.has-value {
    color: #333;
}
.form-group1 select ~ .control-label,
.form-group1 input:focus ~ .control-label,
.form-group1 input:valid ~ .control-label, 
.form-group1 input.form-file ~ .control-label,
.form-group1 input.has-value ~ .control-label,
.form-group1 textarea:focus ~ .control-label,   
.form-group1 textarea:valid ~ .control-label,
.form-group1 textarea.form-file ~ .control-label,
.form-group1 textarea.has-value ~ .control-label {
    font-size:14px;
    color: gray;
    top: -12px;
    left: 0;
    padding:0px 3px 0px 0px;
}
.form-group1 select:focus,
.form-group1 input:focus,
.form-group1 textarea:focus {
    outline: none;
}
.form-group1 select:focus ~ .control-label,
.form-group1 input:focus ~ .control-label,
.form-group1 textarea:focus ~ .control-label {
    color: #fc7e00;
}
.form-group1 select:focus ~ .bar::before,
.form-group1 input:focus ~ .bar::before,
.form-group1 textarea:focus ~ .bar::before {
    width: 100%;
    left: 0;
}
.radio {
    margin-bottom: 1rem;
}
.radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}
.radio .helper::before, .radio .helper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.25rem;
    width: 1rem;
    height: 1rem;
    -webkit-transition: -webkit-transform 0.28s ease;
    transition: -webkit-transform 0.28s ease;
    transition: transform 0.28s ease;
    transition: transform 0.28s ease, -webkit-transform 0.28s ease;
    border-radius: 50%;
    border: 0.125rem solid currentColor;
}
.radio .helper::after {
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: #337ab7;
    border-color: #337ab7;
}
.radio label:hover .helper {
    color: #337ab7;
}
.radio input:checked ~ .helper::after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
    color: #337ab7;
}
.radio + .radio,
.checkbox + .checkbox {
    margin-top: 1rem;
}

.has-error .legend.legend, .has-error.form-group1 .control-label.control-label {
    color: #d9534f;
}
.has-error.form-group1 .form-help,
.has-error.form-group1 .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
    color: #d9534f;
}
.has-error .bar::before {
    background: #d9534f;
    left: 0;
    width: 100%;
}

.button {
    position: relative;
    background: currentColor;
    border: 1px solid currentColor;
    font-size: 1.1rem;
    color: #4f93ce;
    margin: 3rem 0;
    padding: 0.75rem 3rem;
    cursor: pointer;
    -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
    color: #fff;
    position: relative;
    z-index: 1;
}
.button::before {
    content: '';
    position: absolute;
    background: #071017;
    border: 50vh solid #1d4567;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 0;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}
.button:hover {
    color: #337ab7;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before, .button:focus::before {
    -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}
.button:focus {
    outline: none;
}



/*chhose*/
.reg-err p {
    font-size: 12px;
    color: #fff;
    margin: 0px;
}
.reg-err {

    padding: 4px 1px;
    text-align: center;
    margin:0px 4px;
}
.primary-reg .list-inline {
    margin-left: 2px;
}
.primary-nam {
    margin-bottom: 19px;
}
span.state-icon.fa.fa-check {
    margin-right: 5px;
}
.chkbx li.list-group-item {
    font-size: 13px;
}
.chkbx h5 {
    font-weight: 600;
    margin-left: 3px;
}
.mr90 { margin-top:90px;}
.mr50 { margin-top:50px;}
.primary-reg {
    border: 1px solid #ddd;
    margin-left:10px;
    padding:10px 5px;
}
.primary-reg-inner { padding:10px;}
.primary-nam-bx {
    border: 1px dotted #fc7e00;
    margin: 10px 0px;
    padding: 2px;
}
.primary-reg h3 {
    color: #fc7e00;
    font-size:20px;
}
.primary-nam i {
    float: right;
    font-size: 17px;
    color: #fc7e00;
    padding-top:7px;
}

.chs-reg {
    color: #14c1bb;
    margin: 0px 0px 5px;
}
.chs-reg span {
    color: #fff;
    background: #fc7e00;
    border-radius: 100%;
    padding: 1px 9px 1px 3px;
    font-size: 19px;
    text-align: center;
    margin: 7px;
}

span.state-icon.fa.fa-square-o {
    padding-right: 8px;
}
/*chhose-end*/
.list-group-item { border:0px; padding:2px 5px;}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #fc7e00;
    border-color: #fc7e00;
}
.nav-tabs {
    border-bottom: 1px solid #fff !important;
}
.freelnc-pop h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 26px;
}
.aldry-rgs {
    text-align: right;
    margin-bottom:20px;
}
button.btn.btn-nerdy.next-step {
    color: #fff;
    background: #fc7e00;
    font-size: 20px;
    border-radius: 0px;
    margin-bottom: 8px; 
    padding:3px 8px; 
    width:100px ;
}   

button.btn.btn-bck.next-step {
    color: #333;
    background: #e2dedf;   
    font-size: 20px;
    border-radius: 0px; 
    margin-bottom:8px;
    padding:3px 8px;
    width:100px ;
}
.btn:focus {
    outline: none !important;
}
button.btn.btn-bck.next-step:focus {
    outline: none !important;
}
.primary-reg li {
    margin: 0px 0px 5px !important;
    padding: 0px !important;
}
.rgstr-form .form-control {
    border: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    border-radius: 0px;
}
span.pull-right.fm-chk {
    position: absolute;
    right: 17px;
    margin-top: -32px;
    color: #d03134;  
}


.rgs-fm2 {
    border: 1px solid #ff0000;

}

.rgs-fm2 h6 {
    position: absolute;
    top: -19px;
    font-size: 14px;
    background: #f9f9f9;
    left: 10px;

}


.rgs-fm {
    border: 1px solid #ff7e00 ;

}

.rgs-fm h6 {
    position: absolute;
    top: -19px;
    font-size: 14px;
    background: #f9f9f9;
    left: 10px;
    color: #ff7e00 ;
}
.rgstr-page{ margin-top:55px;} 
.rg-mtr {
    overflow: hidden;
    margin-top: 45px;
    text-align: center;
    margin-right:8px;
}
.rg-imgmtr i {
    font-size: 25px;
    color: #fc7e00;
}
.rg-imgmtr h5{
    color: #fc7e00;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 3px;
}
.rg-imgmtr h3 {
    margin-top: 0px;
    font-size: 32px;
}
.rg-imgmtr {
    margin-bottom: 22px;
    margin-left: 28px;
}

.regi-img { background:url(../images/register-img.jpg); background-repeat:no-repeat; height:490px;}
.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;

    margin-bottom: 0; 
    border-bottom-color: #e0e0e0; 
}

.wizard > div.wizard-inner {
    position: relative;
}
.connecting-line {
    height: 9px;
    background: #aca9a9;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 45%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus 


.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 43px;
    height: 43px;
    line-height: 39px;
    display: inline-block;
    border-radius: 100px;
    background: #aca9a9;
    border: 2px solid #aca9a9;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fc7e00;
    border: 2px solid rgb(20, 193, 177);
    color: #fff;
}


.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li a {
    width: 43px;
    height: 43px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding: 37px 54px 12px;
}

.wizard h3 {
    margin-top: 0;
}

input#contact_no {
    font-size: 19px;
}

.out-reg-se #countryCode {
    height: 39px;
    padding-left: 9px;
}




p#otp-msg {
    margin-bottom: -1px;
}

#mdl-main-fm-second {
    margin-bottom: 40px;
}

#mdl-main-fm-third{
    margin-bottom: 40px;
}

.checkbox.checkbox-danger.checkbox-fll {
    margin-bottom: 2px !important;
}
.dashboard-left-panel{
    min-height: 300px;
}
.dashboard-welcome{
    font-weight: 14px;
    font-weight: bold;
}

.dashboard-link{
    background: #d03134;
    padding: 15px 0px 15px 20px;
    border-bottom: solid 1px #fff;
    font-size: 15px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.dashboard-link a{
    color:#fff;
}
.dashboard-link a:hover{
    color:#fff;
}
.dashboard-link:hover{
    color:#fff;
    background: #ff6c00;
}
.page-title-dashboard{
    background-color: #d03134; 
    padding: 5px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    border-radius: 3px;
}
.page-title-dashboard h1{
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px !important;
    cursor: pointer;
    color: #fff;
}
.page-title-dashboard .back-btn{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.page-title-dashboard .back-btn a{
    text-decoration: none;     
    color: #fff;
}
.dashboard-table-bordered .strong{
    font-weight: bold;
}
@media( max-width : 767px ) {
    .out-reg-se #countryCode { height:41px;}
    .freefist-fm {
        min-height: 340px;
    }
    ul#secondsubmit {
        margin-top: 10px;
    }
    .out-reg {
        height: 28px;
    }
    .wizard-inner {
        margin: 20px 0px;
    }

    .primary-reg {
        border: 1px solid #ddd;
        margin-left: 0px;
        padding: 0px 0px;
    }

}
@media( max-width : 567px ) {
    .rg-project {
        padding: 0px 20px 0px;
    }

    .rgstr-page {
        margin-top: 103px;
    } 
    .wizard {
        width: 90%;
        height: auto !important;
    }
    span.round-tab {
        font-size: 16px;
        width: 41px;
        height: 40px;
        line-height: 37px;
    }
    .connecting-line {
        top: 35%;
    }
    .wizard .nav-tabs > li a {
        width: 42px;
        height: 42px;
        line-height: 50px;
        margin: 0px 0px 0px 10px;
    }
    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .freelnc-pop h3 {
        font-size: 22px;
    }
}
@media (max-width: 990px) {
    .aldry-rgs {
        text-align: center;
    }
    .reg-popmb {
        display: none;
    }
}
@media(max-width:992px) {
    input#contact_no {
        font-size: 14px;
    }
    .wizard .tab-pane {
        padding: 0px 0px !important;
    }
    .out-reg-se {
        display: inline-block;
        width: 28% !important;
    }
}
@media (min-width: 320px) and (max-width: 520px) {
    .rgstr-page {
        margin-top: 103px;
    }
    .compansation-banner {
        margin-top: 19%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {

    .pst-pop { 
        padding: 14px 14px 0px;
    }

    button.btn.btn-nerdy.next-step {
        font-size: 17px;
        padding: 8px 0px;
        width: 78px;
    }             
    .rg-imgmtr {            
        margin-left: 108px;
    }                  
    button.btn.btn-bck.next-step {
        font-size: 17px;
        padding: 8px 0px;
        width: 78px;
    }
    .primary-reg h3 {
        color: #fc7e00;
        font-size: 16px;
    }
}
@media (min-width: 1000px) and (max-width: 1024px) {
    .out-reg-se {
        display: inline-block;
        width: 108px;
    }
}
