/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

#sEnrollNowModal .modal-body, #sGETEnrollNowModal .modal-body{
    padding: 0px 20px !important;
}
#sEnrollNowModal .modal-body .grid-1, #sGETEnrollNowModal .modal-body .grid-1{
    background: #ccc; 
    padding: 10px;
}
#sEnrollNowModal .modal-body .grid-2, #sGETEnrollNowModal .modal-body .grid-2{
    background: #eee;
    padding: 10px;
}
#sEnrollNowModal .modal-body .stitle, #sGETEnrollNowModal .modal-body .stitle{
    font-size: 15px;
    font-weight: bold;
}
#sEnrollNowModal .modal-body .subtitle, #sGETEnrollNowModal .modal-body .subtitle{
    font-size: 12px;    
    font-weight: bold;

}
#sEnrollNowModal .modal-body .course_details_enroll, #sGETEnrollNowModal .modal-body .course_details_enroll{
    font-size: 13px;
    cursor: pointer;
}
#sEnrollNowModal .modal-body .F, #sGETEnrollNowModal .modal-body .F{
    font-size: 13px;
    color: #a94442;
    cursor: pointer;
}
#sEnrollNowModal .modal-body .FF, #sGETEnrollNowModal .modal-body .FF{
    font-size: 13px;
    cursor: pointer;
    color:#8a6d3b;
}
#sEnrollNowModal .modal-body .A, #sGETEnrollNowModal .modal-body .A{
    font-size: 12px;color:#31708f;
}


.required-hint{
    color: red;
}
.error{
    font-size: 12px !important;
    font-weight: normal;
    color: red !important;
}
.form-control{
    font-size: 13px !important;
    font-weight: normal;
    color: #999 !important;
}
.control-label{
    text-align: left !important;
}
.modal-dialog{
    /*width: 450px!important;*/
    margin: 30px auto;
}
.modal-header{
    border-radius: 3px 3px 0px 0px;
    background-color: #d03134 !important;
    color: #fff;
    /*padding: 5px 10px 0px !important;*/
    border: solid 1px #d03134 ;
}
.modal-header .close{
    color: #fff;
    opacity: 0.9;
    font-weight: 500;
}
.modal-body{
    text-align: center;
    padding: 15px !important;
}
#sMessageDialogIcon, #sFeedbackDialogIcon, #sEnrolDetailDialogIcon {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    line-height: 10px;
    height: 45px;
    width: 45px;
    vertical-align: middle;
    padding: 8px;
    text-align: center;
    display: inline-block;
}
#sMessageDialogTitle, #sFeedbackDialogTitle, #sEnrolDetailDialogTitle {
    padding-left: 115px;
    color: #fff;
}
#sMessageDialog .black-btn {
    background: #d03134;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    margin-top: 0px;
    padding: 6px 15px;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    width: 80px;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
.min_height_200{
    min-height: 200px !important;
}
.width_600{
    width: 600px !important;
}
.cursor_pointer{
    cursor: pointer;
}
#courseform{
    padding-top: 10px;
}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
