/* Registration Form CSS */
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light-webfont.woff2') format('woff2'),
        url('../fonts/Roboto-Light-webfont.woff') format('woff'),
        url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
        url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
        url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold_condensed';
    src: url('../fonts/roboto-boldcondensed-webfont.eot');
    src: url('../fonts/roboto-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-boldcondensed-webfont.woff2') format('woff2'),
        url('../fonts/roboto-boldcondensed-webfont.woff') format('woff'),
        url('../fonts/roboto-boldcondensed-webfont.ttf') format('truetype'),
        url('../fonts/roboto-boldcondensed-webfont.svg#robotobold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

.terms-policy{
    text-decoration: underline;
}
.terms-policy:hover{
    text-decoration: underline;
    cursor: pointer
}


.enrollment-registeration .labelclass{
    font:600 16px 'robotoregular'; 
    text-align: left;
    line-height: 40px;
    float: left;
}
.enrollment-registeration .textclass{
    font:500 16px 'robotoregular'; 
    text-align: left;
    line-height: 40px;
    font-size: 14px;
    float: left
}
.enrollment-registeration .submitclass{
    padding-top: 10px;
}
.enrollment-registeration h3{
    font-size: 18px !important;
    letter-spacing: 0.8px  !important;
    color: #d13235 !important;
    margin-bottom: 25px !important;
}
.enrollment-registeration .part_b{
    background-color: #fbfbfb;
}



@media only screen and (max-width:1600px){
    .form_inner{width:99%;}
    .part_a{padding:15px;}
    .part_a .blok{text-align:center;}
    .part_a .blok li{width:32%; margin-right:0; display:inline-blok; padding:0 1.0%;}
    .part_a .blok li:last-child{margin-right:0;}
    .part_a .blok li .labelclass{text-align:left;}
    .part_a .blok li .textclass input{width:100%; box-sizing:border-box;}
    .comment{left:4%;}
    .part_a h5{text-align:left;}

}


@media only screen and (max-width:1024px){
    .form_inner{width:98%;}
    .part_a{padding:15px;}
    .part_a .blok{text-align:center;}
    .part_a .blok li{width:30%; margin-right:0; display:inline-blok; padding:0 1.5%;}
    .part_a .blok li:last-child{margin-right:0;}
    .part_a .blok li .labelclass{text-align:left;}
    .part_a .blok li .textclass input{width:100%; box-sizing:border-box;}
    .comment{left:4%;}
    .part_a h5{text-align:left;}

}

@media only screen and (max-width:768px){
    .part_a{
        padding: 10px !important;
    }
    .enrollment-registeration .labelclass{
        line-height: 30px;
    }
    .enrollment-registeration .textclass{
        line-height: 30px;
    }
    .submitclass input{background-size:80%;}
    .submitclass p{font-size:14px;}
    .course{right:3%; top:38%;}
    .calendar{right:3%; top:38%;}
    .divwide{width:auto!important; height:250px; overflow-y:scroll; overflow-x:none;}
    .divwide p{padding-right:20px!important;}
    .right_phone{ margin-right:0;}

}

@media only screen and (max-width:767px){
    .section1 .labelclass{ width:25%; font-size:20px;}
    .section1 .textclass{ width:70%;}
    .section1 .textclass input{ width:50%;}	
    #submitsuedgeid{ width:25%;}
    .newuser_box1, .newuser_box2{ width:100%;}
}

@media only screen and (max-width:568px){
    .section1{text-align:center;}
    .section1 .labelclass{text-align:center; float:none; margin-right:0;}
    .section1 .textclass{text-align:center; float:none;}
    .section1 .textclass input{text-align:center;}
    .part_a .blok li{width:45%; padding:0 2%;}
    .part_a h3{text-align:center;}


    .section1 .labelclass{ width:100%; font-size:20px; text-align:center;}
    .section1 .textclass{ width:100%;}
    .section1 .textclass input{ width:50%;}	
    #submitsuedgeid{ width:40%; margin-top:10px;}
    .newuser_box1{ top:130px;}
    .forges{ line-height:6px;}
    .newuser_box2{ top:130px;}
    .part_a{ margin-top:70px;}
    .part_b{ margin-top:20px;}

}

@media only screen and (max-width:567px){
    .part_a .blok li{width:98%; padding:0 1%; height:auto;}
    .comment{left:1%;}
    .section1 .textclass input{width:280px;}
}






.form_box{ float:left; width:100%; margin:10px 0;}
/*form{width:100%; margin:0 auto; padding:30px 0;}*/
.form_inner{width:90%; margin:0 auto;}
.section1{width:100%; float:left;}
.section1 .labelclass{float:left; margin-right:20px; font:bold 24px/40px 'robotobold_condensed'; color:#16469d;}
.section1 .textclass{float:left;}
.section1 .textclass input{ width:356px; padding:6px; background:#fff; border:1px solid #daeffe; font:normal 18px 'robotobold_condensed'; color:#16469d;}
::-webkit-input-placeholder {color:#16469d; opacity:1!important; /* for chrome */}
:-moz-placeholder {/* Firefox 18- */color:#16469d; opacity:1!important; /* for chrome */}
::-moz-placeholder {/* Firefox 19+ */    color: #16469d;	 opacity: 1 !important; /* for chrome */}
:-ms-input-placeholder {color: #16469d;    opacity: 1 !important; /* for chrome */}
::-webkit-input-placeholder {color: #16469d!important;}
:-moz-placeholder {/* Firefox 18- */   color:#16469d!important}
::-moz-placeholder {/* Firefox 19+ */   color:#16469d!important;}
:-ms-input-placeholder {color:#16469d!important;}

.section1 p{width:100%; float:left; display:blok; font:normal 12px 'robotoregular'; color:#525151; font-style:italic; margin:20px 0;}

.part_a{ width:100%; padding:15px 35px; float:left; background:#ebebeb; box-sizing:border-box;}

.part_a h3{font:bold 14px 'robotolight'; color:#16469d; text-transform:uppercase; margin:10px 0;}
.part_a h3 span{display:inline-blok; padding-left:5px;}

.part_a h4{ float:left; font:bold 14px 'robotolight'; color:#16469d; margin:20px 0; background:url(../images/arrow.png) no-repeat left center; padding:0 0 0 20px;}


.part_a h5{font:bold 14px 'robotolight'; color:#232323; margin:0px 0; text-transform:uppercase;}
.part_a .blok{width:100%; float:left;}
.part_a .blok ul{}
.part_a .blok li{float:left; margin-right:2%; position:relative; /* height:90px; margin-top:10px;*/ margin-bottom:10px;}
.part_a .blok li:last{margin-right:0;}
.part_a .blok li .labelclass{display:blok; font:normal 14px 'robotolight'; font-weight: bold; color:#232323; margin:5px 0;}
.part_a .blok li .textclass{width:100%; float:left;}
.part_a .blok li .textclass input{width:100%; background:#fff; border:1px solid #D9D9D9; font:normal 13px 'robotolight'; color:#232323; padding:6px; box-sizing:border-box;}
.part_a .blok li .textclass select{width:100%; background:#fff url(../images/select_arrow.png) 98% 5px no-repeat; border:1px solid #D9D9D9; font:normal 13px 'robotolight'; color:#232323; padding:5px 0; -webkit-appearance:none; -moz-appearance:none; text-overflow: "";}
.part_a .blok li .textclass textarea{width:90%; height:40px; background:#fff; border:1px solid #D9D9D9; font:normal 13px 'robotolight'; color:#232323; padding:6px}


.part_b{
    background: #ebebeb;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 3px;
    width: auto;
}
.card{
    margin: 0 20px !important;
}
.text-btm{width:100%; text-align: center; float:left; font:normal 15px 'robotoregular'; color:#525151; margin-top:10px;}
.checkbox{width:100%; text-align: center; float:left; font:normal 14px 'robotoregular'; color:#525151; font-style:italic; margin-top:10px;}
.checkbox a{color:#525151;}
.checkbox a:hover{color:#000;}

.submitclass{width:100%; height:92px; float:left; text-align:center;}
.submitclass input{background-color: #d03134; color: #fff; padding:  5px 10px; border:none; cursor:pointer;}
.lst_text{font:normal 17px 'robotoregular'; color:#525151; margin:10px 0; text-align:center;}


/* absolute icons*/
.comment{position:absolute; left:0; top:72%; font:normal 11px 'robotolight'; color:#525151; font-style:italic; color:#ce0000;}
.comment_textara{position:absolute; left:0; top:95%; font:normal 11px 'robotolight'; color:#525151; font-style:italic; color:#ce0000;}
.course{width:22px; height:22px; position:absolute; right:-30px; top:40%; display:none;}
.calendar{width:22px; height:22px; position:absolute; right:0%; top:40%;}


footer{ float:left; width:100%; text-align:center; padding:0;}
footer li{ display:inline-blok; }

footer li a{ float:left; color:#494848; font-size:13px; border-right:1px solid #000; padding:0 10px; line-height:10px;}
footer li:last-child a{ border:0;}
footer li a:hover{ color:#000;}

.common {
    color: #494848;
    float: left;
    font-size: 12px;
    padding: 10px 20%;
    width: 60%;
}

.errorclass {
    border: 5px solid red !important;
}
#submitsuedgeid{ width: 180px; background:yellow; color:#000; border-radius: 5px;margin-left:11px; cursor:pointer;}

.forget{  font-size:12px;  line-height:10px; }
.forget a{color:#999; font-family:Arial, Helvetica, sans-serif;}
.box1{ float:left;}
.box1 .forget{ padding-top:9px;}
.nums input[type="text"]{ font-size:17px; color:#16469d;}
*::-moz-placeholder{ color:#dadada!important;}
.comment_textara{ position:static; float:right;}
ol.pointnum li{ float:left; width:100%; margin:5px 0; font-family:Arial, Helvetica, sans-serif; font-size:13px; list-style:decimal; list-style-position:inside;}
.newuser a{color:#999; font-family:Arial, Helvetica, sans-serif; font-size:13px;}
.forges{ font-size:11px; color:#999; font-family:Arial, Helvetica, sans-serif;}
.section1 .labelclass, .section1 .textclass{ position:relative;}
.newuser_box1{ position:absolute; left:0; width:600px; top:30px;}

.newuser_box2 {
    height: 30px;
    left: 0;
    margin-top: 38px;
    position: absolute;
    top: 21px;
    width: 600px;
    z-index: 9999;
}
.errormsg{ position:absolute; font-size:11px; color:red; top:42px;}
.part_a .blok li .textclass input, .part_a .blok li .textclass select{color: #989796; padding:5px;}
#courses, #specialisation, #gender{color:#232323}
.part_a{ margin-top:30px;}



.confirm{ float:left; width:100%; background:#ebebeb ; padding:20px 0;}
.confirm_pay{ float:left; width:100%; text-align:center; border-bottom:1px solid #333; padding-bottom:20px;}
.confirm_pay p{ padding:10px 0; font-size:12px; color:#08368a;} 

.table_box{ float:left; width:70%; margin:10px 15%;}
.table{float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size: 12px; margin:10px 0;}

.table tr:first-child td{ border-right:1px solid #333;  border-top:1px solid #333; font-family:Arial, Helvetica, sans-serif; font-size:13px; }
.table tr td:first-child{ border-left:1px solid #333;  }
.table td{ padding:1px; border-right:1px solid #333; border-bottom:1px solid #333; color:#585858; font-size:11px; word-break:break-all; background:#fff;}
.table td p{ padding:5px; color:#000;}
.table td strong{ font-weight:bold;}

.titles{ margin-left:15%; text-align:left; padding-bottom:10px; color:#08368a; font-weight:bold; font-size:14px;}
.fee{margin-left:15%; text-align:left; padding-bottom:10px; float:left; color:#08368a;  font-size:12px;}
.layout{ width:1000px; margin:0 auto;}

