﻿/*-----------------------------------------------------------------------------------

    Template Name: academia education bootstrap template
    Template URI: http://bootexperts.com
    Description: This is html5 template
    Author: BootExperts
    Author URI: http://bootexperts.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
        
    *** Theme Default CSS (body, link color, section etc)
        1. header area css
        2. nav menu css
        3. slider area css
        4. about area css
        5. service area css
        6. courses area css
        7. single courses css
        8. teacher area css
        9. offer area css
        10. priging area css
        11. share area css
        12.News area css
        13. footer area css 
        14. footer bottom css
        15. banner css
        16. home 2 css
        17. home 3 css
        18.faq area css
        19.gellary area css
        20.404 area css
        21.about top banner page css
        22. banner area css
        23.News Bulletin  css
                23.1 single news blutin css
        24. blog area css
        25.contact area css
        26.  breadcrumb css
-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html, body {height: 100%;}
body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #373737;
    background-color: #ffffff;
    font-family: arial;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.modal-header {
    padding: 5px 15px 5px !important;
}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 10px;font-family: sans-serif;   font-family:Helvetica,Arial,sans-serif;}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 10px;color:#2d2d2d;font-family: sans-serif;font-size:18px;
}
h5{
    font-size:14px;
}
a {
    color: #ff7e00;font-family: sans-serif;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #0195ca;
    text-decoration: none;
}
a:focus {
}
figure {
    margin: 0;
}
ul{
    list-style: outside none none;
    margin: 0;
    padding: 0
}
small, .small {
    font-size: 85%;
}
ul,li,a{
    font-family: sans-serif; 
}
.clear{clear:both}
body {}
.pd0{
    padding:0px;
}
.pdr0{
    padding-right:0px;
}
.pdrl{
    padding-left:0px;
}
/*====================
header area css
=====================*/
.header_area{
    color: #636363;
    padding-bottom: 20px;
    padding-top: 20px;
    background:#fff;
}
.social_icon{margin-right:10px;}
.social_icon a.icon-set i {
    border: 1px solid transparent;
    display: block;
    padding: 9px 5px;
    text-align: center;
}
.icon-set i {color: #ff7e00}
.social_icon p
{
    margin:0px;
}
.language a {font-weight: bold}
select.form-lan {
    border: 1px solid #01bafd;
    border-radius: 0;
    outline: 0 none;
    padding: 6px 15px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.social_icon p a{
    display:inline-block;
}
.phone_address p{margin:5px 0 0}
.phone_address span {
    margin-left: 15px;
}
/*====================
2. nav menu css
=====================*/
.nav_area {background:#282828;} .menu ul {
}
.menu ul li {
    float:left;
    position:relative;
}
.menu ul li > a {
    display:block;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    padding:15px 15px;
}
.menu ul li:hover a {
    color: #fff;
    background: #d03134;
}
.menu ul ul {
    background: #01bafd none repeat scroll 0 0;
    left: 0;
    position: absolute;
    top: 100%;
    width: 200px;
    z-index: 99999;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -o-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    opacity:0;
}
.menu ul ul li{
    display:block;
    float:none;
}
.menu ul ul li a {
    font-size: 12px;
    font-weight: normal;
    padding: 12px 15px;
}
.menu ul ul li a:hover{
    background:#282828;
}
.menu ul li:hover ul{
    opacity:1;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
}
.home-3 .menu ul ul li > a {
    color: #fff;
}
/*serch form css*/
.form_control {
    background: #000 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    height: 50px; box-shadow: 0 0 9px #fff;
    margin-right:5px;
    padding-left:10px;
}
.home-2 .form_control {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 2px #01bafd;color:#666;
}
.form_control:focus{
    box-shadow: 0 0 5px #fff;	
}
.home-3 .form_control{
    box-shadow: 0 0 5px rgb(2, 186, 255);
}
.home-3 .form_control{
    color:#666;
    padding-left:10px;
}
.form_control{
    display:none;
}
.search-box{
    position: absolute;
    right: 5px;
}
.search-box input{}
.search-box .search-open {
    display: block;
    float: right;
    text-align: right;
    width: 19px;
    margin-right:15px;
}
.search-box .search-open i {
    color:#ff7e00;
    cursor: pointer;
    font-size: 16px;
    line-height: 50px;
    opacity: 1;
}
.search-box .search-open i:hover {
    /*color: #333;*/
    color:#ff7e00;
}

.home-2 .search-box .search-open {
    margin-right:15px;
}
.home-2 .search-box .search-open i {
    color: #fff;
}
/*----------------------------------------*/
/*3. Slider area css
/*----------------------------------------*/
.slide_wrap_area{
    position:relative;	
}
.home-2.nav_area {
    left: 0;
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 9999;
    background:transparent;
}
.slider-wrap.home-1-slider {
    height: 600px;
    overflow: hidden;
}
.nivo-caption {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    opacity: 1;
}
.slide-text {
    height: 100%;
    margin-left: 0px;
    width: 100%;
}
.cap-title h1 {
    color: #fff;
    font-size: 62px;
    font-weight: 700;
    margin-left: 0;
    text-transform: capitalize;
}
.cap-dec {
    margin-bottom: 35px;
}
.cap-dec h2 {
    color: #fff;
    font-size: 28px;
}
.cap-readmore {
}
.cap-readmore a {
    background: #02baff none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    padding: 16px 26px;
    text-transform: uppercase;
    transition:.5s;
}
.cap-readmore a:hover {
    background:#fff;
    box-shadow:0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
    color:#02baff;
}
i.nivo-prev-icon,
i.nivo-next-icon {
    background: #314e6c none repeat scroll 0 0;
}
.home-1-slider i.nivo-prev-icon,
.home-1-slider i.nivo-next-icon {
    background: rgba(0,0,0,.8);
    border: 1px solid rgba(0,0,0,.8);
    color: #fff;
    font-size: 25px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    width: 40px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    border-radius:50%;
}
i.nivo-prev-icon:hover,
i.nivo-next-icon:hover {
    background: #000;
    border-color: #000;
}
.slider-wrap:hover i.nivo-prev-icon,
.slider-wrap:hover i.nivo-next-icon {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    opacity: 1;
}
.nivo-controlNav {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 9999;
}
.nivo-directionNav a {
    cursor: pointer;
    position: absolute;
    top: 35%;
    z-index: 9;
}
.nivo-prevNav {
    left: 5px;
}
.nivo-nextNav {
    right: 5px;
}
.nivo-control {
    background: #e2e2e2 none repeat scroll 0 0;
    border-radius: 4px;
    display: inline-block;
    height: 15px;
    margin: 0 5px;
    text-indent: -99999px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 15px;
}
.nivo-control.active {
    background: #314E6C;
}
.slide1-text.slide-text {
    margin-top: 0;
}
.nivo-prevNav i:hover,
.nivo-nextNav i:hover
{
    background: #01bafd none repeat scroll 0 0;
    border-color: #01bafd;
}
.nivoSlider img {}
/*slider 1 css */
.carousel-caption h3 {
    font-size: 28px;
    color: #fff;
}
.slider_area{

    background: #b971f1;
    background-size: cover;
}
.slide_text {
    color: #fff;
    /*padding: 48px 0 113px 30px;*/
    padding:48px 0 0px 30px;
}
.slide_title {
    /*    animation-delay: 0.1s;
        color: #fff;
        font-size: 42px;
        font-weight: bold;
        padding-right: 20px;
        text-transform: uppercase;
        margin-top: 43px*/
    animation-delay: 0.1s;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    padding-right: 20px;
    text-transform: uppercase;
    margin-top: 25px;
}
.home-4 .slide_title {
    margin-top: 0px;
}
.slide_ptext{
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 15px;	
}
.slide_readmore {
    background-color: none;
    border: 1px solid #fff;
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;font-size: 18px;
    transition:1s;
}
.slide_readmore:hover{
    background-color: #fff;
    color:#01bafd;
    border-color:#fff;
}
.slide_tab{
    background:#d03134;
}
.slide_tab:after{
    clear:both;
    display:block;
    content:"";
}
.nav_style li {
    float:left;
    width: 20%;
    position:relative;
}
.nav_style li a {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    height: 75px;
    padding: 19px 0 0 59px;
}
.nav > li > a:focus, .nav > li > a:hover{background:transparent;}
.nav_style li::before {
    border: 1px solid #fff;
    border-radius: 50%;
    content: "";
    height: 15px;
    left: 20px;
    position: absolute;
    top: 30%;
    width: 15px;
}
.nav_style li.active{
    background:#000;
}
.nav_style li.active::before{
    background:rgb(2,186,255);border: 1px solid rgb(2,186,255);
}
.slide_nav_menu{
    overflow:hidden;
}
/*================
about area css
===================*/
.about_area{
    padding: 50px 0 0px;
    background:#fff;
}
.module-title{
    font-family: sans-serif;
    font-size: 23px;
    margin-bottom: 20px;
    font-weight: normal;
    color: #000;
    line-height: 30px;
}
.module-title > span {
    display: block;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: -4px;
    color: #ff6c00;	
}
.content-inner p{line-height: 28px;}
.video-wrapper {
    background-image: url("../img/video-img-1.jpg");
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    /*margin-top: 15px;*/
    /*min-height: 315px;*/
    position: relative;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    visibility: visible;
    width: 100%;
    /*margin-bottom:40px;*/ 
}
.video-wrapper .vidwrap::before {
    /* color: rgba(247, 247, 247, 0.5);
     content: "";
     cursor: pointer;
     font: 100px/1 FontAwesome;
     left: 45%;
     position: absolute;
     top: 40%;
     transition: all 0.2s ease-in-out 0s;
     z-index: 2;*/
}
/*================
service area css
===================*/
.service_area{
    text-align:center;
    padding:20px 0px;
    background:#fff;
}
.service_item{
    padding-top: 30px;
}
.service_item span{
    font-size:80px;
    transition:1s;
}
.service_item:hover span{
    color:#02BAFF;
}
.service_item h2{
}
.service_item p{
}
.home-3.service_area {
    padding: 30px 0 50px;
}
.iframe1{
    width:100%;
    height:250px;
}
/*================
courses area css
===================*/
.courses_area {
    background: #f7f7f7  /*url("../img/transparent-back-2.png") no-repeat scroll 100% 0;*/
        /*padding: 10px;*/

}
.course_item {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    line-height: 1.42857;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    overflow:hidden;
    height: 560px;
}
.course_readmore{
    color: #ff7e00 !important;  
    font-size: 14px;
}
.course_readmore:hover{
    text-decoration: underline ;
}
.course_item:hover {
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
}
.courses_thumb{
    position:relative;
}
.courses_thumb_text a {
    color: #000;
}
.courses_thumb_text{
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
    position: absolute;
    top: 0;
    right:0;
    z-index: 1;
    background: #fff200;
    padding: 3px 10px;
}
.courses_thumb_text p{font-size:13px;}
.courses_content{
    padding: 10px;
}
.courses_content h2{ margin: 10px 0 5px;font-weight: normal;}
.courses_content h2 a{color: #2d2d2d;}
.courses_content h2 a:hover{color: #ff7e00;}
.courses_content p{
    font-weight: normal;
    margin-top: 10px;
}
.text_uppercase {font-size:12px;font-weight: bold;color:#2d2d2d;}
.text_uppercase i {color:#d03134;}
/*====================
 single courses css
=====================*/
.met-box .thumbnail_img{
    padding-right:0px !important;
}
.met-box .thumbnail_img{
    padding-right:0px !important;
}
.met-box .news_title{
    /*padding-right:0px !important;*/
}
.search_filter input{
    padding:0px 5px;
}
.met-box .thumbnail_img img{
    height: 85px !important;
    width: 85px !important;
    border-radius: 5px;
}
.met-box {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
}
.vedio_tutoria{
    padding: 0px;
    margin-top:20px; 
}
.inner_video {
    padding:20px;
}
.met-box figure{

}
.met-box h4,
.met-box h3{
    font-size:24px; color: #636363;
}
.met-box span {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-right: 18px;
    text-align: center;
    width: 50px;
}
/*================
teacher area css
===================*/
.teacher_area {
    background: rgb(247, 247, 247) none repeat scroll 0 0;
    padding-bottom:40px;
    padding-top: 20px;

}
.single_teacher_item_new {width:50%!important}
.single_teacher_item{
    width:25%;
    float:left;
    position:relative;
}
.teacher_thumb{
    position:relative;
}
.teacher_thumb::before {
    box-shadow: 0 -200px 200px -100px rgba(69, 69, 69, 0.75) inset;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}
.thumb_text > h2 {
    color: #fff;
    font-size: 18px;
}
.thumb_text{
    bottom: 0;
    padding: 0 20px;
    position: absolute;color:#fff;
    width: 100%;
}
.teacher_content{
    background: rgba(1, 186, 253, 1) none repeat scroll 0 0;
    color: #fff;
    opacity: 0;
    padding: 67px 40px;
    text-align: center;
    z-index: 2;
    height: 100%;
    position: absolute;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    width: 100%;
    left:0;
    top:0px;
}
.teacher_content > p {
    margin-top: 10px;
}
.social_icons{

}
.social_icons a {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    height: 37px;
    line-height: 37px;
    width: 37px;	margin-top:10px;
}
.social_icons a i{

}
.fb {
    background: #3B5998;
}
.tw {
    background: #00ACED;
}
.go {
    background: #DD4B39;
}
.lin {
    background: #0177B5;
}
.pin:hover {
    background: #CB2027;
}
.single_teacher_item:hover .teacher_content{
    box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    opacity:1;
}
.home-2 .teacher_content {
    padding: 80px 60px 0;
}
/*================
offer area css
===================*/
.offer_area {
    background-image: url(../img/home1/header_img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    clear: both;
    color: #ffffff;
    font-size: 16px;
    padding: 100px 0 100px;
    position: relative;
    width: auto;
}

.offer_area::before {
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.offer_content > p {
    font-size: 20px;
}
.readmorep {
    margin-top: 40px;
}
.readmore {
    background-color: #01bafd;
    border-color: #01a7e4;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    line-height: 1.33;
    margin-top: 30px;
    padding: 10px 18px;text-transform:uppercase;
    transition:1s;
}
.readmore:hover{
    background:#fff;
    color:#01bafd;
}
.bmore {
    font-size: 16px;
    padding: 6px 18px;
    border: 1px solid #d5d5d5;
    font-weight: bold;
}
.offer-title {
    color: inherit;
    font-family: sans-serif;
    font-size: 29px;
    font-weight: normal;
    margin-bottom: 15px;
}
.offer-title > span {
    display: block;
    font-family: sans-serif;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFEB3B;
}
.media-box {
    float: right;
    margin-top: 44%;
}
.video-button {
    color: #ffffff;
    display: block;
    font-family: monosterbold;
    font-size: 27px;
    font-weight: bold;
    margin-top: 10px;
    position: relative;
} 
.video-button:hover{
    color:#fff;
    background:transparent;
}
/*================
priging area css
===================*/
.priging_area {
    background: 
        linear-gradient(135deg, #f9f6f1 25%, transparent 55%) -50px 0,
        linear-gradient(225deg, #f9f6f1 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #f9f6f1 25%, transparent 55%),
        linear-gradient(45deg, #f9f6f1 25%, transparent 25%);	
    background-size: 100px 100px;
    background-color: #fff;
    color: #373737;
    padding-top: 20px;
    padding-bottom: 40px;
}
.priging_area_shop {background: #fff!important}
.priging_thumb a{
    position:relative;
    display:block;
}
.priging_thumb a{
}
.priging_item {
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    line-height: 1.42857;
    margin-bottom: 40px;
    padding: 0 25px;
}
.priging_content {
    padding-bottom: 30px;
}
.priging_content > h2 {
    margin: 10px 0 10px;
    /*    min-height:70px;
        max-height:70px;*/
    text-overflow: ellipsis;
    overflow: hidden;
    text-align:center;
}
.priging_content > p {
    text-align:center;
}
.priging_content a {
    background-color: #d03134;
    border-color: #01a7e4;
    color: #ffffff;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    transition:1s;
    -webkit-transition:1s;
    -ms-transition:1s;
    -o-transition:1s;
    -moz-transition:1s;
    align:center;
}
/*.priging_content a:hover{
    background:#0195CA;
}*/
.readmore:hover{
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
}
.learnmore {
    margin: 61px 0 0;
    text-align: center;
}
.readmore.read3 {
    font-size: 27px;
    margin-top: 20px;
    padding: 10px 15px;
}
.read_more.buttonc {
    border: medium none;
    line-height: 18px;
    margin-top: 0px;
    padding: 10px 30px;
}
.single_priging_area {
    padding: 100px 0 10px;
}
.store_title {
    font-size: 54px;
    font-weight: bold;
}
.priging_content .store_title{
    margin-top:-10px;
} 
.label_right{
    margin-left:10px;
}
.log-dis{
    list-style:disc ;
}
.i_box.input_box40 input{
    width:40%;
}
/*================
share area css
===================*/
.share_area {
    background: #fff none repeat scroll 0 0;
    padding: 35px 0 35px;
}
.share-item {
    overflow: hidden;
}
.share-container{}
.share-container > div{}
.share-container > div:nth-child(1) .share-item {
    background:#3b5997;
}
.share-container > div:nth-child(1) .share-item:hover {
    background:#263960;
}
.share-container > div:nth-child(2) .share-item {
    background:#29c5f6;
}
.share-container > div:nth-child(2) .share-item:hover{
    background:#089cca;
}
.share-container > div:nth-child(3) .share-item {
    background:#de332c;
}
.share-container > div:nth-child(3) .share-item:hover {
    background:#a41f1a;
}
.share-container > div:nth-child(4) .share-item {
    background:#006dc0;
}
.share-container > div:nth-child(4) .share-item:hover {
    background:#004274;
}
.brand_content{

}
.brand_content a {
    color: #fff;
    position: relative;
}
.brand_content i {
    color: #fff;
    font-size: 5em;
    left: 0;
    margin-right: 20px;
    position: absolute;
    top: 37px;
}
.content_left_tw i{
    left:-21px;
}
.content_left_in i{
    left:-7px;
}
.content_left_pn i{
    left:-23px;
}
.icone_text {
    margin-left: 20%;
    padding: 15px 15px 10px;
}
.icone_text h5{
    color:#fff;
}
.icone_text > p {
    padding-top: 7px;
}
/*================
News area css
===================*/
.news_area {
    background: #fff none repeat scroll 0 0;
    padding: 25px 0 25px;
}
.single_news_item{
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    line-height: 1.42857;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    margin-bottom:15px;
    height: fit-content;
    min-height:300px;
}
.news_content {
    padding:15px;
}
.date{
    font-size:11px;
    color:gray;
}
.news_content p{
    font-size:12px;line-height:18px;
}
.news_content h2{
    font-size:15px;
}
.single_news_item:hover{
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
}
.news_content h2 a {
    color: #2d2d2d;
    transition:1s;
}
.news_content h2 a:hover {
    color: #01bafd;
}
.read_more{
    text-decoration: none;
    display: inline-block;
    background: #d03134;
    color: white;
    font-size: 12px;
    padding: 7px 10px;
    text-transform:uppercase;color:#fff;
}
.read_more:hover{
    background:#ff6c00;color:#fff;
}

/*================
footer area css 
===================*/
.footer_area {
    background: #2d2d2d none repeat scroll 0 0;
    padding: 40px 0 0;
    clear: both;
}
.footer_top_left span,
.footer_top_right span{
    color: #fff;
    font-size: 15px;
}
.footer_top_right {
    margin-top: 11px;
    text-align: right;
}
.sign_up{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #01bafd;
    font-size: 15px;
    padding: 4px 10px;
    margin-left: 20px;

}
/*footer widget css*/
.single_widget {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
}
.widget_thumb > img {
    float: left;
    margin-right: 30px;
}
.footer_area .widget_content > h2 {
    color: #ff7e00;
    font-weight: 600;
}

.widget_content > h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;  
}
.widget_content > p {
    color: #ddd;
}
.widget_content ul{}
.widget_content ul li{}
.widget_content ul li a{
    color:#ddd;
    display:block;
    padding:2px 0px;
}
.widget_content ul li a:hover{
    color:#ff7e00 !important;
}
.widget_content a i{
    color:#d03134;
}
.inputbox input {
    display: block;
    font-size: 14px;
    height: 34px;
    padding:0 10px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.inputbox input:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.buttons {
    border: medium none;
    line-height: 18px;
    margin-top: 20px;
    padding: 10px 19px;
    font-size:14px;
}
/* .buttons {
  border: medium none;
  line-height: 18px;
  margin-top: 20px;
  padding: 10px 30px;
} */
/*footer bottom css*/
.footer_bottom_area {
    background: rgb(33, 33, 33) none repeat scroll 0 0;
    padding: 15px 0;
}
.footer_bottom_area p{
    color:#fff;
    margin:0px;
}
.borderbottom {
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    overflow: hidden;
    padding-bottom: 20px;
}
/*banner css*/
.banner_area {
    background: #f7f7f7 url("../img/home3/banner-bg.png") no-repeat scroll 100% 0;
    padding-bottom:90px;
    padding-top: 90px; 
    background-size:cover;
}
/*home 2 css*/
.about_us h3 {color:#ff6c00;padding:10px 0 0px 0}
.home-2.header_area {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    padding: 5px 0;
}
.home-2 .social_icon p a {
    color: #fff;
}
.home-2 .btn-default {
    background-color: #000;
    border-color: #000;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    color: #fff;
}
.home-2.nav_area {
    background: transparent;
}
.home-2.about_area {
    background-image: url("../img/home2/transparent-back-2.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 80px 0 90px;
}
.home-2 .video-wrapper {
    background-image: url("../img/home2/video-img-2.jpg");
}
.text_timonial{
    background:rgb(130,181,63);
    clear:both;	
}
.text_timonial:after{
    content:"";
    display:block;
    clear:both;
}
.testimonial_text {
    width: 60%;float:left;
}
.testimonial_text_inner {
    padding: 47px 0 0 50px;
}
.testimonial_text_inner p,
.testimonial_text_inner h2,
.testimonial_text_inner h5
{
    color:#fff;
}
.test_thumb{
    width:40%;
    float:right;
}
.home-2 .courses_thumb {
    float: left;
    width: 50%;
}
.home-2 .courses_content {
    float: right;
    width: 50%;
}
.home-2 .single_teacher_item{
    width:100%;
    float:none;
    margin-bottom:30px;
}
.courses_content h2 a:hover{
    color:#0195ca;
}
.home-2.priging_area {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffffff 0%, #ffffff 48%, #2d2d2d 48%, #2d2d2d 100%) repeat scroll 0 0;
    padding-bottom: 80px;
}
.home-2 .module-title.title2{
    color:#fff;
}
.home-2 .priging_content h2{
    color:#fff;
}
.home-3 .priging_content h2{
    color:#2d2d2d;
}
.courses_area.home-2 {
    padding: 80px 0 50px;
}
.read_more2 {
    display: inline-block;
    font-size: 22px;
    margin: 48px 0 0;
    text-transform: uppercase;
}
.home-2.offer_area {
    background-image: url("../img/home2/bg2.jpg");
}
.home-2 .media-box {
    float: left;
    margin-top: 44%;
}
.home-2 select.form-lan {
    background: transparent none repeat scroll 0 0;
}
.home-2.teacher_area {
    overflow: hidden;
    padding-bottom: 64px;
}
.home-2 .learnmore {
    margin: 0;
    text-align: left;
}
.home-2.news_area {
    background: #f3f3f3 none repeat scroll 0 0;
}
.home-2.share_area {
    background: #f3f3f3 none repeat scroll 0 0;
}
/*home 3 css*/
.home-3.nav_area {
    background: rgb(247, 247, 247) none repeat scroll 0 0;
}
.slider_area3{
    background-color: #4d4d4d;
    background-image: url("../img/home3/slide1.jpg");
    background-size: cover;
    color: #ffffff;	
}
.slide_thumb3{
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    padding: 75px 50px;	
}
.slide_thumb3 h1{
    font-size:65px;color:#fff;font-weight:bold;
}
.slide_thumb3 h3{
    font-size:22px;color:#fff;
}
.home-3 .menu ul li > a {
    color: #373737;
}
.home-3 .menu ul li:hover a {
    background:#01bafd;color:#fff;
}
.home-3 .menu ul ul li a:hover {
    background:rgb(1,149,202);
}
.home-3 .form_control {
    background:transparent;
}
.home-3 .search-box .search-open i{
    color:#373737;
}
.input-lg{
    width:100%;
    border-radius: 0;
    font-size: 18px;
    height: 45px;
    line-height: 1.33;
    padding: 10px 16px;	
    border:none;
    color:#000;
}
.btn3 {
    background: #01bafd none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    padding: 10px 15px;
    text-transform: uppercase;
}
.home-3.offer_area {
    background-image: url("../img/home3/offer3.jpg");
}
.home-3.priging_area{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f7f7f7;
    background-image: url("../img/home3/campaign.png"), linear-gradient(to right, #f7f7f7 0%, #f7f7f7 50%, #605ca8 50%, #605ca8 100%);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;	
}
/*courses*/
.media-heading {color:#ff7e00}
.lead {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
    margin: -18px 0px 33px;
}
.more_read_gray{
    background-color: #e6e6e6;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.4);
    color: #333333;
    display: inline-block;
    margin: 5px 0px 5px 0px !important;
    padding: 6px 12px;
}
.more_read_gray:hover{
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333333;	
}
.more_read{
    background-color: #d03134;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.4);
    color: #fff;
    display: inline-block;
    margin: 5px 0px 5px 0px !important;
    padding: 6px 12px;
}
.more_read:hover{
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333333;	
}
/*faq area css*/
.faq_area{
    padding:25px 0px 65px;
}
.check-title {
    color: #262626;
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    border: 1px solid #ddd;
}
.panel-group .panel {
    box-shadow: none;
}
.panel-body{
    border-width:0px 1px 1px 1px;
    border-style:solid;
    border-color:#d0d0d0;
    text-align: justify;
    line-height: 22px;
}
.panel_heading {
    padding: 0; margin:0px;
}
.panel_heading a {
    display: block;
    font-size: 0.8em;
    padding:20px 10px;
    color:#4a4a4a;font-size: 0.8em;
}
.panel_heading a.active {
    background: #01bafd ;
    color: #fff;
}
.panel_heading a.collapsed{
    color: #515151;
    background: transparent;
}
/*gellary area css*/
.gellary_thumb > a {
    display: block;
}
.gellary_thumb{
    transition:.5s;
    border: 1px solid #d3d3d3;

}
.gellary_thumb:hover {
    box-shadow: 9px 9px 7px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
}
.single_gellary_item > p {
    margin: 15px;
    text-align: center;
}
/*====================
 404 area css
=====================*/
.not_found_area{
    padding:90px 0px 0px;
}
.not_found{
    text-align:center;
}
.not_found img{}
.not_found h1{
    font-size: 65px;
    font-weight: bold;
}
.not_found h2{
    font-size:39px; 	
    color:#636363;
}
/*about top banner page css*/
.about_area_s,.blog_samurry{
    background-image: url("../img/about-us.jpg");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;position: relative;
    margin: 0;
}
.gallery_bg{
    background-image: url("../img/gallery.jpg")!important;
}
.about_area_shop{
    background-image: url("../img/shop.jpg")!important;
}
.about_area_login{
    background-image: url("../img/login.jpg")!important;
}
.about_area_s::before,.blog_samurry::before {
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.page-title {
    font-size: 62px;
    margin-bottom: 40px;color:#fff;
    padding: 30px 0 30px;font-weight:bold;
}
.page-title small {
    color: #ffffff;
    display: block;
}
.about_pra_top {
    font-size: 24px;
}

.about_bottom_text{
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
    margin-bottom: 20px;
    font-size:21px;
}
.about_more{
    margin-top:10px;
}
.about_more:hover {
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
}
.page{
    padding:30px 0px;
}
/*====================
banner area css
=====================*/
.banar_area{}
.single_banar{
    background: #01bafd;
    padding:50px 0px; 
}
.single_banar:after{
    content:""; 
    display:block; 
    clear:both;
}
.banner_item_area > div:nth-child(1) .single_banar{
    background:rgb(1,186,253);
}
.banner_item_area > div:nth-child(4) .single_banar{
    background:rgb(1,186,253);
}
.banner_item_area > div:nth-child(2) .single_banar{
    background:rgb(66,139,202);
}
.banner_item_area > div:nth-child(3) .single_banar{
    background:rgb(66,139,202);
}

.banar_icon{
    width:20%;
    float:left;
    text-align:center; 

}
.banar_icon i{
    font-size:50px;
    margin-top:10px;
    color:#fff;
}
.banar_icon{}
.banar_content{
    width:70%;
    float:left;

}
.banar_content h2,
.banar_content p
{
    color:#fff;
}
.banar_content p{}
/*News Bulletin  css*/
.news_buletin_pra{
    padding:0px;
    position:relative;
}
.news_buletin_pra p{
    font-size:13px;
    margin:15px 0 25px;
}
.news_buletin_pra h2{
    font-size:19px;
}
.news_heding_title{
    font-size:13px;
}
.date > span {
    margin-right: 10px;
}
.print > ul{
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.4);

    position: absolute;
    right: 0;
    top: 5px;
}
.print > ul > li
{
    position:relative;display:block; padding: 8px;
}
.print ul ul {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.4);
    position: absolute;
    right:0px;
    top: 100%;
    width: 150px;
    display:none;
}
.print ul ul li{

}
.print ul li:hover ul{
    display:block;	
    z-index:99;
}
.print ul ul li:hover{
    background:#f5f5f5;
}
.print ul ul li a{
    display:block;padding: 8px 15px;	
}
.print span{
    margin-left:5px;
}
.print_drop{
    display:block;
}
/*single news blutin css*/
.news_single_thumb {
    float: left;
    margin: 0 25px 0px 0;
    max-width: 500px;
}
.img_caption{background:rgb(208,208,208);    padding: 5px;
             text-align: center;
}
.met-box:hover {
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
}
/*blog area css*/
.margin-bottom{
    margin-bottom:30px;
}
.blog_samurry{
    background-image: url("../img/home1/protfolio/offer3.jpg");
}
.mg0{
    margin:0px;
}
/*blog right*/
.blog-title{
    font-family: sans-serif;
    font-size: 23px; margin-bottom: 30px;
    font-weight: normal; color: inherit;	
}
.blog-title > span {
    display: block;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.module-inner {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 20px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
}
.module-inner:hover {
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
}
.mostread > li {
    border-bottom: 1px solid #eee;
    margin: 5px 0;
    padding: 5px 0;
    font-size: 14px;
    line-height:18px;
}
.mostread > li:last-child{
    border-bottom: 0px solid #eee;
}
.tags > li {
    background: #ddd none repeat scroll 0 0;
    display: inline-block;
    margin-bottom: 4px;
}
.tags > li > a{  padding: 5px;display:block;color:#4d4d4d;transition:.5s;}
.tags > li > a:hover{
    background: #0182b1 none repeat scroll 0 0;
    color: #ffffff;		
}
.news_content.news_buletin_pra > h1 {
    margin: -6px 0 0;
    font-size: 20px;
}
.news_content.news_buletin_pra > h1 a{
    color: #ff7f01;
    transition:.5s;
}
.news_content.news_buletin_pra > h1 a:hover{
    color:#01bafd;
}
.single_athur{
    margin:15px 0px 20px;
}
/*contact area css*/
.contact_area {
    padding: 50px 0 0px;
}
.form-group {
    /*    clear: both;
        margin-bottom: 25px;
        overflow: hidden;*/
}
.form-group_home {
    clear: both;
    margin-bottom: 5px;
    overflow: hidden;
}
.fnone{
    text-align:right;
}
em {
    color: orange;
}
textarea,.i_box input {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #4d4d4d;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
textarea{
    height:200px;
}
textarea:focus,.i_box input:focus{
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.media-body {padding-bottom: 15px;}
.media-left i {
    font-size: 20px;
    height: 35px;
    line-height: 20px;
    text-align: left;
    width: 35px;
}
#googleMap {
    height: 450px;
    width: 100%;
}
/*home 3 pricing*/
.home-3.priging_area {
    color: #373737;
    padding-top: 60px;
}
.image_thumb3{
    margin-bottom: 60px;
    text-align: center;	
}
.image_thumb3 img{
    display: inline-block;
    max-width: 200px;
}
.article-title {
    color: #fff;
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}
.singup{
    text-align:center;
}
.readmore.read3.yellow {
    background-color: #fff200;
    color: #373737;
    font-size: 40px;
    padding: 20px 30px;
}
/*single courses*/
.single_courcse {
    padding-top: 30px;
}
.tutor_thumb {
    float: left;
    width: 20%;
    margin-right:5%;
}
.tutor_thumb > img {
    float:left;margin-right:10px;margin-top:12px;position:absolute;width:25px;
}
.tutor_content > h4 {
    font-size: 14px;
    line-height: 18px;
    margin-left: 35px;
    text-align: center;
}
.tutor_content {
    overflow: hidden;
}
.text-muted {color:#ff6c00}
.at-social{border-bottom: 1px dashed #dadada;padding-bottom: 10px;}
.at-social a {
    background-color: #4d4d4d;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    text-align: center;
    width: 25px;
}
.single_courcse_title{
    font-size:36px;font-weight:bold; color: #636363;
}
.single_courcse_titles{
    font-size:24px;font-weight:bold; color: #636363;
}
/*----------------------------------- 
 breadcrumb css
-------------------------------------*/
.breadcrumb-area {
    background: #ebebeb none repeat scroll 0 0;
    padding: 8px 0;
}
.breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    display: block;
    padding: 0;
    width: 100%;
    margin:0;
}
.breadcrumb ul {} .breadcrumb ul li {
    display: inline-block
}
.breadcrumb ul li a {
    display: inline-block;
}
.breadcrumb ul li i {
    margin: 0 10px;
}
.breadcrumb ul li a:hover {

}
/*================
        own carsoul custom css
==================*/
.owl-theme .owl-controls{
    margin-top:0;
}
.owl-pagination{
    position: absolute;
    text-align: center !important;
    left: 2%;
    top: 39%;
}
.owl-theme .owl-controls .owl-page{
    display: inherit;}
.owl-theme .owl-controls .owl-page span {
    background:#fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
/*mobile menu*/
.mobile_memu_area{
    display:none;
}
.home-2.mobile_memu_area{
    background: #000 none repeat scroll 0 0;
}
.margin_top_store{
    margin-top:10px;
}
.single_gellary_item a {
    color: #333;
}
.single_gellary_item {margin-bottom:25px;}
.blogs-title {
    color: #fff;
    font-size: 62px;
    font-weight: bold;
    margin-bottom: 40px;
}
.blog_about {
    padding: 150px 0 50px;
}
.blogss-title {
    color: #fff;
    font-size: 62px;
    font-weight: bold;
    margin-bottom: 10px;
}
.met-box-title {
    margin-bottom: 15px;
}
/*scrool up*/
#scrollUp {
    background-color: #d03134;
    border-radius: 50%;
    bottom: 	20px;
    color: #fff;
    font-size: 30px;
    height: 45px;
    line-height: 40px;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 45px;
    border:1px solid #fff;
    transition:1s;
}
#scrollUp:hover {
    border-color: #017ba7;background-color: #fff; color: #01bafd;
}
.home-2 .menu {
    float: right;
    padding-right: 40px;
}
.home-2 .search {
    position: absolute;
    right: 15px;
}
.home-2 .search-box input {
    width: 725px;
}
.left_sidet1 {
    margin-top: 17%;
}
.box-bg {
    background: red;
}
/*home 4*/
.home-4 .search-box {
    padding-right: 15px;
}
.home-4 .search-box .search-open {
    margin-right: 0px;
}
.module-title.title_left4{
    margin-left:15px;
}
.home-4 .teacher_content{
    padding:30px 40px;
}
.home-4 .single_teacher_item:hover .teacher_content {
    opacity: 1;
    transform: scale(1);
}
.body{
    background-image: url("../img/bg_2.png");
}
.courses_area.home-4,
.header_area.home-4,
.about_area.home-4,
.offer_area.home-4,
.priging_area.home-4,
.news_area.home-4,
.share_area.home-4,
.footer_area.home-4,
.footer_bottom_area.home-4
{
    padding-left: 15px;
    padding-right: 15px;
}
.home-4.offer_area::before {
    bottom: 0;
    box-shadow: 800px 0 500px -150px rgba(0, 0, 0, 0.5) inset;
    content: "";
    display: none;
    height: 100%;
    position: absolute;
    opacity:0px;
}
.teacher_bg {
    background: #ddd none repeat scroll 0 0;
    overflow: hidden;
}
.apply_area{
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    line-height: 1.42857;
    margin-bottom: 20px;
    margin-top: 45px;
    padding: 20px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    overflow:hidden;
}
.apply{

}
.apply_text {
    font-size: 20px;
}
.apply_more > p {
    margin-top: 20px;
    text-align: right;
}
.read_morea {
    background: #5cb85c;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 7px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.read_morea:hover{
    color:#fff;
}
.apply_area:hover {
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
}
.courses_area.courses_padding{
    padding-top:90px;
}
.sharre_top{
    padding-top:80px;
}
.about_titlea span{
    text-transform:capitalize;
    font-weight:normal;
}
.notice span{
    text-transform:capitalize;
}
.pagination{
    border-radius:0px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.paginition_text li a{
    background-color:transparent;
}
.pagination .disabled a {
    background-color: #01BAFD;
    border-color: #01BAFD;color:#fff;border-radius: 0;
}
.mg_bottom60{
    margin-bottom:60px;
}
.couse_pra{
    font-size: 18px;
    font-weight: bold;	
}
/*ow carsol css edit style for model_owl*/
.owl-carousel {
    touch-action: manipulation;
}

.curosel-style4.owl-theme .owl-controls .owl-buttons div {
    background: #d73135;
    border-radius: 0;
    color: #fff;
    font-size: 22px;
    height: 30px;
    line-height: 25px;
    margin: -20px 5px 5px;
    opacity: 1;
    position: absolute;
    top: -48px;
    right: 55px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    width: 30px;
    border:1px solid #fff;
}
.curosel-style4.owl-theme .owl-controls .owl-buttons div.disabled {
    background: #d73135;
    border-radius: 0;
    color: #fff;
    font-size: 22px;
    height: 30px;
    line-height: 25px;
    margin: -20px 5px 5px;
    opacity: 0.7;
    position: absolute;
    top: -48px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    width: 30px;
    border:1px solid #fff;
}
.curosel-style4.owl-theme:hover .owl-controls .owl-buttons div {
    opacity: 1;

}
.curosel-style4.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 15px;
    top: -48px;
}
.curosel-style4.owl-theme .owl-controls .owl-buttons .owl-next:hover {
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
}
.curosel-style4.owl-theme .owl-controls .owl-buttons .owl-prev:hover {
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);
}
.modal-body {
    padding: 0;
    font-size: 13px;
}
span.contact_title{
    font-size:50px;
}
.thankyou {
    margin-top: 20%;
    text-align: center;
}
.thankyou a{
    color:#ffaa31;
}
.enroll-intro-text{
    text-align: justify;
    padding: 10px 0;
    color: #ab0101 !important;
    font-size: 13px;
    font-weight: bold;
}
#sCourseEnqueryModal{
}
#sCourseEnqueryModal #sCourseEnquiryTitle{
    color: #fff;
    font-size: 15px;
    font-weight: bold;

}
#sCourseEnqueryModal .modal-header h4{ text-align: center}
#sMessageDialog{
    z-index: 9999999999999;
}
.courses_thumb img{
    /*height: 200px;*/
}
#sCourseEnqueryModal .row{
    padding-bottom: 10px;
}
#sCourseEnqueryModal .row label{
    color: #000;
}


#sServiceEnqueryModal #sServiceEnquiryTitle{
    color: #fff;
    font-size: 15px;
    font-weight: bold;

}
#sServiceEnqueryModal .modal-header h4{ text-align: center}
#sServiceEnqueryModal .row{
    padding-bottom: 10px;
}
#sServiceEnqueryModal .row label{
    color: #000;
}


#sBookEnqueryModal #sBookEnquiryTitle{
    color: #fff;
    font-size: 15px;
    font-weight: bold;

}
#sBookEnqueryModal .modal-header h4{ text-align: center}
#sBookEnqueryModal .row{
    padding-bottom: 10px;
}
#sBookEnqueryModal .row label{
    color: #000;
}

/*--------------------------
/* Apple TV Effect
/*-------------------------- */
.atvImg {
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height:400px;
}

.atvImg_shop {
    border: 1px solid #363636;
    border-top: 2px solid #363636;
    border-bottom: 5px solid #363636;
    border-left: 8px solid #363636;
}
.products .atvImg {
    height: 500px;
}
.atvImg img {
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
}
.atvImg-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}
/*.atvImg-container.over .atvImg-shadow {
  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}*/
.atvImg-layers {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-style: preserve-3d;
}
.atvImg-rendered-layer {
    position: absolute;
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: all 0.1s ease-out;
}
.atvImg-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.2s ease-out;
    /*box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);*/
}
.atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%);
}
.background_none input, textarea {background: none; border: 1px solid #3b3b3b}
.background_none textarea {height: 100px;}
.font25{font-size:28px;}
.form_home {background:#d03134}

/*testimonial*/
.testimonial {
    background-color:#edf3f3;
    background-image: radial-gradient(white 10%, transparent 16%),
        radial-gradient(white 10%, transparent 16%);
    background-size:20px 20px;
    background-position: 0 0, 30px 30px;
    color:#fff
}
/* carousel */
#quote-carousel 
{
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    margin-bottom: 30px;

}

/* Control buttons  */
#quote-carousel .carousel-control
{
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
    left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
    right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
    /*right: 50%;*/
    /*top: auto;*/
    bottom: -10px;
    margin-right: -19px;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
    background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
    background: #333333;
}
#quote-carousel img
{
    width: 250px;
    height: 100px
}
.dummy-buffer{
    min-height:0px;
    max-height:200px;
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}
.item blockquote small {
    color:#000;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.view-more-batch{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #d03134;
}

.view-more-batch:hover{
    text-decoration: none;
}

.h-link{
    color: #ff7e00; 
}

.modal-title{
    color: #fff !important;
    padding: 10px 0px;
    text-align: center;
}

.session-detail-link{
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    color:#ab0101;
}
.success{
    margin-bottom: 10px;
    text-align: center;
    color: green;
}
.width_800{
    /*width: 800px !important;*/
}

.width_700{
    width: 700px !important;
}

.session-detail-list{
    font-size: 13px;
}

.session-detail-header{
    font-weight: bold;
    padding: 5px 0;
}

.session-detail-item{
    font-weight: normal;
    padding: 5px 0;
    font-size: 12px;

}
.label-floating .control-label,.label-floating  .control-label-fix{
    font-size: 13px !important;
    color: #ff6900  !important;
    font-weight: 600  !important;
}

.label-floating input[type="text"], .label-floating select{
    font-size: 12px !important;
    color: #000  !important;
}
/**
  MEDIA QUERIES
*/
.header_right{
    text-align: right;
    float:right;
}
.currency_right{
    text-align: right;
    float:right;
}
.testimonial-text-footer .text-decription{
    padding-right: 80px;
    text-align: justify;
    cursor: pointer;
}
/* Small devices (tablets, 768px and up) */
.about_area h1{
    color: #ff7e00;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}
.about_area p {
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
    color: #666;
    /*word-break: break-all;*/
}
.about_area .cms-content ol{
    padding: 2px 0px 3px 20px;
    font-size: 15px;
    line-height: 24px;
    font-family: Helvetica,Arial,sans-serif;
}
.about_area .cms-content ol li{
    /*list-style: outside;*/    
    font-size: 15px;
    line-height: 24px; text-align: justify
}
.about_area .cms-content ul{
    padding: 2px 0px 3px 20px;
    font-size: 15px;
    line-height: 24px;
    font-family: Helvetica,Arial,sans-serif;
}
.about_area .cms-content ul li{
    /*list-style: outside;*/    
    font-size: 15px;
    line-height: 24px; text-align: justify
}
.photo_happening{
    padding: 0px;
}
.photo_happening h1{
    color: #ff7e00;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;    
}
.pagination ul li{
    list-style: none !important;
}
.pagination ul li:before {
    content: ""; 
}
.about_area .cms-content ul li:before {content: "•"; color: #ff7e00; font-weight: bold;font-size: 20px;
                                       display: inline-block; width: 15px;}
.news_thumb_main img{
    height: 510px;
    width: 100% !important;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
    height: 100%;
}
.carousel-control.left 
{
    left: -12px;
    display: none;
}
.carousel-control.right 
{
    right: -12px !important;
    display: none;
}
.carousel-indicators {
    position: absolute;
    bottom: 0px !important;
    right: 0 !important;
    z-index: 15 !important;
    width: 99% !important;
    text-align: right !important;
    list-style: none !important;
}
.gallery_icon{
    font-size: 13px;
    padding-bottom: 5px 0px;
}

.faqHeader {
    font-size: 22px !important;
    margin: 0px 10px 10px 0 !important;
}

.modal-open .modal{
    z-index: 999999999;
}
#sMessageDialogTitle, #sFeedbackDialogTitle, #sEnrolDetailDialogTitle{
    padding-left: 35% !important;
}
/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2.0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
    font-weight: 500;
}
.border_none{
    border: none !important
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}
.news_title a{
    color: #373737;
}
.news_title a:hover{
    color: #ff7e00;
}

@media (min-width: 768px) { 
    #quote-carousel 
    {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
    .module-title {
        font-family: sans-serif;
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: normal;
        color: #000;
        line-height: 24px !important;
    }
    .module-title > span{
        font-size: 18px !important;
        margin-top: 5px;
        line-height: 24px !important;
    }
    .courses_thumb img {
        height: 250px;
    }
    .page-title {
        font-size: 22px  !important;
        margin-bottom: 0;
        padding: 24px !important;
    }
    .container {
        width: 100% !important;
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: 22px !important;
    }
    .about_area h1{
        padding-bottom: 0px !important;
    }
    .about_area p{
        font-size: 13px !important;
        line-height: 22px !important;
        text-align: justify !important;
        color: #666 !important;
        word-break: inherit !important;
    }
    ol { 
        padding: 2px 0px 3px 10px !important;
    }
    ol li{
        color: #666 !important;
        font-size: 13px !important;
        line-height: 24px !important;
        text-align: justify !important;
    }
    .about_area .cms-content ul {
        padding: 2px 0px 3px 10px !important;
    }
    .about_area .cms-content ul li {
        color: #666 !important;
        font-size: 13px !important;
        line-height: 22px !important;
        text-align: justify !important;
    }
    .category_selection  label{
        width: 100%  !important;
        text-align: center  !important;
    }
    .module-title{
        text-align: center  !important;
        /*margin-bottom: 0px  !important;*/
    }
    .courses_thumb{
        text-align: center  !important;
    }
    .category_selection  select{
        width: 100%  !important;
    }
    #upcoming-events-list1 .left {
        padding: 10px 15px  !important;
    }
    #upcoming-events-list1 .location, #upcoming-events-list1 .time, #upcoming-events-list1 .date{
        margin-bottom: 0px  !important;
    }
    #sMessageDialogTitle, #sFeedbackDialogTitle, #sEnrolDetailDialogTitle{
        padding-left: 20% !important;
    }

    .modal-open .modal{
        padding: 3px !important;
    }
    .modal-header{
        padding: 0px 10px;
    }
    .panel-title a {
        color: #d03134;
        font-weight: 500;
        font-size: 14px;
    }
    .courses_area h1 {
        font-size: 20px !important;
        margin-top: 0;
        padding-top: 10px !important;
        font-weight: bold !important;
        padding-bottom: 0px !important;
    }
    .border-right {
        border: none !important;
    }
    .course_details_enroll {
        background: #d03134;
        padding: 7px 15px;
        color: #fff;
        font-size: 13px !important;
        text-align: center;
    }

    .mobile-text-center{
        text-align: center;
    }
    .breadcrumb ul li i{
        margin: 0px !important;
    }
    .about_area p {
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
        color: #666;
    }
    .venobox_custom iframe
    {
        height: 200px !important;
    }
    .mobile-margin-10{
        margin-top: 10px !important;
        text-align: center;
    }
    .mobile-margin-20{
        margin-top: 20px !important;
        text-align: center;
    }
    .no-padding-mobile{
        padding: 0px !important;
    }
    .no_padding{
        padding: 0px !important;
    }
    .bmore {
        font-size: 13px;
        padding: 6px 10px;
        border: 1px solid #d5d5d5;
        font-weight: bold;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img{
        height: auto;
    }
    .news_thumb_main img{
        height: auto;
        width: 100% !important;
    }
    .about_area{
        padding: 20px 0 0px;
        background:#fff;
    }
    .width_600{
        width:100% !important;
    }

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
/*testimonial*/

#quick_links {color:#fff;margin-top:45px}
#quick_links ul{padding:19.8px 0;}
#quick_links .quick_links_white {background: #2d2d2d ;}
#quick_links .quick_links_red {background: #d03134;}
#quick_links ul li{display:inline;padding:15px 10px 16px 10px;font-size: 16px;font-weight: 500}
#quick_links ul li:last-child{padding-right:0}
.quick_links_white ul li a{color:#fff }
.quick_links_white ul li a:hover{color:#ff7e00 }
.quick_links_white i{color:#fff }
.quick_links {background: #d03134;padding:15px 0 16px 0;font-size:22px;}
#quick_links .quick_text {background:#fff;padding:15px 0}
.mb{margin-bottom:80px}
.mt10 {margin-top: 10px}
.mb_zero {margin-bottom:0}
.course_price{text-decoration:line-through!important;}
/*tab-css-start*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
/*.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}*/
.line-height_tab {line-height:24px;}
.panel-title a {color: #d03134; font-weight: 500;}

/*tab-css-end*/

/*checkout*/
.panel-heading .accordion-toggle_checkout:after {
    /* symbol for "opening" panels */
    color: #fff!important;         /* adjust as needed */
}
.panel-heading_checkout {padding:15px 15px!important;}
.panel-heading_checkout
.form-group_checkout {
    margin-bottom:10px!important;
}
textarea,.i_box input, .i_box textarea {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #4d4d4d;
    display: block;
    font-size: 14px;
    /*height: 34px;*/
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.color_white {color:#fff!important}
/*checkout*/

/*course_details*/

.course_details h4 {
    font-size: 20px;
    padding:10px 0;
}
.course_details p {
    line-height:24px;
    text-align: justify;
    color: #666;
}
.course_details h1 {
    font-size: 26px;
    color: #d03134;
    font-weight: bold;
    padding-top:0;
    margin-top: 0;
    margin-bottom: 25px;
}
.course_details_social {
    border-radius: 50%;
    padding:9px 8px 8px 11px;
    background: #ff6c00;
    font-size:1rem;
    height: 35px;
    width: 35px;
    color: #fff;
}
.mt25 {margin-top:25px;}

.block{
    border: 1px solid red;
    text-align: center;
    vertical-align: middle;
}
.circle{
    background: #ff6c00;
    border-radius: 100px;
    color: white;
    height: 100px;
    font-weight: bold;
    width: 100px;
    padding: 40px 22px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}
.how-to-apply p {text-align: center;padding:25px 0;}		
/*course_details*/

/*thank_you_page*/
.thanku {color: #282828; 
         background-color: #eeeeee;
         background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.thanku h1, .thanku span{font-family: "Times New Roman", Georgia, Serif;font-size:36px;}
.thanku span{font-size:60px;}

.social {
    text-align: center;
}

.social .link {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px dashed #cecece;
    background-clip: content-box;
    padding: 10px;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 70px;
    margin-top:25px;
    margin-bottom:25px;
}

.social .link i {
    padding: 25px;
}

.social .link:hover {
    color: white;
    transform: translateX(0) rotate(360deg);
}

.social .link.google-plus {
    background-color: tomato;
    color: white;
}

.social .link.youtube {
    color: white;
    background-color: #dc2707;
}

.social .link.twitter {
    background-color: #00ACEE;
    color: white;
}

.social .link.facebook {
    background-color: #3B5998;
    color: white;
}

/*thank_you_page*/
/*course_details*/
.course_details {
    line-height: 26px;
    font-size: 13px;
    color: #666;
}
.course_heading {
    background: #2b2b2b;
    color: #fff;
    padding: 25px 0;
}
.course_heading h1 {
    font-size: 24px;
    color:#fff;
}
.course_heading_ul {margin-top: 20px;}
.course_heading_ul li{
    display: inline;
    padding: 0 15px;
    color: #fda30b;
}
.course_heading_ul li span{
    color:#5c5c5c;
}
.course_heading_ul li:first-child{padding-left: 0; }
.course_heading_bg {
    background: #124c71;
    padding: 15px 0;
}
.course_heading_bg h2 {
    color: #fff;
}
.course_heading_bg_border {
    border-left: 1px solid #fff;
    padding: 80px 0;
    text-align: center;
    margin-left: 20px;
}
.course_heading_table th {
    background: #124c71;
    color: #fff;
}
.course_heading_table, .course_heading_table td {
    border: 1px solid #d8d8d8;
}

.enroll a {
    color:#fff;
    background: #124c71;
    padding:4px 8px;
    font-size:12px;
}
.course_heading_head{
    color: #222;
    font-size: 20px;
    position: relative;
    border-bottom: 1px solid #dfdfdf;
    margin: 30px 0 10px 0;
    padding-bottom: 10px;
}
.course_heading_head span{
    background: none repeat scroll 0 0 #0c75b9;
    bottom: -2px;
    height: 3px;
    position: absolute;
    width: 120px;
}
.enroll a:hover {
    background: #065594;
}
.course_heading_table td th {
    border: 1px solid #124c71;
}
.header-ul li::before {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 14px;
    margin-right: 5px;
}
.header-ul_gray li::before {color:#282828!important}

.course_heading_bg p {
    font-size: 24px;
    font-weight: bold;
}

.full-stars::before, .blank-stars::before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 18px;
}
.mt25 {margin-top:25px;}
.color_gray {color: #919191}
.font12 {font-size: 12px;}
/*course_details*/

/*how-to-apply*/
#how-to-apply_new {margin: 45px 0; line-height: 22px;}
#how-to-apply_new i {color: #fff;font-size: 20px;}

.circle_new {
    border-radius: 50px 50px 50px 50px;
    padding: 10px;
}
.circle1 {
    background: #a6d76e;
}
.circle2 {
    background: #0d345f;
}
.circle3 {
    background: #cc3366;
}
.text-center-mobile {text-align: center;margin-bottom: 25px;}
/*how-to-apply*/

/*new*/
.course_details_img {
    /*border: 8px solid #fff;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29), 0 0 13px rgba(43, 59, 93, 0.29);*/
}
.courses_area h1 {
    font-size: 26px;
    margin-top:0;
    font-weight: bold;
}
.courses_area, .gray {color: #585858;line-height:22px; margin-bottom: 15px; padding: 20px}
.courses_area .category_selection{float:right}
.courses_area .category_selection .right_align{text-align: right;margin-top: 10px}

.course_heading_ul li a{
    color:#d03134;
}
.full-stars::before, .blank-stars::before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #f97e00;
}
.course_details_point {
    background: #ebe7e0;
    padding: 7px 0px;
    margin-top:20px;
    font-size:12px;
}
.border-right{
    border-right: 1px solid #fff;
}
.course_details_point ul li {padding:5px 0;color:#323232}
/*.course_heading_ul {margin-top: 40px;}*/
.course_details_price {
    margin-top:30px;
    font-size:16px;
    color: #323232
}
.no_padding{
    padding: 0px !important
}
.course_details_enroll {background: #d03134;padding:7px 18px;color:#fff;font-size:16px;}
.b_title {
    position: relative;
    padding: 0 20px 0 0;
    margin: 30px 0 10px 0;
    z-index: 0;
}
.course_details_enroll:hover {background: #bb2225;color:#fff}

.b_title h4, .b_title h3 {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    display: inline-block;
    background: #FFF;
    padding: 0 10px 0 0;
    z-index: 9;
    color: #d03134;
}
.b_title::after {
    content: no-close-quote;
    position: absolute;
    width: 100%;
    height: 14px;
    bottom: 5px;
    left: 0;
    background: url(../img/dotted.png) repeat;
    z-index: 1;
}
.table-bordered th {
    background: #d83034;
    color: #fff;
}
.table td a{
    color: #323232;
    font-weight: bold;
}

/*new*/

/*login*/
#banner .form-inner .form-main-forgot i {
    padding: 10px;
    color: #14c1b1
}
#banner .form-inner .form-main-forgot input {
    padding-left: 27px;
}
#banner .form-inner .form-main input {
    padding-left: 9px;
}
#banner {
    margin-top: 4%;
}

.banner-inner .col-md-7 {
    z-index: 99;
}
.banner-inner .full-nerdy {
    z-index: 9999 !important;
}
.banner-inner .new-btn-ragister-new {
    padding: 56px 60px 2px;
    text-align: center;
}
.banner-inner .give-btn {
    background: #14c1b1 none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border: 0px;
    margin-top: 26px;
}
.banner-inner .fresher-taglin-new {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}
.banner-inner .give-btn:hover {
    color: #fff;
}
.responsive-nerdy {
    display: none;
}
.row.nerdy-login-popup {
    margin: 0 auto;

}
.form-inner-containt { 
    background: #fff;
    padding:20px 25px 100px;
    box-shadow: inset 0 0 3px #7b7055 !important;
    -moz-box-shadow: inset 0 0 10px #7b7055;
    -webkit-box-shadow: inset 0 0 10px #7b7055;
}
.form-inner-containt {
    width: 500px;
    height: auto !important;
    margin-bottom: 100px;
}

.form-inner-containt h5 {
    color: #333;
    font-weight: lighter;
}
.titel-main {
    color: #100B0B;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 25px !important;
}

.titel-main-register-user {
    color: #100b0b;
    font-size: 15px;
    line-height: 24px;
    margin: 37px 0 0;
    padding: 8px 28px 0;
    position: relative;
    width: 100%;
}
.titel-main-register-exp {
    color: #100B0B;
    font-size: 15px;
    line-height: 24px;
    margin: 47px -27px 0;
    padding: 8px 28px 0;
    position: relative;
    width: 100%;
}
.titel-main-register {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    margin: 187px -27px 0;
    padding: 8px 28px 0;
    position: absolute;
    width: 100%;
}
header .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: none;
}
.css-checkbox-rem {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0; 
    border: 0;
}
.css-checkbox-rem + label.css-label {
    padding-left: 27px;
    height: 24px;
    display: inline-block;
    line-height:19px;
    background-repeat: no-repeat;
    background-position: 0 2px;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    margin-top:0	;
}
.css-checkbox-rem:checked + label.css-label {
    background-position: 0 -21px;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
    padding-left: 29px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
    background-position: 0 -20px;
}
label.css-label {
    background-image: url(../img/ckeck-box-img.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.login_btn.given-text {
    margin-right: 28px;
    margin-top: 34px;
    padding: 10px;
    width: 74%;
}
.login_btn {
    background: #d03134 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 34px;
    width: 100%;
}
.fl {
    float: left;
}
.fr {
    float: right !important;
}
.fl .form-group1 {
    margin: 10px 0px;
}
.form-group1 {
    margin-bottom: 15px;
}
#loginform h1 {
    font-size: 26px;
}
.font22 {font-size:22px}
/*login*/

.heading-text, .heading-text2, .heading-text3, .heading-text4 {
    clear: both;
    margin-bottom: 25px;
}
.heading-text h4 {
    font-weight: bold;
    color: #d73034;
    font-size: 20px;
    margin: 10px 0 10px;

}
.heading-text h2 {
    font-weight: bold;
    color: #2954a2;
    font-size: 30px;
    line-height: 32px !important;
}
.heading-text h2 strong {
    color: #ff7d00;
    font-size: 30px;
}

.heading-text2 h2 {
    font-weight: bold;
    color: #fff;
}
.heading-text2 h2 strong {
    color: #28c5c3;
}

.heading-text3 h2 {
    font-weight: bold;
    color: #3f5348;
}
.heading-text3 h2 strong {
    color: #28c5c3;
}

.heading-text4 h2 {
    font-weight: bold;
    color: #fff;
}
.heading-text4 h2 strong {
    color: #282828;
}
.dubble-border {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height:5px;
}
.thank-you {
    line-height: 26px;
}
.thank-you h1 {
    font-size: 45px;
    color: #f06600;
}
.thank-you .btnn, .btnn{
    border-radius: 25px 25px 25px 25px;
    border: none;
    padding: 10px 50px;
    font-size: 18px;
    background: #2954a2;
    color: #fff;
    margin: 15px 0;
}
.btnn3{
    border-radius: 3px 3px 3px 3px;
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    background: #dde9ff;
    color: #576173;
    margin: 0;
    border-bottom:2px solid #5780c9
}
.btnn1, .btnn2{
    border-radius: 25px 25px 25px 25px;
    border: none;
    padding: 10px 50px;
    font-size: 18px;
    background: #2954a2;
    color: #fff;
    margin: 15px 0;
    box-shadow: 0px 15px 7px -10px rgba(0,0,0,0.75);
}
.btnn2{
    background: #e54b54!important;
}
.background-yellow {
    background: #d72f33;
    padding: 20px 0 45px 0;
    margin: 25px 0 ;
    border-radius: 0 350px 0 350px;
    color: #fff;
}
.background-yellow h3{
    font-size:30px;
    padding: 10px 0 15px 0;
    color: #fff;
}
.background-blue {
    background: #f1f1f1;
    padding: 45px 0 45px 0;
    margin: 25px 0 ;
    color: #3f5348;
}
.background-yellow .btnn{
    border-radius: 25px 25px 25px 25px;
    border: none;
    padding: 10px 50px;
    font-size: 18px;
    background: #fff;
    color: #f06600;
    margin: 15px 0;
}
.btnn-tab{
    border-radius: 5px 5px 5px 5px;
    padding: 5px 10px;
    font-size: 16px;
    background: #2954a2;
    color: #fff;
}
.btnn-tab:hover{color:#fff;background: #e54b54;}
#hdr_logo {padding: 10px 0;}
#hdr-call {
    background:#fff200;
    padding:6px 0;
}
#hdr-call span {color:#3f5348}
.hdr-call_icon {
    background:#fff;
    border-radius: 100% 100% 100% 100%;
    padding: 8px;
    font-size: 22px;
}
.call {
    border-bottom: 2px solid #fff200;
    padding-bottom: 20px;
    margin: 0 200px;
    font-size:16px;
}
.italic {font-style: italic;}
#thanku-circle {
    margin: 45px 0;
}
.thanku-bg {
    background: #383536;
    padding: 5px 0 25px 0;
    border-radius: 350px 0 350px 0;
}
.red {
    color: #dd0000;
}
.about-lead-box{width:100%;position:relative;background:#f4f4f4;padding:12px 20px 20px 20px;border-left:5px solid #d72f33; text-align:justify}
.about-lead-box h3{font-size:18px; font-weight:bold; color:#d72f33;text-transform:none;line-height:25px;margin-bottom:20px;}
.list_item li {
    background:url(../img/list_arrow_grey.png) no-repeat 0 7px;
    padding: 0 0 5px 10px;
}
/*online-registration*/
.font28{font-size:28px;}
.help-block {color:#ff7e00;font-size:12px}
.control-label {}
/*online-registration*/

/*fixed-header*/
.nav-container{ }
.f-nav{ z-index: 99; position: fixed; left: 0; top: 0; width: 100%;} /* this make our menu fixed top */ 

.nav { height: 42px;}
.nav ul { list-style: none; }
.nav ul li{float: left; margin-top: 6px; padding: 6px; border-right: 1px solid #ACACAC;}
.nav ul li:first-child{ padding-left: 0;}
.nav ul li a { }
.nav ul li a:hover{ text-decoration: underline;}
/*fixed-header*/

/*faqs*/
.faqHeader {
    font-size: 27px;
    margin: 50px 20px 20px 0;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'FontAwesome';
    content: "\f078"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    /*    -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); */
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    /*    -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); */
    color: #454444;
}
.faqHeader i {color:#ff6c00}
/*faqs*/

/*gallery-css*/
.gallery_text {
    background: #fff;
    padding:5px 15px;
    color: #d03134;
    font-size: 12px;
    text-align: center;
}
.gallery_text a{
    color: #d03134;
}

.gallery_text h2 {
    color: #282828;
    font-size:16px;
    font-weight: bold
}

.gallery_text i {
    color: #ff7e00;
}

.selectpicker {
    padding:5px 6px;
}

.photo_gallery h1 {
    font-size: 26px;
    font-weight:500;
}
.category_happening{
    display: inline-block
}
.category_happening .search_filter{
    background: #fff200;
    padding: 10px 10px;
    margin-bottom: 20px;
    width: 55%;
    float: right;
}
.category_happening label{
    font-size: 16px;
    padding-top: 10px;
    color:#ff7e00;
}


/*gallery-css*/

/*testimonial*/
.mb-r {
    margin-bottom: 3rem !important;
}
.card {
    border: 0;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
}
.testimonial-card .avatar, .testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
}
.teal.lighten-2 {
    background-color: #4db6ac !important;
}
.teal {
    background-color: #009688 !important;
}
.testimonial-card .avatar {
    border-radius: 50%;
    width: 120px;
    margin: -65px auto 0;
    border: 5px solid #fff;
    background: #FFF;
}
.testimonial-card .avatar, .testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
}
.testimonial-card .avatar img {
    width: 80%;
}
.card img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card img, .comments-list img, .img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .reply-form img, .section .view, .section img {
    display: block;
    max-width: 100%;
    height: auto;
}
.testimonial-card .card-block, .testimonial-carousel {
    text-align: center;
}
.card .card-block {
    position: relative;
}
.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: .75rem;
}
.card-block p {
    margin-bottom: 1rem;
    overflow-y: scroll;height:60px
}
.indigo.darken-2 {
    background-color: #303f9f !important;
}
.purple.darken-2 {
    background-color: #7b1fa2 !important;
}
#toast-container > div, .card{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

/*testimonial*/

/*video*/
.video_gallery {margin:20px 0 55px 0;font-weight:bold;font-size: 13px;color:#000;}
.video_gallery p {min-height:40px;max-height:40px;}
.video_gallery p span {color:#d03134}
.video_gallery p time {color:#777777;padding-left:15px;}
.video_gallery_figcaption1 {position:absolute;bottom:0;left:0;background:#000;padding:0px 6px;font-weight:bold;font-size:12px;color:#fff}
.video_gallery_figcaption2 {position:absolute;bottom:0;right:0;background:#d03134;padding:5px 10px 5px 12px;color:#fff;}
.video_gallery_figcaption2:hover {background:#000;}
.hm-black-light:hover {background:#ff0000;}
/*video*/

/*shakti-centers*/
.slider_area2{
    background: #fc7e00;
    background-size: cover;
}
.shakti_centres_box1 {
    background: #f8f0e7;
    padding:15px 25px;
    margin: 15px 0;
    font-size:13px;    min-height: 520px;

}
.go-back-enrollemnt{
    margin-top: 10px;
}
.courses_content p{
    text-align: left;
}
.shakti_centres_box2 {
    background: #ebebeb;
    padding:15px 25px;
    margin: 15px 0;
    font-size:13px;
    min-height: 520px;
}
.shakti_centres_heading h2 {
    font-size:24px;
    text-transform:uppercase;
    font-weight: bold;
    color: #fc7e00;
    margin-bottom:0;
}
.shakti_centres_heading h3 {
    font-size:16px;
    font-weight: bold;
    color: #2d2d2d;
    margin:0;
}
.shakti_centres_text1 {
    overflow-y:scroll; 
    padding-right: 15px;
    height: 200px;
}
.shakti_centres_text2 {
    overflow-y:scroll; 
    padding-right: 15px;
    height: 300px;
}
.shakti_centres_text3 {
    overflow-y:scroll; 
    padding-right: 15px;
    height: 150px;
}

/*shakti-centers*/

/*testimonial*/
.testimonial-bg{
    border: 10px solid #ff7e00;
    padding: 40px 0px;
    text-align: center;
    position: relative;
    margin: 35px 0;
    background: #f6f6ef;
}
.testimonial-bg1{
    border: 10px solid #ebebeb!important;
}
.testimonial-bg:before{
    content: "\f10d";
    font-family: "fontawesome";
    width: 75px;
    height: 75px;
    line-height: 75px;
    background: #fff;
    text-align: center;
    font-size: 50px;
    color: #3c414c;
    position: absolute;
    top: -40px;
    left: 2%;
}
.testimonial_new{
    padding: 0 15px;
}
.description_scroll {
    overflow-y: hidden;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.testimonial_new .description{
    font-size: 14px;
    font-weight:400;
    font-style: italic;
    color: #848484;
    line-height: 23px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    position: relative;
    height:100px;
    overflow: auto
}

/*.testimonial_new .description:hover{
    font-size: 14px;
    font-weight:400;
    font-style: italic;
    color: #848484;
    line-height: 23px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    position: relative;
    min-height:100px;
    max-height:100px;
    overflow: visible;
}*/

.testimonial_new .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 25px auto;
    overflow: hidden;
}
.testimonial_new .pic img{
    width: 100%;
    height: auto;
}
.testimonial_new .pic img:hover{
    opacity: 0.3;
}

.testimonial_new .title{
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #848484;
    text-transform: capitalize;
    margin: 0;
}
.testimonial_new .post{
    display: inline-block;
    font-size: 14px;
    color: #848484;
    width: 100%;
}
.owl-theme .owl-controls{
    background: #fff;
    margin-top: 18px;
    position: relative;
    bottom: -25px;
    right: 0;
}
.owl-theme .owl-controls .owl-buttons div{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #34363b;
    opacity: 1;
    padding: 0;
}
.owl-prev:before,
.owl-next:before{
    content: "\f104";
    font-family: "fontawesome";
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}
.owl-next:before{
    content:"\f105";
}



/*testimonial*/

/*product description*/
/*********************************************
                        Call Bootstrap
*********************************************/

/*********************************************
                        Theme Elements
*********************************************/

.gold{
    color: #FFBF00;
}

/*********************************************
                                        PRODUCTS
*********************************************/

.product{
    border: 1px solid #dddddd;
    height: 321px;
}

.product>img{
    max-width: 230px;
}

.product-rating{
    font-size: 20px;
    margin-bottom: 25px;
}

.product-title{
    font-size: 20px;
}

.product-desc{
    font-size: 14px;
}

.product-price{
    font-size: 22px;
}

.product-stock{
    color: #74DF00;
    font-size: 20px;
    margin-top: 10px;
}

.product-info{
    margin-top: 15px;
}

/*********************************************
                                        VIEW
*********************************************/

.content-wrapper {
    background: #fff;
    margin: 0 auto;
    border: 0px;
    border-radius: 0px;
}


.view-wrapper {
    float: right;
    max-width: 70%;
    margin-top: 25px;
}



/*********************************************
                                ITEM 
*********************************************/

.service1-items {
    padding: 0px 0 0px 0;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 321px;
    width: 130px;
}

.service1-item {
    height: 110px;
    width: 120px;
    display: block;
    float: left;
    position: relative;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.service1-item > img {
    max-height: 100px;
    padding-top:10px;
    max-width: 110px;
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-left {
    padding-right: 15px;
    padding-top:10px;
}

.service-image-right {
    padding-left: 15px;
}

.service-image-left > center > img,.service-image-right > center > img{
    max-height: 300px;
}
.review_discrp {background:#e2ecfb;padding:15px 0;margin:15px 0;}
.review_discrp p {font-size:14px;}
/*product description*/



.arlo-page-title {
    text-align: center;
}

.arlo-page-title p {
    font-size: 14px;
    max-width: 500px;
    margin: 0 auto 20px auto;
}

.arlo-page-title h2 {
    font-size: 34px;
    margin-bottom: 30px;
    font-weight: 400;
}

.section-header{
    clear: both;
    font-size: 26px;
    margin: 20px 0;
}

/****** Loader ******/

.arlo .arlo-loading-overlay {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    bottom: 50%;
    top: 50%;
    left: 50%;
    right: 50%;
}

.arlo .arlo-loading-overlay:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.arlo .arlo-loading-overlay:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.arlo .arlo-loading-overlay:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;  
    -webkit-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.30) 1.5em 0 0 0, rgba(0, 0, 0, 0.30) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.30) 0 1.5em 0 0, rgba(0, 0, 0, 0.30) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.30) -1.5em 0 0 0, rgba(0, 0, 0, 0.30) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.30) 0 -1.5em 0 0, rgba(0, 0, 0, 0.30) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.arlo html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

#upcoming-events-list1 {
    display: table;
    width: 100%;
}

#upcoming-events-list1 .arlo-event-list {
    border-collapse: separate;
    /*border-spacing: 0 10px;*/
    list-style: none;
    display: block;
}

#upcoming-events-list1 a {
    color: #d83135;
    text-decoration: none;
}

#upcoming-events-list1 a:hover {
    text-decoration: underline;
}



.arlo[max-width~="1000px"] #upcoming-events-list1 .middle {
    display: block;
}

.arlo[max-width~="1000px"] #upcoming-events-list1 .right {
    height: auto;
    display: block;
    width: auto;
    overflow: auto;
}


.arlo[max-width~="1000px"] #upcoming-events-list1 .offers,
.arlo[max-width~="1000px"] #upcoming-events-list1 .duration {
    float: left;
}

.arlo[max-width~="1000px"] #upcoming-events-list1 .registration {
    float: right;
}

.arlo[max-width~="1000px"] #upcoming-events-list1 .arlo-event-register {
    margin-top: 0;
}

.arlo[max-width~="1000px"] #upcoming-events-list1 .offers {
    clear: both;
}

.arlo[max-width~="630px"] #upcoming-events-list1 .arlo-event-listitem {
    display: block;
    margin-bottom: 10px;
}

.arlo[max-width~="630px"] #upcoming-events-list1 .left {
    display: block;
    width: auto;
    height: auto;
    overflow: auto;
}

.arlo[max-width~="630px"] #upcoming-events-list1 .left > div {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
}

.arlo[max-width~="630px"] #upcoming-events-list1 .left .location {
    float: right;
}

#upcoming-events-list1 .arlo-event-list .left[max-width~="465px"] .time {
    clear: left;
}

#upcoming-events-list1 .arlo-event-list .left[max-width~="315px"] .location {
    clear: both;
    float: left;
}

#upcoming-events-list1 .arlo-event-list .right[max-width~="415px"] .offers {
    clear: both;
    float: left;
    margin-top: 10px;
}

#upcoming-events-list1 .arlo-event-list .right[max-width~="415px"] .registration {
    clear: both;
}

.arlo[max-width~="465px"] #upcoming-events-list1 .offers {
    float: right;
    clear: none;
    margin-top: 0;
}

.arlo[max-width~="465px"] #upcoming-events-list1 .registration {
    float: none;
    clear: both;
    padding-top: 15px;
    text-align: center;
}

.arlo[max-width~="465px"] #upcoming-events-list1 .registration .arlo-event-register,
.arlo[max-width~="465px"] #upcoming-events-list1 .arlo-show-more {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.mrgin25 {
    margin: 25px 0;
}
#upcoming-events-list1 .arlo-event-listitem {
    display: table-row;
}

#upcoming-events-list1 .arlo-original-price{
    text-decoration: line-through;
}

#upcoming-events-list1 .left {
    /*width: 180px;*/
    padding: 15px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    /*display: table-cell;*/
    /*vertical-align: top;*/
    color: antiquewhite;
    background-color: #d83135;
}

#upcoming-events-list1 .middle {
    /*width: auto;*/
    /*display: table-cell;*/
    /*vertical-align: top;*/
    padding: 5px 15px;
    background-color: #F3F3F3;
}

#upcoming-events-list1 .right {
    /*width: 275px;*/
    /*display: table-cell;
    vertical-align: top;*/
    padding: 15px;
    background-color: #E9E9E9;
    color: #9A9A9A;
}

#upcoming-events-list1 .right .arlo-offer-taxrate,
#upcoming-events-list1 .right .arlo-offer-taxrate-shortname {
    display: none;
}

#upcoming-events-list1 li.arlo-offer-li {
    margin-bottom: 4px;
}

#upcoming-events-list1 span.arlo-offer-amount {
    color: #636363;
}

#upcoming-events-list1 .arlo-pricing-table span.arlo-offer-amount {
    float: right;
}

#upcoming-events-list1 .arlo-discount-offer span.arlo-offer-amount {
    float: right;
    padding-left: 10px;
}

#upcoming-events-list1 .arlo-discount-offer span.arlo-offer-label {
    display: inline-block;
}


#upcoming-events-list1 h3 {
    line-height: 26px;
    margin-bottom: 11px;
    margin: 0 0 12px;
    font-size: 20px;
    color: #d83135;
    line-height: 1.1;
}

#upcoming-events-list1 .right .label {
    margin-right: 4px;
}

#upcoming-events-list1 .right .content {
    color: #0c0c0c;
}

#upcoming-events-list1 .offers {
    margin-top: 11px;
}

#upcoming-events-list1 .offers ul {
    list-style: none;
    padding: 0;
}

#upcoming-events-list1 .duration .content,
#upcoming-events-list1 .duration .label {
    color: #636363;
}

#upcoming-events-list1 .arlo-show-more-container {
    text-align: center;

}

#upcoming-events-list1 .arlo-event-register{
    background-color: #d03134;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.4);
    color: #fff;
    display: inline-block;
    margin-top: 15px;
    padding: 6px 12px;
    cursor: pointer;
}


#upcoming-events-list1 .arlo-event-register:hover,
#upcoming-events-list1 .arlo-show-more:hover {
    background: #f36f59;
    color: #fff8ef;
    text-decoration: none;
}

#upcoming-events-list1 .arlo-event-register.arlo-waiting-list {
    background: #b5b5b5;
    color: whitesmoke;
}

#upcoming-events-list1 .arlo-event-register.arlo-waiting-list:hover {
    background: #c5c5c5;
    color: #fbfbfb;
}

#upcoming-events-list1 .arlo-event-register-info a {
    font-size: inherit !important;
}

#upcoming-events-list1 .summary, #upcoming-events-list1 .presenterlabel {
    color: #636363;
    margin-bottom: 5px;
    font-weight:600;
}

#upcoming-events-list1 .date {
    font-weight: 600;
}

#upcoming-events-list1 .location,
#upcoming-events-list1 .time,
#upcoming-events-list1 .date {
    font-size:14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color:#FFFFFF;
}

.course_details_img2 {
    width: 280px;
    margin-bottom: 25px;
}
.b_title_mdetails h3 {
    padding: 0 10px;
}
.b_title_mdetails .b_title {
    text-align: center;
}
.mrg17 {margin-top: 17px;}
.single_gellary_item .width100, .img100 img {width:100%;}
.mb5 {margin-bottom: 5px} .mb10 {margin-bottom: 10px;} .mb20 {margin-bottom: 20px;}
.nav-container-new {display: none;}
.change {display: block;}

.batch_date_cal {

}
.batch_date_cal_ico {

}
.inputWithIcon input[type=text]{
    padding-left:40px;
}
