@font-face {
  font-family: 'thumbgrid';
  src: url('../fonts/thumbgrid.eot?44954952');
  src: url('fonts/thumbgrid.eot?44954952#iefix') format('embedded-opentype'),
  url('fonts/thumbgrid.woff?44954952') format('woff'),
  url('fonts/thumbgrid.ttf?44954952') format('truetype'),
  url('fonts/thumbgrid.svg?44954952#thumbgrid') format('svg');
  font-weight: normal;
  font-style: normal;
}

.thumb-grid img {
  opacity: 0;
}

.thumb-grid.active img {
  opacity: 1;
}

.thumb-grid {
  position: absolute;
  margin: 20px auto;
  padding: 0;
  max-width: 980px;
  list-style: none;
  font-size: 0;
}

.thumb-grid li {
  position: relative;
  display: inline-block !important;
  margin: 10px;
  width: 300px;
  height: 225px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);

}

.thumb-grid li img {
  transition:All 1s ease;
  -webkit-transition:All .3s ease;
  -moz-transition:All .3s ease;
  -o-transition:All .3s ease;

  transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);

}

.thumb-grid li:hover img {
  transform: rotate(0deg) scale(1.3) skew(0deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1.3) skew(0deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1.3) skew(0deg) translate(0px);
  -o-transform: rotate(0deg) scale(1.3) skew(0deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1.3) skew(0deg) translate(0px);

}

.thumbWrapper {
  cursor: pointer;
}

/* Navigation */

#customize {
  display: inline-block;
  margin-top: -30px;
  position: absolute;
  color: white
}


#customize input, #customize select {
  font-size: 17px;
  margin: 3px;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0;
  color:#fff;
  background-color: rgba(0, 0, 0, 0.2)
}

#customize select {
  margin: 0;
  background-image: url(fonts/downArrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 25px;
  outline: none;
  overflow: hidden;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  vertical-align: middle;

}

#customize label {
  font-size: 16px;
  margin: 3px 0;
  padding: 3px 0;
  width: 150px;
  display: inline-block;
}

nav.thumbGridNav {
  margin-top: 60px;
  text-align: center;

}

nav.thumbGridNav .indexEl {
  cursor: pointer;
}

nav.thumbGridNav .indexEl.sel {
  color: red;
}

nav.thumbGridNav a {
  display: inline-block;
  margin: 0 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  overflow: hidden;
  text-indent: -1000px;
}

nav.thumbGridNav a:hover {
  opacity: 1;
}

nav.thumbGridNav a.sel {
  opacity: 1;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
}

.tg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.90);
  z-index: 10000;

}

.tg-placeHolder {
  background: rgb(38, 41, 43);
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.tg-close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
}

.tg-close:after {
  content: '\f00d';
  font-family: "Fontawesome";
  color: #ffffff;
  font-size: 33px;
  font-weight: 300;
  cursor: pointer;
}

.tg-next {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
}

.tg-next:after {
  content: '\f105';
  font-family: "Fontawesome";
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  cursor: pointer;
}

.tg-prev {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
}

.tg-prev:after {
  content: '\f104';
  font-family: "Fontawesome";
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  cursor: pointer;
}

.tg-spinner{
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -40px;
  margin-left: -40px;
  background: transparent;
  width: 80px;
  height: 80px;
}

.ss-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 90%;
  margin-left: 5%;

}


