<div class="box">
    <div class="box-title">
        <h1 class="phead">CMS Pages</h1>
    </div>

    <div class="box-body">
        <div class="mb10">
            <!--<a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_page()"><strong>+</strong>&nbsp;Add Page</a>-->
            <!-- Search -->
            <form class="search_form" ng-submit="search_page($event)">
                <div class="form-inline">
                    <input type="text" ng-model="sform_data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </div>
            </form>
            <!-- / -->
            <div class="clearfix"></div>
        </div>

        <div class="bold pdT5 pdB5" ng-show="page.total_pages > 1">
            <div class="mypaging pull-right" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_course"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive" ng-show="result.length">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="w16">#</th>
                        <th>Title</th>
                        <th class="w80 text-center">Status</th>
                        <th class="w20"></th>
                        <th class="w20"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="(i,r) in result" class="vmid">
                        <td>{{page.start + i + 1}}.</td>
                        <td >{{r.title}}</td>
                        <td class="text-center">
                            <span class="label label-success lblblock" ng-if="r.status == 1">Active</span>
                            <span class="label label-danger lblblock" ng-if="r.status == 0">Inactive</span>
                        </td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="edit_page(r.id)"><i class="fa fa-edit"></i></a>
                        </td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="delete_page(r.id, r.image)" class="{{r.id==1?'dis':''}}">
                                <i class="fa fa-times-circle text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bold pdT5 pdB5" ng-show="result.length">
            <div class="mypaging pull-right" ng-show="page.total_pages > 1" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_page"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="not-found" ng-if="ajaxRes && !result.length">No record found.</div>
    </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="cmsFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{dtl.id?'Update':'Add'}} Page</h4>
            </div>

            <form id="cmsform" ng-submit="save_page($event)">
                <input type="hidden" name="id" value="{{dtl.id}}" />
                <input type="hidden" name="oldimage" value="{{dtl.image}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div style="height:440px; overflow:auto; padding-right:10px">
                            <div>
                                <div class="form-group">
                                    <label class="req">Page Name</label>
                                    <input type="text" class="form-control" name="title" ng-model="dtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                                </div>
                                <div class="form-group">
                                    <div style="width:150px; float:left">
                                        Discription
                                    </div>
                                    <div style="float:left; width:calc(100% - 150px)">
                                        <button type="button" class="btn btn-danger btn-sm tinymce_insert_file" objid="pdesc">+ Insert Image</button>
                                        <div class="pdT5">
                                            <textarea class="form-control" id="pdesc" rows="8" name="description" ng-model="dtl.description" spellcheck="false"></textarea>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="req">Status</label>
                                    <select class="form-control" name="status" ng-model="dtl.status">
                                        <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="page_saving"><i class="fa fa-spin fa-spinner" ng-if="page_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Slider Modal -->
<div class="modal fade" id="sliderModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{pagename}}: Slider Images</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <button class="btn btn-success btn-sm" ng-click="add_slide()">+Add New</button>
                </div>

                <table class="table table-bordered">
                    <tbody>
                        <tr class="vmid" ng-repeat="r in slides">
                            <td class="w100">
                                <a href="uploads/slider/{{r.image}}" target="_blank">
                                    <img ng-src="uploads/slider/{{r.image}}" style="width:100px" />
                                </a>
                            </td>
                            <td>
                                <a href="{{r.link}}" target="_blank">{{r.title}}</a>
                                <div class="note-text">{{r.subtitle}}</div>
                            </td>
                            <td class="w16"><a href="javascript:;;" ng-click="edit_slide(r.id)"><i class="fa fa-edit"></i></a></td>
                            <td class="w16">
                                <a href="javascript:;;" ng-click="delete_slide(r.id, r.image, r.page_id)">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="slideFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{sdtl.id?'Update':'Add'}} Slider Image</h4>
            </div>

            <form id="slideform" ng-submit="save_slide($event)">
                <input type="hidden" name="id" value="{{sdtl.id}}" />
                <input type="hidden" name="page_id" value="{{page_id}}" />
                <input type="hidden" name="oldimage" value="{{sdtl.image}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div style="height:440px; overflow:auto; padding-right:10px">
                            <div ng-hide="dtl.id == '1'">
                                <div class="form-group">
                                    <label class="req">Title</label>
                                    <input type="text" class="form-control" name="title" ng-model="sdtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Sub-Title</label>
                                    <input type="text" class="form-control" name="subtitle" ng-model="sdtl.subtitle" maxlength="100" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Link</label>
                                    <input type="text" class="form-control" name="link" ng-model="sdtl.link" maxlength="200" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Link Caption</label>
                                    <input type="text" class="form-control" name="link_caption" ng-model="sdtl.link_caption" maxlength="50" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label class="req">Slider Image</label>
                                    <input type="file" name="image" onchange="check_image(this)">
                                </div>

                                <div class="form-group" ng-if="sdtl.image" style="padding-left:150px; margin-top:-10px">
                                    <a href="uploads/slider/{{sdtl.image}}" target="_blank">
                                        <img ng-src="uploads/slider/{{sdtl.image}}" style="width:100px" />
                                    </a>
                                </div>

                                <div class="form-group">
                                    <label>Display Order</label>
                                    <input type="text" class="form-control" name="display_order" ng-model="sdtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                                </div>

                                <!--<div class="form-group">
                                    <label class="req">Status</label>
                                    <select class="form-control" name="status" ng-model="sdtl.status">
                                        <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                    </select>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="slide_saving"><i class="fa fa-spin fa-spinner" ng-if="slide_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>