<div class="box">
    <div class="box-title">
        <h1 class="phead">Course Management</h1>
    </div>
    <div class="box-body">
        <div class="mb10">
            <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_course()"><strong>+</strong>&nbsp;Add Course</a>

            <!-- Search -->
            <form class="search_form" ng-submit="search_course($event)">
                <div class="form-inline">
                    <input type="text" ng-model="sform_data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                    <select class="form-control inpt-sm" ng-model="sform_data.cat_id">
                        <option value="">Category (All)</option>
                        <option ng-repeat="r in cats" value="{{r.id}}">{{r.title}}</option>
                    </select>
                    <select class="form-control inpt-sm" name="type" ng-model="sform_data.type">
                        <option value="">Type (All)</option>
                        <option value="Online">Online</option>
                        <option value="Offline">Offline</option>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </div>
            </form>
            <!-- / -->
            <div class="clearfix"></div>
        </div>

        <div class="bold pdT5 pdB5" ng-show="page.total_pages > 1">
            <div class="mypaging pull-right" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_course"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive" ng-show="result.length">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="w16">#</th>
                        <th class="text-center" style="width:40px">Image</th>
                        <th>Course Name</th>
                        <th class="w80"></th>
                        <th class="w120 text-center">Course Code</th>
                        <th class="w150 text-center">Category</th>
                        <th class="w80 text-center">Price</th>
                        <th class="w80 text-center" title="Display Order">Dis. Odr</th>
                        <th class="w80 text-center">Status</th>
                        <!--<th class="w100 text-center">Created</th>-->
                        <th class="w20"></th>
                        <th class="w20"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="(i, r) in result" class="vmid">
                        <td>{{page.start + i + 1}}.</td>

                        <td class="text-center">
                            <img ng-if="r.image" ng-src="{{r.image_url}}" style="max-width:60px; max-height:60px" />
                        </td>
                        <td>
                            {{r.title}}
                            <div class="note-text pdT5" ng-if="r.teacher">Teacher: {{r.teacher}}</div>


                            <div class="note-text pdT5">
                                Show on Home Page:
                                <span class="text-success" ng-if="r.show_on_home == '1'">Yes</span>
                                <span class="text-danger" ng-if="r.show_on_home == '0'">No</span>
                                &nbsp;|&nbsp;
                                Featured:
                                <span class="text-success" ng-if="r.featured == '1'">Yes</span>
                                <span class="text-danger" ng-if="r.featured == '0'">No</span>
                            </div>

                            <div class="note-text pdT5">
                                Duration: <strong>{{r.duration_hr}}</strong> HR <strong>{{r.duration_mn}}</strong> MIN
                                &nbsp;|&nbsp;
                                Type: <strong>{{r.type}}</strong>
                            </div>
                        </td>

                        <td>
                            <a href="javascript:;;" ng-click="course_batches(r.id, r.title)">Batches</a>
                            <div class="pdT5">
                                <a href="javascript:;;" ng-click="slider(r.id, r.title)">Sliders</a>
                            </div>
                            <div class="pdT5">
                                <a href="javascript:;;" ng-click="course_lession(r.id, r.title)">Lesson</a>
                            </div>
                        </td>

                        <td class="text-center">{{r.code}}</td>

                        <td class="text-center">{{r.cat}}</td>
                        <td class="text-center" ng-if="r.price_type == 'paid'" style="width:200px;">Rs. {{r.price}}&nbsp;|&nbsp;USD {{r.price_usd}}</td>
                        <td class="text-center"  ng-if="r.price_type == 'free'" style="width:200px;">Free</td>
                        <td class="text-center">{{r.display_order}}</td>

                        <td class="text-center">
                            <span class="label label-success lblblock" ng-if="r.status == 1">Active</span>
                            <span class="label label-danger lblblock" ng-if="r.status == 0">Inactive</span>
                        </td>
                        <!--<td class="text-center">{{r.created}}</td>-->
                        <td class="w20">
                            <a href="javascript:;;" ng-click="edit_course(r.id)"><i class="fa fa-edit"></i></a>
                        </td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="delete_course(r.id, r.image)">
                                <i class="fa fa-times-circle text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bold pdT5 pdB5" ng-show="result.length">
            <div class="mypaging pull-right" ng-show="page.total_pages > 1" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_course"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="not-found" ng-if="ajaxRes && !result.length">No record found.</div>
    </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="courseFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{dtl.id?'Update':'Add'}} Course</h4>
            </div>

            <form id="courseform" ng-submit="save_course($event)">
                <input type="hidden" name="id" value="{{dtl.id}}" />
                <input type="hidden" name="oldimage" value="{{dtl.image}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div style="height:440px; overflow:auto; padding-right:10px">
                            <div class="form-group">
                                <label class="req">Category</label>
                                <select class="form-control" name="cat_id" ng-model="dtl.cat_id">
                                    <option value="">Select</option>
                                    <option ng-repeat="r in cats" value="{{r.id}}">{{r.title}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="req">Course Name</label>
                                <input type="text" class="form-control" name="title" ng-model="dtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label>Slug</label>
                                <input type="text" class="form-control" name="slug" ng-model="dtl.slug" maxlength="100" autocomplete="off" spellcheck="false">
                                <div class="note-text" style="padding-left:150px">(It will be appear in url)</div>
                            </div>

                            <div class="form-group">
                                <label class="req">Course Code</label>
                                <input type="text" class="form-control" name="code" ng-model="dtl.code" maxlength="50" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label>Teacher</label>
                                <select class="form-control" name="teacher_id" ng-model="dtl.teacher_id">
                                    <option value="0">Select</option>
                                    <option ng-repeat="r in teachers" value="{{r.id}}">{{r.title}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Course Image</label>
                                <input type="file" name="image" onchange="check_image(this)">
                            </div>

                            <div class="form-group" ng-if="dtl.image" style="padding-left:150px; margin-top:-10px">
                                <img ng-src="uploads/course-sm/{{dtl.image}}" style="width:60px" />
                            </div>

                            <div class="form-group">
                                <div class="req" style="width:150px; float:left">
                                    Duration
                                </div>
                                <div class="posRel" style="float:left; width:calc(100% - 150px)">
                                    <div style="position:absolute; z-index:100; left:78px; top:4px">HR</div>
                                    <input type="text" class="form-control" name="duration_hr" ng-model="dtl.duration_hr" maxlength="4" valid="int" autocomplete="off" spellcheck="false" style="width:100px; margin-right:10px">
                                    <div style="position:absolute; z-index:100; left:184px; top:4px">MN</div>
                                    <input type="text" class="form-control" name="duration_mn" ng-model="dtl.duration_mn" maxlength="4" valid="int" autocomplete="off" spellcheck="false" style="width:100px">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <label class="req">Free</label>
                                <label>
                                    <input type="radio" ng-model="dtl.price_type" value="free" name="price_type" autocomplete="off" />&nbsp;Yes
                                </label>

                                <label>
                                    <input type="radio" ng-model="dtl.price_type" value="paid" name="price_type" autocomplete="off" />&nbsp;No
                                </label>
                            </div>
                            <div ng-if="dtl.price_type == 'paid'">
                                <div class="form-group">
                                    <label class="req">Member Price (Rs.)</label>
                                    <input type="text" class="form-control" name="price" ng-model="dtl.price" maxlength="8" valid="num" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label class="req">Non Member Price (Rs.)</label>
                                    <input type="text" class="form-control" name="mrp" ng-model="dtl.mrp" maxlength="8" valid="num" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label class="req">Member Price (USD)</label>
                                    <input type="text" class="form-control" name="price_usd" ng-model="dtl.price_usd" maxlength="8" valid="num" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label class="req">Non Member Price (USD)</label>
                                    <input type="text" class="form-control" name="mrp_usd" ng-model="dtl.mrp_usd" maxlength="8" valid="num" autocomplete="off" spellcheck="false">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>No of Learners</label>
                                <input type="text" class="form-control" name="no_of_learners" ng-model="dtl.no_of_learners" maxlength="10" valid="int" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label>No of Enrolled</label>
                                <input type="text" class="form-control" name="no_of_enrolled" ng-model="dtl.no_of_enrolled" maxlength="10" valid="int" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label>Display Order</label>
                                <input type="text" class="form-control" name="display_order" ng-model="dtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label>Short Description</label>
                                <textarea class="form-control" rows="4" name="short_description" ng-model="dtl.short_description" spellcheck="false"></textarea>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <div style="width:150px; float:left">
                                    Description
                                </div>
                                <div style="float:left; width:calc(100% - 150px)">
                                    <textarea class="form-control" id="cdesc" rows="8" name="description" ng-model="dtl.description" spellcheck="false"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <div style="width:150px; float:left">
                                    Curriculum
                                </div>
                                <div style="float:left; width:calc(100% - 150px)">
                                    <textarea class="form-control" id="ccari" rows="8" name="caricullaum" ng-model="dtl.caricullaum" spellcheck="false"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <div style="width:150px; float:left">
                                    How to Apply
                                </div>
                                <div style="float:left; width:calc(100% - 150px)">
                                    <textarea class="form-control" id="howto" rows="8" name="how_to_apply" ng-model="dtl.how_to_apply" spellcheck="false"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <label class="req">Course Type</label>
                                <select class="form-control" name="type" ng-model="dtl.type">
                                    <option value="Online">Online</option>
                                    <option value="Offline">Offline</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <div style="width:150px; float:left">
                                    Accommodation<br />(In case of 'Offline')
                                </div>
                                <div style="float:left; width:calc(100% - 150px)">
                                    <textarea class="form-control" id="accom" rows="8" name="accommodation_dtl" ng-model="dtl.accommodation_dtl" spellcheck="false"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <div style="width:150px; float:left">
                                    Elig. Creteria
                                </div>
                                <div style="float:left; width:calc(100% - 150px)">
                                    <textarea class="form-control" id="ec" rows="8" name="eligibility_creteria" ng-model="dtl.eligibility_creteria" spellcheck="false"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <div style="width:150px; float:left">
                                    Terms & Cond.
                                </div>
                                <div style="float:left; width:calc(100% - 150px)">
                                    <textarea class="form-control" id="terms" rows="8" name="terms" ng-model="dtl.terms" spellcheck="false"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <div style="width:150px; float:left">
                                    Benefit
                                </div>
                                <div style="float:left; width:calc(100% - 150px)">
                                    <textarea class="form-control" id="benefit" rows="8" name="benefit" ng-model="dtl.benefit" spellcheck="false"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <div style="width:150px; float:left">
                                    Prep. & Faq
                                </div>
                                <div style="float:left; width:calc(100% - 150px)">
                                    <textarea class="form-control" id="faq" rows="8" name="faq" ng-model="dtl.faq" spellcheck="false"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <label>Show on Home Page</label>
                                <select class="form-control" name="show_on_home" ng-model="dtl.show_on_home">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Featured</label>
                                <select class="form-control" name="featured" ng-model="dtl.featured">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="req">Status</label>
                                <select class="form-control" name="status" ng-model="dtl.status">
                                    <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                </select>
                            </div>

                            <hr />

                            <div class="form-group">
                                <label>Seo Title</label>
                                <input type="text" class="form-control" name="seo_title" ng-model="dtl.seo_title" maxlength="200" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label>Seo Keywords</label>
                                <textarea class="form-control" rows="2" name="seo_keywords" ng-model="dtl.seo_keywords" maxlength="300" spellcheck="false"></textarea>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <label>Seo Description</label>
                                <textarea class="form-control" rows="2" name="seo_description" ng-model="dtl.seo_description" maxlength="300" spellcheck="false"></textarea>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="course_saving"><i class="fa fa-spin fa-spinner" ng-if="course_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Batch Modal -->
<div class="modal fade" id="batchModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{coursename}}: Batches</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <button class="btn btn-success btn-sm" ng-click="add_batch()">+Add Batch</button>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="w16">#</th>
                            <th>Batch Name</th>
                            <th></th>
                            <th class="w120 text-center">Batch Code</th>
                            <th class="w100 text-center">Start Date</th>
                            <th class="w100 text-center">End Date</th>
                            <th class="w100 text-center">Status</th>
                            <th class="w120 text-center">Batch Status</th>
                            <th class="w16"></th>
                            <th class="w16"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="vmid" ng-repeat="(i, r) in batches" ng-if="batches.length > 0">
                            <td class="text-right">{{i + 1}}.</td>
                            <td>
                                {{r.title}}
                                <!--<div class="note-text">{{r.batch_days}}</div>-->
                                <div class="note-text pdT5">
                                    <!--                                    <strong>Time:</strong> {{r.batch_time}}
                                                                        &nbsp;|&nbsp;
                                                                        <strong>Duration:</strong> {{r.duration_hr}} HR {{r.duration_mn}} MIN
                                                                        &nbsp;|&nbsp;-->
                                    <strong>No. of Seats:</strong> {{r.no_of_seats}}
                                </div>
                            </td>
                            <td>
                                <a href="javascript:;;" ng-click="batch_session(r.id, r.title, course_id)">Session <span id="batch_session_{{r.id}}">({{r.sessionCount}})</span></a>
                            </td>
                            <td class="text-center">{{r.code}}</td>
                            <td class="text-center">{{r.start_date}}</td>
                            <td class="text-center">{{r.end_date}}</td>
                            <td class="text-center" ng-if="r.status == '1'">Active</td>
                            <td class="text-center" ng-if="r.status == '0'">In Active</td>
                            <td class="text-center" ng-if="r.batch_status == 'A'">Available</td>
                            <td class="text-center" ng-if="r.batch_status == 'FF'">A Few Seats Available</td>
                            <td class="text-center" ng-if="r.batch_status == 'F'">Full</td>
                            <td><a href="javascript:;;" ng-click="edit_batch(r.id)"><i class="fa fa-edit"></i></a></td>
                            <td>
                                <a href="javascript:;;" ng-click="delete_batch(r.id, r.course_id)">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="batches.length == 0" class="text-center">
                            <td colspan="8">No Batch Available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Batch Modal -->
<div class="modal fade" id="lessionModel" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{coursename}}: Lesson</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_lession()"><strong>+</strong>&nbsp;Add Lesson</a>
                    <!-- Search -->
                    <form class="search_form">
                        <div class="form-inline">
                            <input type="text" ng-model="sLessonFilter" class="form-control inpt-sm w250" placeholder="Keyword..." />
                            <button type="submit" class="btn btn-success btn-sm">Search</button>
                        </div>
                    </form>
                    <!-- / -->
                    <div class="clearfix"></div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="w16">#</th>
                            <th>Title</th>
                            <th>Type</th>
                            <!--<th>Description/Link</th>-->
                            <th class="w20"></th>
                            <th class="w16"></th>
                            <th class="w16"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="vmid" ng-repeat="(i, r) in lessonList | filter:sLessonFilter">
                            <td class="text-right">{{i + 1}}.</td>
                            <td>
                                {{r.title}}                             
                            </td>
                            <td style="text-transform: capitalize">
                                {{r.type}}                                
                            </td>
                            <!--                            <td ng-if="r.description != ''">
                                                            {{r.description}}                                
                                                        </td>
                                                        <td ng-if="r.link != ''">
                                                            {{r.link}}                                
                                                        </td>-->
                            <td>
                                <span class="label label-success lblblock" ng-if="r.status == 1">Active</span>
                                <span class="label label-danger lblblock" ng-if="r.status == 0">Inactive</span>                       
                            </td>
                            <td>
                                <a href="javascript:;;" ng-click="edit_lession(r.id)"><i class="fa fa-edit"></i></a>
                            </td>
                            <td>
                                <a href="javascript:;;" ng-click="delete_lession(r.id, r.course_id)">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="batchFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{coursename}}: {{bdtl.id?'Update':'Add'}} Batch</h4>
            </div>

            <form id="batchform" ng-submit="save_batch($event)">
                <input type="hidden" name="id" value="{{bdtl.id}}" />
                <input type="hidden" name="course_id" id="course_id" value="{{course_id}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div class="form-group">
                            <label class="req">Batch Name</label>
                            <input type="text" class="form-control" name="title" ng-model="bdtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label class="req">Batch Code</label>
                            <input type="text" class="form-control" name="code" ng-model="bdtl.code" maxlength="50" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label class="req">Registration Close Before (Hrs)</label>
                            <input type="text" class="form-control" name="registeration_close_before" ng-model="bdtl.registeration_close_before" maxlength="3" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label class="req">No. of Seats</label>
                            <input type="text" class="form-control" name="no_of_seats" ng-model="bdtl.no_of_seats" maxlength="10" valid="int" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label class="req">Start Date</label>
                            <input type="text" class="form-control cal" name="start_date" id="start_date" ng-model="bdtl.start_date" maxlength="100" autocomplete="off" spellcheck="false" readonly="readonly" style="width:150px">
                        </div>

                        <div class="form-group">
                            <label class="req">End Date</label>
                            <input type="text" class="form-control cal" name="end_date" id="end_date" ng-model="bdtl.end_date" maxlength="100" autocomplete="off" spellcheck="false" readonly="readonly" style="width:150px">
                        </div>

                        <!--                        <div class="form-group">
                                                    <div class="req" style="width:150px; float:left">
                                                        Batch Days
                                                    </div>
                                                    <div style="float:left; width:calc(100% - 150px)">
                                                        <label ng-repeat="d in weekdays" style="width:100px">
                                                            <input type="checkbox" name="batch_days[]" value="{{d.k}}" /> {{d.v}}
                                                        </label>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>-->
                        <!--
                                                <div class="form-group">
                                                    <div class="req" style="width:150px; float:left">
                                                        Duration
                                                    </div>
                                                    <div class="posRel" style="float:left; width:calc(100% - 150px)">
                                                        <div style="position:absolute; z-index:100; left:78px; top:4px">HR</div>
                                                        <input type="text" class="form-control" name="duration_hr" ng-model="bdtl.duration_hr" maxlength="4" valid="int" autocomplete="off" spellcheck="false" style="width:100px; margin-right:10px">
                                                        <div style="position:absolute; z-index:100; left:184px; top:4px">MN</div>
                                                        <input type="text" class="form-control" name="duration_mn" ng-model="bdtl.duration_mn" maxlength="4" valid="int" autocomplete="off" spellcheck="false" style="width:100px">
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>-->

                        <!--                        <div class="form-group">
                                                    <div class="req" style="width:150px; float:left">
                                                        Batch Time
                                                    </div>
                                                    <div class="posRel" style="float:left; width:calc(100% - 150px)">
                                                        <div style="position:absolute; z-index:100; left:78px; top:4px">HH</div>
                                                        <input type="text" class="form-control" name="time_hr" ng-model="bdtl.time_hr" maxlength="2" valid="int" autocomplete="off" spellcheck="false" style="width:100px; margin-right:10px">
                                                        <div style="position:absolute; z-index:100; left:184px; top:4px">MM</div>
                                                        <input type="text" class="form-control" name="time_mn" ng-model="bdtl.time_mn" maxlength="2" valid="int" autocomplete="off" spellcheck="false" style="width:100px; margin-right:10px">
                        
                                                        <select class="form-control" name="time_type" ng-model="bdtl.time_type" style="width:80px">
                                                            <option value="AM">AM</option>
                                                            <option value="PM">PM</option>
                                                        </select>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>-->

                        <div class="form-group">
                            <label>Batch Status</label>
                            <select class="form-control" name="batch_status" ng-model="bdtl.batch_status">
                                <option value="A">Available</option>
                                <option value="FF">A Few Seats Available</option>
                                <option value="F">Full</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" name="status" ng-model="bdtl.status">
                                <option value="1">Active</option>
                                <option value="0">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="batch_saving"><i class="fa fa-spin fa-spinner" ng-if="batch_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="lessionFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{coursename}}: {{lession.id?'Update':'Add'}} Lesson</h4>
            </div>

            <form id="lessionform" ng-submit="save_lession($event)">
                <input type="hidden" name="id" value="{{lession.id}}" />
                <input type="hidden" name="course_id" value="{{course_id}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div class="form-group">
                            <label class="req">Lesson Name</label>
                            <input type="text" class="form-control" name="title" ng-model="lession.title" maxlength="100" autocomplete="off" spellcheck="false">
                        </div>
                        <div class="form-group">
                            <label class="req">Lesson Type</label>
                            <span class="radio-btnc font12" style="font-size:11px;" >
                                <input type="radio" ng-model="lession.type" value="ONLINE - LIVE INTERACTION" name="type" ng-click="editor('online')" autocomplete="off" style="">&nbsp;ONLINE - LIVE INTERACTION
                                <input type="radio" ng-model="lession.type" value="OFFLINE ACTIVITY" name="type"  ng-click="editor('offline')" autocomplete="off" style="">&nbsp;OFFLINE ACTIVITY
                                <input type="radio" ng-model="lession.type" value="STUDY MATERIAL" name="type" ng-click="editor('study')" autocomplete="off" style="">&nbsp;STUDY MATERIAL
                                <input type="radio" ng-model="lession.type" value="VIDEO LESSONS" name="type" ng-click="editor('video')" autocomplete="off" style="">&nbsp;VIDEO LESSONS
                            </span>
                        </div>
                        <div>
                            <div ng-show="lession.type == 'ONLINE - LIVE INTERACTION' || lession.type == 'OFFLINE ACTIVITY'" id="descriptionlesson">
                                <label class="req">Description</label>
                                <input type="text" class="form-control" id="ldescription"  name="description" ng-model="lession.description"  autocomplete="off" spellcheck="false">
                            </div>
                        </div>

                        <div ng-show="lession.type == 'STUDY MATERIAL'"  id="studylesson">
                            <div class="form-group">
                                <label class="req">File</label>
                                <input type="file" class="form-control" id="file" name="file" ng-model="lession.file"  autocomplete="off" spellcheck="false">
                                <input type="hidden" class="form-control" id="oldFile" name="oldFile" ng-model="lession.oldFile">
                            </div>
                        </div>

                        <div ng-show="lession.type == 'VIDEO LESSONS'"  id="videolesson">
                            <div class="form-group">
                                <label class="req">Link</label>
                                <input type="text" class="form-control" id="description" name="link" ng-model="lession.link"  autocomplete="off" spellcheck="false">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" name="status" ng-model="lession.status">
                                <option value="1">Active</option>
                                <option value="0">Deactive</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="lession_saving"><i class="fa fa-spin fa-spinner" ng-if="lession_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Slider Modal -->
<div class="modal fade" id="sliderModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{pagename}}: Slider Images</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <button class="btn btn-success btn-sm" ng-click="add_slide()">+Add New</button>
                </div>

                <table class="table table-bordered">
                    <tbody>
                        <tr class="vmid" ng-repeat="r in slides">
                            <td class="w100">
                                <a href="uploads/slider/{{r.image}}" target="_blank">
                                    <img ng-src="uploads/slider/{{r.image}}" style="width:100px" />
                                </a>
                            </td>
                            <td>
                                <a href="{{r.link}}" target="_blank">{{r.title}}</a>
                                <div class="note-text">{{r.subtitle}}</div>
                            </td>
                            <td class="w16"><a href="javascript:;;" ng-click="edit_slide(r.id)"><i class="fa fa-edit"></i></a></td>
                            <td class="w16">
                                <a href="javascript:;;" ng-click="delete_slide(r.id, r.image, r.page_id)">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="slideFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{sdtl.id?'Update':'Add'}} Slider Image</h4>
            </div>

            <form id="slideform" ng-submit="save_slide($event)">
                <input type="hidden" name="id" value="{{sdtl.id}}" />
                <input type="hidden" name="page_id" value="{{page_id}}" />
                <input type="hidden" name="oldimage" value="{{sdtl.image}}" />
                <input type="hidden" name="type" value="COURSE" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div style="height:440px; overflow:auto; padding-right:10px">
                            <div ng-hide="dtl.id == '1'">
                                <div class="form-group">
                                    <label class="req">Title</label>
                                    <input type="text" class="form-control" name="title" ng-model="sdtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Sub-Title</label>
                                    <input type="text" class="form-control" name="subtitle" ng-model="sdtl.subtitle" maxlength="100" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Link</label>
                                    <input type="text" class="form-control" name="link" ng-model="sdtl.link" maxlength="200" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Link Caption</label>
                                    <input type="text" class="form-control" name="link_caption" ng-model="sdtl.link_caption" maxlength="50" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label class="req">Slider Image</label>
                                    <input type="file" name="image" onchange="check_image(this)">
                                </div>

                                <div class="form-group" ng-if="sdtl.image" style="padding-left:150px; margin-top:-10px">
                                    <a href="uploads/slider/{{sdtl.image}}" target="_blank">
                                        <img ng-src="uploads/slider/{{sdtl.image}}" style="width:100px" />
                                    </a>
                                </div>

                                <div class="form-group">
                                    <label>Display Order</label>
                                    <input type="text" class="form-control" name="display_order" ng-model="sdtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                                </div>

                                <!--<div class="form-group">
                                    <label class="req">Status</label>
                                    <select class="form-control" name="status" ng-model="sdtl.status">
                                        <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                    </select>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="slide_saving"><i class="fa fa-spin fa-spinner" ng-if="slide_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Batch Modal -->
<div class="modal fade" id="batchSessionModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{coursename}}: {{batch_name}}: Session</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <button class="btn btn-success btn-sm" ng-click="add_session()">+Add Session</button>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="w16">#</th>
                            <th>Name</th>
                            <th class="w120 text-center">Date</th>
                            <th class="w100 text-center">Time</th>
                            <th class="w120 text-center">Duration</th>
                            <th class="w16"></th>
                            <th class="w16"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="vmid" ng-repeat="(i, r) in sessionList" ng-if="sessionList.length > 0">
                            <td class="text-right">{{i + 1}}.</td>
                            <td>
                                {{r.name}}
                            </td>
                            <td class="text-center">{{r.date}}</td>
                            <td class="text-center">{{r.time}}</td>
                            <td class="text-center">{{r.duration_hr}} HR {{r.duration_mn}} MN</td>
                            <td><a href="javascript:;;" ng-click="edit_session(r.id, r.batch_id)"><i class="fa fa-edit"></i></a></td>
                            <td>
                                <a href="javascript:;;" ng-click="delete_session(r.id, r.batch_id)">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="sessionList.length <= 0">
                            <td class="text-center" colspan="7">No Record Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="sessionFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{coursename}}: {{batch_name}}: {{bdtl.id?'Update':'Add'}} Session</h4>
            </div>

            <form id="sessionForm" ng-submit="save_session($event)">
                <input type="hidden" name="id" value="{{bdtl.id}}" />
                <input type="hidden" name="batch_id" id="batch_id" value="{{batch_id}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div class="form-group">
                            <label class="req">Name</label>
                            <input type="text" class="form-control" name="name" ng-model="bdtl.name" maxlength="100" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <div class="req" style="width:150px; float:left">
                                Duration
                            </div>
                            <div class="posRel" style="float:left; width:calc(100% - 150px)">
                                <div style="position:absolute; z-index:100; left:78px; top:4px">HR</div>
                                <input type="text" class="form-control" name="duration_hr" ng-model="bdtl.duration_hr" maxlength="4" valid="int" autocomplete="off" spellcheck="false" style="width:100px; margin-right:10px">
                                <div style="position:absolute; z-index:100; left:184px; top:4px">MN</div>
                                <input type="text" class="form-control" name="duration_mn" ng-model="bdtl.duration_mn" maxlength="4" valid="int" autocomplete="off" spellcheck="false" style="width:100px">
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <label class="req">Date</label>
                            <input type="text" class="form-control cal" name="date" id="session_start_date" ng-model="bdtl.date" maxlength="100" autocomplete="off" spellcheck="false" readonly="readonly" style="width:150px">
                        </div>

                        <div class="form-group">
                            <div class="req" style="width:150px; float:left">
                                Start Time
                            </div>
                            <div class="posRel" style="float:left; width:calc(100% - 150px)">
                                <div style="position:absolute; z-index:100; left:78px; top:4px">HH</div>
                                <input type="text" class="form-control" name="time_hr" ng-model="bdtl.time_hr" maxlength="2" valid="int" autocomplete="off" spellcheck="false" style="width:100px; margin-right:10px">
                                <div style="position:absolute; z-index:100; left:184px; top:4px">MM</div>
                                <input type="text" class="form-control" name="time_mn" ng-model="bdtl.time_mn" maxlength="2" valid="int" autocomplete="off" spellcheck="false" style="width:100px; margin-right:10px">

                                <select class="form-control" name="time_type" ng-model="bdtl.time_type" style="width:80px">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="req" style="width:150px; float:left">
                                Choose Lesson 
                            </div>
                            <div style="float:left; width:calc(100% - 150px)">
                                <label ng-repeat="d in lessonList" style="width:100px">
                                    <input type="checkbox" id="lesson_id_{{d.id}}" name="lesson[]" value="{{d.id}}" /> {{d.title}}
                                </label>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <!--                        <div class="form-group">
                                                    <div class="req" style="width:150px; float:left">
                                                        Batch Days
                                                    </div>
                                                    <div style="float:left; width:calc(100% - 150px)">
                                                        <label ng-repeat="d in lessonList" style="width:100px">
                                                            <input type="checkbox" name="batch_days[]" value="{{d.id}}" /> {{d.title}}
                                                        </label>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                        
                                                <div class="form-group">
                                                    <label>Batch Status</label>
                                                    <select class="form-control" name="batch_status" ng-model="bdtl.batch_status">
                                                        <option value="A">Available</option>
                                                        <option value="FF">A Few Seats Available</option>
                                                        <option value="F">Full</option>
                                                    </select>
                                                </div>-->
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="batch_saving"><i class="fa fa-spin fa-spinner" ng-if="batch_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<style>
    .radio-btn{        
        padding-left: 10px;
    }
    .radio-btn label {
        text-align: left;
        padding-right: 10px;
        width: auto;
    }
</style>