<div class="box">
    <div class="box-title">
        <h1 class="phead">Course Enrollment Management</h1>
    </div>

    <div class="box-body">
        <div class="mb10">
            <!--<a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_student()"><strong>+</strong>&nbsp;Add Student</a>-->
            <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="export_enrollment()"><strong>+</strong>&nbsp;Export Data</a>


            <!-- Search -->
            <form class="search_form" ng-submit="search_enrollments($event)">
                <div class="form-inline">
                    <input type="text" ng-model="data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                    <select class="form-control inpt-sm" ng-model="data.cat_id">
                        <option value="">Category (All)</option>
                        <option ng-repeat="r in cats" value="{{r.id}}">{{r.title}}</option>
                    </select>
                    <select class="form-control" style="width: 120px !important" ng-model="data.status">
                        <option ng-repeat="enrollment in status_enrollments" value="{{enrollment.value}}" ng-selected="enrollment.value == data.status">{{enrollment.name}}</option>
                    </select>
                    <select class="form-control" style="width: 120px !important" ng-model="data.payment_gateway_name">
                        <option ng-repeat="payment in payment_gateway" value="{{payment.value}}" ng-selected="payment.value == data.payment_gateway_name">{{payment.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </div>
            </form>
            <!-- / -->
            <div class="clearfix"></div>
        </div>


        <div class="tbl-light-bx white-bx" ng-show="result.length">
            <div class="table-responsive">              
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="w16">#</th>
                            <th class="w120">Course Name</th>
                            <th class="w120">Batch Detail</th>
                            <th class="w120">Enrollment Number</th>
                            <th class="w100">Enrollment Date</th>
                            <th class="w120">Paid Amount</th>
                            <th class="w100">Payment Detail</th>
                            <th class="w100">User Detail</th>
                            <th class="w16">Status</th>
                            <th class="w16"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="vmid" ng-repeat="(i, r) in result">
                            <td class="text-right">{{i + 1}}.</td>
                            <td class="w200 text-left">
                                <b>{{r.course_title}}</b>
                                <div class="note-text">{{r.course_code}}-{{r.course_type}}</div>
                                <div class="note-text" ng-if="r.course_price_type == 'paid'"><b>Rs. {{r.price}}&nbsp;|&nbsp;USD {{r.price_usd}}</b></div>
                                <div class="note-text" ng-if="r.course_price_type == 'free'"><b>Free</b></div>
                            </td>
                            <td class="w200 text-left">
                                <b>{{r.batch_title}}</b>
                                <div class="note-text">{{r.batch_no}}</div>
                                <div class="note-text">{{r.batch_date}}</div>
                            </td>
                            <td class="text-left">{{r.enrollment_number}}</td>
                            <td class="text-left">{{r.created}}</td>                            
                            <td class="text-left" ng-if="r.price_type == 'paid'">{{r.currency_type}} {{r.course_fees}}</td>
                            <td class="text-left" ng-if="r.price_type == 'free'">Free</td>
                            <td class="text-left" ng-if="r.price_type == null">N/A</td>
                            <td class="w250 text-left" style="text-transform: capitalize"  ng-if="r.price_type == 'paid'">
                                <b>{{r.payment_status}}</b>
                                <div class="note-text"  ng-if="r.payment_gateway_name != ''">{{r.payment_gateway_name}}</div>
                                <div class="note-text" ng-if="r.payment_gateway_id != ''">#{{r.payment_gateway_id}}</div>
                            </td>
                            <td class="w250 text-left" style="text-transform: capitalize" ng-if="r.price_type == 'free'">
                                <div class="note-text">Not Required</div>
                            </td>
                            <td class="w250 text-left" style="text-transform: capitalize" ng-if="r.price_type == null">
                                <div class="note-text">N/A</div>
                            </td>
                            <td class="w100 text-left" style="text-transform: capitalize">
                                {{r.name}}
                                <div class="note-text"  ng-if="r.studentId != ''">{{r.studentId}}</div>
                                <div class="note-text"  ng-if="r.phone != ''">{{r.phone}}</div>
                                <div class="note-text"  ng-if="r.payment_gateway_name != ''">{{r.email}}</div>
                            </td>
                            <td class="w100" ng-click="update_enrollment_change(r.enrollId, '', r)" ng-if="r.approval_status != ''" style="cursor:pointer;text-transform: capitalize"><div class="note-text"><b>{{r.approval_status}}</b></div></td>
                            <td ng-click="update_enrollment_change(r.enrollId, '', r)" ng-if="r.approval_status == ''" style="cursor:pointer;text-transform: capitalize">N/A</td>
                            <td><a href="javascript:;;"  ng-click="course_enrollment_detail(r.enrollId, r.user_id)"><i class="fa fa-eye"></i></a></td>
                        </tr>
                        <tr class="vmid" ng-if="result == undefined">
                            <td class="text-center" colspan="8">
                                No Enrollment Yet
                            </td>
                        </tr>
                    </tbody>
                </table>                
            </div>
        </div>
        <div class="bold pdT5 pdB5" ng-show="result.length">
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
        </div>
        <div class="mypaging" ng-show="page.total_pages > 1">
            Pages: <div dir-my-paging fn="search_enrollments"></div>
        </div>

        <div class="not-found" ng-if="ajaxRes && !result.length">No record found.</div>
    </div>
</div>

<!-- Batch Modal -->
<div class="modal fade" id="enrollmentDetailModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enrollment Number :- {{enrollmentDetail.enrollment_number}} Details</h4>
            </div>

            <div class="modal-body enrollment-details">
                <table class="table table-striped">
                    <tbody>
                        <tr class="vmid">
                            <td class="text-left"><label>Course Title : </label> {{enrollmentDetail.course_title}}</td>
                            <td class="text-left"><label>Course Code : </label> {{enrollmentDetail.course_code}}</td>
                        </tr>
                        <tr class="vmid">
                            <td class="text-left"><label>Course Type : </label> {{enrollmentDetail.course_type}}</td>
                            <td class="text-left">
                                <div ng-if="enrollmentDetail.course_price_type == 'paid'"><label>Course Fee : </label> Rs. {{enrollmentDetail.price}}&nbsp;|&nbsp;USD {{enrollmentDetail.price_usd}}</div>
                                <div ng-if="enrollmentDetail.course_price_type == 'free'"><label>Course Fee : </label> Free</div>
                            </td>
                        </tr>
                        <tr class="vmid">
                            <td class="text-left"><label>Enrollment No : </label> {{enrollmentDetail.enrollment_number}}</td>
                            <td class="text-left"><label>Enrollment Date : </label> {{enrollmentDetail.approval_status|uppercase}}</td>
                        </tr>
                        <tr class="vmid">
                            <td class="text-left"><label>Batch Title : </label> {{enrollmentDetail.batch_title}}</td>
                            <td class="text-left"><label>Batch No : </label> {{enrollmentDetail.batch_no}}</td>
                        </tr>  
                        <tr class="vmid">
                            <td class="text-left" ng-if="enrollmentDetail.price_type == 'paid'"><label>Course Fee : </label> {{enrollmentDetail.currency_type}} {{enrollmentDetail.course_fees}}</td>
                            <td class="text-left" ng-if="enrollmentDetail.price_type == 'free'"><label>Course Fee : </label>Free</td>
                            <td class="text-left"><label>Batch No : </label> {{enrollmentDetail.batch_no}}</td>
                        </tr>                        
                        <tr class="vmid">
                            <td class="text-left"><label>Payment Gateway Name : </label> {{enrollmentDetail.payment_gateway_name}}</td>
                            <td class="text-left"><label>Payment Status : </label> {{enrollmentDetail.payment_status}}</td>
                        </tr>
                        <tr class="vmid">
                            <td class="text-left"><label>Payment Gateway Name : </label> {{enrollmentDetail.payment_gateway_id}}</td>
                            <td class="text-left"><label>Payment Gateway Id  : </label> {{enrollmentDetail.payment_gateway_id}}</td>
                        </tr>
                        <tr class="vmid">
                            <td class="text-left" colspan="2"><label>Comment  : </label> {{enrollmentDetail.comment}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<!-- Batch Modal -->
<div class="modal fade" id="updateEnrollmentModal" role="dialog" aria-hidden="true" style="z-index:1100 !important" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change Enrollment Status</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <!-- Search -->
                    <div style="vertical-align:top">
                        <div style="color:red; text-align: center">{{commentError}}</div>
                        <div class="form-label"><label><b>Approval Status</b></div>
                        <div>
                            <select class="form-control" style="width: 100px !important" ng-model="sEnrollStatus">
                                <option ng-repeat="enrollment in status_enrollments" value="{{enrollment.value}}"  ng-selected="enrollment.value == r.approval_status">{{enrollment.name}}</option>
                            </select>
                        </div>
                        <div class="form-label"><label><b>Comment</b></div>
                        <div>
                            <textarea  ng-model="sEnrolComment" class="form-control" rows="5" cols="60"></textarea>
                            <div style="display:none">
                                <input type="hidden" ng-model="iEnrolID" class="form-control"/>
                            </div>
                        </div>
                        <div style="padding-top:10px">
                            <button type="button" ng-click="update_enrollment_status()" class="btn btn-success btn-sm">Update</button>
                        </div>
                        <!-- / -->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th{
        vertical-align: top !important;
        font-size: 13px;
    }
</style>