<div class="box">
    <div class="box-title">
        <h1 class="phead">Gallery Management</h1>
    </div>

    <div class="box-body">
        <div class="mb10">
            <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_gallery()"><strong>+</strong>&nbsp;Add Gallery</a>

            <!-- Search -->
            <form class="search_form" ng-submit="search_gallery($event)">
                <div class="form-inline">
                    <input type="text" ng-model="sform_data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                    <select class="form-control inpt-sm" ng-model="sform_data.type">
                        <option value="">Type (All)</option>
                        <option value="I">Image</option>
                        <option value="V">Video</option>                        
                    </select>
                    <select class="form-control inpt-sm" ng-model="sform_data.cat_id">
                        <option value="">Category (All)</option>
                        <option ng-repeat="r in cats" value="{{r.id}}">{{r.title}}</option>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </div>
            </form>
            <!-- / -->
            <div class="clearfix"></div>
        </div>

        <div class="bold pdT5 pdB5" ng-show="page.total_pages > 1">
            <div class="mypaging pull-right" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_gallery"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive" ng-show="result.length">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="w16">#</th>
                        <th style="width:40px">Image</th>
                        <th class="w150">Title</th>
                        <th class="w120">Category</th>
                        <th class="w100 text-center">Type</th>
                        <th class="w80 text-center" title="Display Order">Dis. Odr</th>
                        <th class="w80 text-center">Status</th>
                        <th class="w100 text-center">Publish On</th>
                        <th class="w20" colspan="2">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="(i,r) in result" class="vmid">
                        <td>{{page.start + i + 1}}.</td>

                        <td>
                            <a href="uploads/gal-lg/{{r.image}}" target="_blank" ng-if="r.type == 'I'">
                                <img ng-if="r.image" ng-src="{{r.image_url}}" style="max-width:60px; max-height:60px" />
                            </a>
                            <a href="{{r.video_url}}" target="_blank" ng-if="r.type == 'V'">
                                <img ng-if="r.video_id" ng-src="https://img.youtube.com/vi/{{r.video_id}}/default.jpg" style="max-width:60px; max-height:60px" />
                            </a>
                        </td>

                        <td>{{r.title}}</td>

                        <td>{{r.cat}}</td>
                        <td class="text-center" ng-if="r.type == 'I'">
                            <!--Image<br>-->
                            <a href="javascript:;;" ng-click="view_gallery_images(r.id)">View Gallery ({{r.count}})</a>
                        </td>
                        <td class="text-center" ng-if="r.type != 'I'">Video</td>
                        <td class="text-center">{{r.display_order}}</td>

                        <td class="text-center">
                            <span class="label label-success lblblock" ng-if="r.status == 1">Active</span>
                            <span class="label label-danger lblblock" ng-if="r.status == 0">Inactive</span>
                        </td>
                        <td class="text-center" ng-if="publish_date != NULL">{{r.publish_date}}</td>
                        <td class="text-center" ng-if="publish_date == NULL">N/A</td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="edit_gallery(r.id)"><i class="fa fa-edit"></i></a>
                        </td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="delete_gallery(r.id, r.image)">
                                <i class="fa fa-times-circle text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bold pdT5 pdB5" ng-show="result.length">
            <div class="mypaging pull-right" ng-show="page.total_pages > 1" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_gallery"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="not-found" ng-if="ajaxRes && !result.length">No record found.</div>
    </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="galFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{dtl.id?'Update':'Add'}} Gallery</h4>
            </div>

            <form id="galform" ng-submit="save_gallery($event)">
                <input type="hidden" name="id" value="{{dtl.id}}" />
                <input type="hidden" name="oldimage" value="{{dtl.image}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div>
                            <div class="form-group">
                                <label class="req">Category</label>
                                <select class="form-control" name="cat_id" ng-model="dtl.cat_id">
                                    <option value="">Select</option>
                                    <option ng-repeat="r in cats" value="{{r.id}}">{{r.title}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="req">Title</label>
                                <input type="text" class="form-control" name="title" ng-model="dtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Creation Date</label>
                                <input type="text" class="form-control cal" name="publish_date" id="publish_date" ng-model="dtl.publish_date" maxlength="100" autocomplete="off" spellcheck="false" readonly="readonly" style="width:150px">
                            </div>
                            <!--<div class="form-group">
                                <label>Slug</label>
                                <input type="text" class="form-control" name="slug" ng-model="dtl.slug" maxlength="100" autocomplete="off" spellcheck="false">
                                <div class="note-text" style="padding-left:150px">(It will be appear in url)</div>
                            </div>-->

                            <div class="form-group">
                                <label class="req">Gallery Type</label>
                                <label>
                                    <input type="radio" value="I" name="type" autocomplete="off" /> Image
                                </label>

                                <label>
                                    <input type="radio" value="V" name="type" autocomplete="off" /> Video
                                </label>
                            </div>

                            <div class="form-group type_I">
                                <label class="req">Gallery Image</label>
                                <input type="file" name="image" id="gallery_image_main" onchange="check_image(this)">
                            </div>

                            <div class="form-group type_V">
                                <label class="req">You tube video url</label>
                                <input type="text" class="form-control" name="video_url" ng-model="dtl.video_url" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>


                            <div class="form-group" ng-if="dtl.image" style="padding-left:150px; margin-top:-10px">
                                <img ng-src="uploads/gal-sm/{{dtl.image}}" style="width:60px; height:60px" />
                            </div>

                            <div class="form-group">
                                <label>Display Order</label>
                                <input type="text" class="form-control" name="display_order" ng-model="dtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Status</label>
                                <select class="form-control" name="status" ng-model="dtl.status">
                                    <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="course_saving"><i class="fa fa-spin fa-spinner" ng-if="course_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="GalleryListModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Gallery Images</h4>
            </div>

            <div class="modal-body">

                <div class="mb10">
                    <!-- Search -->
                    <form class="search_form">
                        <div class="form-inline">
                            <input type="text" ng-model="data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                            <div style="display:none">
                                <input type="hidden" ng-model="data.userid" class="form-control inpt-sm w250" placeholder="Keyword..." />
                            </div>
                            <button type="button" ng-click="list_enrollments($event)" class="btn btn-success btn-sm">Search</button>
                            <input type="hidden" name="gallery_id" ng-model="main_gallery_id"  value="{{dtl.gallery_id}}" />

                            <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_gallery_images()"><strong>+</strong>&nbsp;Add Images</a>
                        </div>
                    </form>
                    <!-- / -->
                    <div class="clearfix"></div>
                </div>


                <!--                <div class="mb10">
                                    <button class="btn btn-success btn-sm" ng-click="add_batch()">+Add Batch</button>
                                </div>-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="w16">#</th>
                            <th class="w120 text-center">Title</th>
                            <th class="w120 text-center">Image</th>
                            <th class="w16"></th>
                            <th class="w16"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="vmid" ng-repeat="(i, r) in imageList">
                            <td class="text-left">{{i + 1}}.</td>
                            <td class="w80 text-center">
                                {{r.title}}
                            </td>
                            <td class="text-center">
                                <a href="uploads/gal-lg/{{r.image}}" target="_blank" >
                                    <img ng-src="{{r.image_url}}" style="max-width:60px; max-height:60px" />
                                </a></td>
                            <!--<td class="text-center">{{r.image}}</td>-->
                            <td><a href="javascript:;;" ng-click="edit_gallery_image(r.id)"><i class="fa fa-edit"></i></a></td>
                            <td>
                                <a href="javascript:;;" ng-click="delete_gallery_image(r.id, r.gallery_id)"><i class="fa fa-times-circle text-danger"></i></a>
                            </td>
                        </tr>
                        <tr class="vmid" ng-if="imageList == undefined">
                            <td class="text-center" colspan="8">
                                No Image Uploaded Yet
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<!-- Form Modal -->
<div class="modal fade" id="AddImagesFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{dtl.id?'Update':'Add'}} Gallery Image</h4>
            </div>

            <form id="AddImagesForm" ng-submit="save_gallery_images($event)">
                <input type="hidden" name="gallery_id" ng-model="gallery_id" value="{{dtl.gallery_id}}" />
                <input type="hidden" name="id" value="{{dtl.id}}" />
                <input type="hidden" name="oldimage" value="{{dtl.image}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div>
                            <div class="form-group">
                                <label class="req">Title</label>
                                <input type="text" class="form-control" name="title" ng-model="dtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>


                            <div class="form-group type_I">
                                <label class="req">Gallery Image</label>
                                <input type="file" id="image" name="image" onchange="check_image(this)">
                            </div>

                            <div class="form-group" ng-if="dtl.image" style="padding-left:150px; margin-top:-10px">
                                <img ng-src="uploads/gal-sm/{{dtl.image}}" style="width:60px; height:60px" />
                            </div>

                            <div class="form-group">
                                <label>Display Order</label>
                                <input type="text" class="form-control" name="display_order" ng-model="dtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Status</label>
                                <select class="form-control" name="status" ng-model="dtl.status">
                                    <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="course_saving"><i class="fa fa-spin fa-spinner" ng-if="course_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
