<div class="box">
	<div class="box-title">
    	<h1 class="phead">News Management</h1>
    </div>
    
	<div class="box-body">
		<div class="mb10">
            <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_news()"><strong>+</strong>&nbsp;Add News</a>
            
			<!-- Search -->
			<form class="search_form" ng-submit="search_news($event)">
				<div class="form-inline">
					<input type="text" ng-model="sform_data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
					<button type="submit" class="btn btn-success btn-sm">Search</button>
				</div>
			</form>
			<!-- / -->
            <div class="clearfix"></div>
		</div>
        
        <div class="bold pdT5 pdB5" ng-show="page.total_pages>1">
        	<div class="mypaging pull-right" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_news"></div>
            </div>
            Showing {{page.start+1}} - {{page.start+page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>
                    
        <div class="table-responsive" ng-show="result.length">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="w16">#</th>
                        <th class="text-center" style="width:40px">Image</th>
                        <th>Title</th>
                        <th class="w120 text-center">Show on Home</th>
                        <th class="w150 text-center">Display Order</th>
                        <th class="w80 text-center">Status</th>
                        <th class="w120 text-center">Publish Date</th>
                        <th class="w20"></th>
                        <th class="w20"></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="(i,r) in result" class="vmid">
                        <td>{{page.start+i+1}}.</td>
                        <td class="text-center">
                        	<img ng-if="r.image" ng-src="{{r.image_url}}" style="max-width:60px; max-height:60px" />
                        </td>
                        <td>
                        	<strong>{{r.title}}</strong>
                            <div class="note-text pdT5" ng-if="r.source">{{r.source}}</div>
                        </td>
                        
                        <td class="text-center">
                        	<div class="text-success" ng-if="r.show_on_home=='1'">Yes</div>
                            <div class="text-danger" ng-if="r.show_on_home=='0'">No</div>
                        </td>
                        
                        <td class="text-center">{{r.display_order}}</td>
                        
                        <td class="text-center">
                            <span class="label label-success lblblock" ng-if="r.status==1">Active</span>
                            <span class="label label-danger lblblock" ng-if="r.status==0">Inactive</span>
                        </td>
                        <td class="text-center">{{r.publish_date}}</td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="edit_news(r.id)"><i class="fa fa-edit"></i></a>
                        </td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="delete_news(r.id, r.image)">
                                <i class="fa fa-times-circle text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="bold pdT5 pdB5" ng-show="result.length">
        	<div class="mypaging pull-right" ng-show="page.total_pages>1" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_news"></div>
            </div>
            Showing {{page.start+1}} - {{page.start+page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>
        
        <div class="not-found" ng-if="ajaxRes && !result.length">No record found.</div>
	</div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="newsFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{dtl.id?'Update':'Add'}} News</h4>
            </div>
            
            <form id="newsform" ng-submit="save_news($event)">
            	<input type="hidden" name="id" value="{{dtl.id}}" />
                <input type="hidden" name="oldimage" value="{{dtl.image}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                    	<div style="height:440px; overflow:auto; padding-right:10px">
                            <div class="form-group">
                                <label class="req">News Title</label>
                                <input type="text" class="form-control" name="title" ng-model="dtl.title" maxlength="200" autocomplete="off" spellcheck="false">
                            </div>
                            
                            <div class="form-group">
                                <label>Slug</label>
                                <input type="text" class="form-control" name="slug" ng-model="dtl.slug" maxlength="200" autocomplete="off" spellcheck="false">
                                <div class="note-text" style="padding-left:150px">(It will be appear in url)</div>
                            </div>
                            
                            <div class="form-group">
                                <label>Source</label>
                                <input type="text" class="form-control" name="source" ng-model="dtl.source" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>
                            
                            <div class="form-group">
                                <label>Source Subtitle</label>
                                <input type="text" class="form-control" name="source_subtitle" ng-model="dtl.source_subtitle" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>
                            
                            <div class="form-group">
                                <label class="req">Publish Date</label>
                                <input type="text" class="form-control cal" name="publish_date" id="publish_date" ng-model="dtl.publish_date" maxlength="100" autocomplete="off" spellcheck="false" readonly="readonly" style="width:150px">
                            </div>
                            
                            <div class="form-group">
                                <label>News Image</label>
                                <input type="file" name="image" onchange="check_image(this)">
                            </div>
                            
                            <div class="form-group" ng-if="dtl.image" style="padding-left:150px; margin-top:-10px">
                                <img ng-src="uploads/news-sm/{{dtl.image}}" style="width:60px" />
                            </div>
                            
                            <div class="form-group">
                                <label>Display Order</label>
                                <input type="text" class="form-control" name="display_order" ng-model="dtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                            </div>
                            
                            <div class="form-group">
                            	<div style="width:150px; float:left">
                                	Discription
                                </div>
                                <div style="float:left; width:calc(100% - 150px)">
                                	<textarea class="form-control" id="ndesc" rows="8" name="description" ng-model="dtl.description" spellcheck="false"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <div class="form-group">
                                <label>Short Description</label>
                                <textarea class="form-control" rows="4" name="short_description" ng-model="dtl.short_description" spellcheck="false"></textarea>
                                <div class="clearfix"></div>
                            </div>
                            
                            <div class="form-group">
                                <label>Show on Home Page</label>
                                <select class="form-control" name="show_on_home" ng-model="dtl.show_on_home">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label class="req">Status</label>
                                <select class="form-control" name="status" ng-model="dtl.status">
                                    <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                </select>
                            </div>
                            
                            <hr />
                            
                            <div class="form-group">
                                <label>Seo Title</label>
                                <input type="text" class="form-control" name="seo_title" ng-model="dtl.seo_title" maxlength="200" autocomplete="off" spellcheck="false">
                            </div>
                            
                            <div class="form-group">
                                <label>Seo Keywords</label>
                                <textarea class="form-control" rows="2" name="seo_keywords" ng-model="dtl.seo_keywords" maxlength="300" spellcheck="false"></textarea>
                                <div class="clearfix"></div>
                            </div>
                            
                            <div class="form-group">
                                <label>Seo Description</label>
                                <textarea class="form-control" rows="2" name="seo_description" ng-model="dtl.seo_description" maxlength="300" spellcheck="false"></textarea>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="news_saving"><i class="fa fa-spin fa-spinner" ng-if="news_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>