<div class="box">
    <div class="box-title">
        <h1 class="phead">Product Management</h1>
    </div>

    <div class="box-body">
        <div class="mb10">
            <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_product()"><strong>+</strong>&nbsp;Add Product</a>

            <!-- Search -->
            <form class="search_form" ng-submit="search_product($event)">
                <div class="form-inline">
                    <input type="text" ng-model="sform_data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                    <select class="form-control inpt-sm" ng-model="sform_data.cat_id">
                        <option value="">Category (All)</option>
                        <option ng-repeat="r in cats" value="{{r.id}}">{{r.title}}</option>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </div>
            </form>
            <!-- / -->
            <div class="clearfix"></div>
        </div>

        <div class="bold pdT5 pdB5" ng-show="page.total_pages > 1">
            <div class="mypaging pull-right" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_product"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive" ng-show="result.length">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="w16">#</th>
                        <!--<th style="width:40px">Image</th>-->
                        <th>Title</th>
                        <th class="w120 text-center">Show on Home</th>
                        <th class="w150">Category</th>
                        <th class="w80 text-center">Price</th>
                        <th class="w80 text-center" title="Display Order">Dis. Odr</th>
                        <th class="w80 text-center">Status</th>
                        <th class="w100 text-center">Created</th>
                        <th class="w20"></th>
                        <th class="w20"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="(i,r) in result" class="vmid">
                        <td>{{page.start + i + 1}}.</td>
                        <!--<td><img ng-if="r.image" ng-src="{{r.image_url}}" style="width:40px; height:40px" /></td>-->

                        <td>
                            <a href="javascript:;;" class="pull-right" ng-click="product_images(r.id, r.title)">Images</a>
                            {{r.title}}
                            <div class="note-text">{{r.writer}}</div>
                        </td>

                        <td class="text-center">
                            <div class="text-success" ng-if="r.show_on_home == '1'">Yes</div>
                            <div class="text-danger" ng-if="r.show_on_home == '0'">No</div>
                        </td>

                        <td>{{r.cat}}</td>
                        <!--<td class="text-center">{{r.price}}</td>-->
                        <td class="text-center" ng-if="r.price_type == 'paid'" style="width:200px;">Rs. {{r.price}}&nbsp;|&nbsp;USD {{r.price_usd}}</td>
                        <td class="text-center"  ng-if="r.price_type == 'free'" style="width:200px;">Free</td>
                        <td class="text-center">{{r.display_order}}</td>

                        <td class="text-center">
                            <span class="label label-success lblblock" ng-if="r.status == 1">Active</span>
                            <span class="label label-danger lblblock" ng-if="r.status == 0">Inactive</span>
                        </td>
                        <td class="text-center">{{r.created}}</td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="edit_product(r.id)"><i class="fa fa-edit"></i></a>
                        </td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="delete_product(r.id)">
                                <i class="fa fa-times-circle text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bold pdT5 pdB5" ng-show="result.length">
            <div class="mypaging pull-right" ng-show="page.total_pages > 1" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_product"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="not-found" ng-if="ajaxRes && !result.length">No record found.</div>
    </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="proFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{dtl.id?'Update':'Add'}} Product</h4>
            </div>

            <form id="proform" ng-submit="save_product($event)">
                <input type="hidden" name="id" value="{{dtl.id}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div style="height:440px; overflow:auto; padding-right:10px">
                            <div class="form-group">
                                <label class="req">Category</label>
                                <select class="form-control" name="cat_id" ng-model="dtl.cat_id">
                                    <option value="">Select</option>
                                    <option ng-repeat="r in cats" value="{{r.id}}">{{r.title}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="req">Title</label>
                                <input type="text" class="form-control" name="title" ng-model="dtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label>Slug</label>
                                <input type="text" class="form-control" name="slug" ng-model="dtl.slug" maxlength="100" autocomplete="off" spellcheck="false">
                                <div class="note-text" style="padding-left:150px">(It will be appear in url)</div>
                            </div>

                            <div class="form-group">
                                <label>Writer</label>
                                <input type="text" class="form-control" name="writer" ng-model="dtl.writer" maxlength="100" autocomplete="off" spellcheck="false">
                                <div class="note-text" style="padding-left:150px">(In case of book)</div>
                            </div>

                            <div class="form-group">
                                <label class="req">Free</label>
                                <label>
                                    <input type="radio" ng-model="dtl.price_type" value="free" name="price_type" autocomplete="off" />&nbsp;Yes
                                </label>
                                <label>
                                    <input type="radio" ng-model="dtl.price_type" value="paid" name="price_type" autocomplete="off" />&nbsp;No
                                </label>
                            </div>
                            <div ng-if="dtl.price_type == 'paid'">
                                <div class="form-group">
                                    <label class="req">Price (Rs.)</label>
                                    <input type="text" class="form-control" name="price" ng-model="dtl.price" maxlength="8" valid="num" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Mrp (Rs.)</label>
                                    <input type="text" class="form-control" name="mrp" ng-model="dtl.mrp" maxlength="8" valid="num" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label class="req">Price (USD)</label>
                                    <input type="text" class="form-control" name="price_usd" ng-model="dtl.price_usd" maxlength="8" valid="num" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Mrp (USD)</label>
                                    <input type="text" class="form-control" name="mrp_usd" ng-model="dtl.mrp_usd" maxlength="8" valid="num" autocomplete="off" spellcheck="false">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Display Order</label>
                                <input type="text" class="form-control" name="display_order" ng-model="dtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                            </div>


                            <div class="form-group">
                                <label>Short Discription</label>
                                <textarea class="form-control" rows="4" name="short_description" ng-model="dtl.short_description" spellcheck="false"></textarea>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <div style="width:150px; float:left"> 
                                    Discription
                                </div>
                                <div style="float:left; width:calc(100% - 150px)">
                                    <textarea class="form-control" id="pdesc" rows="8" name="description" ng-model="dtl.description" spellcheck="false"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <label>Show on Home Page</label>
                                <select class="form-control" name="show_on_home" ng-model="dtl.show_on_home">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="req">Status</label>
                                <select class="form-control" name="status" ng-model="dtl.status">
                                    <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                </select>
                            </div>

                            <hr />

                            <div class="form-group">
                                <label>Seo Title</label>
                                <input type="text" class="form-control" name="seo_title" ng-model="dtl.seo_title" maxlength="200" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label>Seo Keywords</label>
                                <textarea class="form-control" rows="2" name="seo_keywords" ng-model="dtl.seo_keywords" maxlength="300" spellcheck="false"></textarea>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <label>Seo Description</label>
                                <textarea class="form-control" rows="2" name="seo_description" ng-model="dtl.seo_description" maxlength="300" spellcheck="false"></textarea>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="pro_saving"><i class="fa fa-spin fa-spinner" ng-if="pro_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Image Modal -->
<div class="modal fade" id="imageModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{pro_title}}</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <button class="btn btn-success btn-sm" ng-click="add_image()">+Add Image</button>
                </div>

                <table class="table table-striped">
                    <tbody>
                        <tr class="vmid" ng-repeat="r in images">
                            <td class="w32">
                                <a href="uploads/pro-lg/{{r.image}}" target="_blank">
                                    <img ng-src="uploads/pro-sm/{{r.image}}" style="width:50px" />
                                </a>
                            </td>
                            <td>{{r.caption}}</td>
                            <td class="w16"><a href="javascript:;;" ng-click="edit_image(r.id)"><i class="fa fa-edit"></i></a></td>
                            <td class="w16">
                                <a href="javascript:;;" ng-click="delete_image(r.id, r.image, r.pro_id)">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{sdtl.id?'Update':'Add'}} Image</h4>
            </div>

            <form id="imageform" ng-submit="save_image($event)">
                <input type="hidden" name="id" value="{{sdtl.id}}" />
                <input type="hidden" name="pro_id" value="{{pro_id}}" />
                <input type="hidden" name="oldimage" value="{{sdtl.image}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div>
                            <div ng-hide="dtl.id == '1'">
                                <div class="form-group">
                                    <label class="req">Product Image</label>
                                    <input type="file" name="image" onchange="check_image(this)">
                                </div>
                                <div class="form-group" ng-if="sdtl.image" style="padding-left:150px; margin-top:-10px">
                                    <a href="uploads/pro-lg/{{sdtl.image}}" target="_blank">
                                        <img ng-src="uploads/pro-sm/{{sdtl.image}}" style="width:100px" />
                                    </a>
                                </div>

                                <div class="form-group">
                                    <label>Caption</label>
                                    <input type="text" class="form-control" name="caption" ng-model="sdtl.caption" maxlength="100" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Display Order</label>
                                    <input type="text" class="form-control" name="display_order" ng-model="sdtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="image_saving"><i class="fa fa-spin fa-spinner" ng-if="image_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>