<div class="box">
    <div class="box-title">
        <h1 class="phead">Sidebar Banner Management</h1>
    </div>

    <div class="box-body">
        <div class="mb10">
            <!-- Search -->
            <form class="search_form" ng-submit="search_gallery($event)">
                <div class="form-inline">
                    <input type="text" ng-model="sform_data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                    <select class="form-control inpt-sm" name="type" ng-model="sform_data.section">
                        <option value="">Type (All)</option>
                        <option value="usp">USP</option>
                        <option value="right-side">Right Side</option>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </div>
            </form>
            <!-- / -->
            <div class="clearfix"></div>
        </div>

        <div class="bold pdT5 pdB5" ng-show="page.total_pages > 1">
            <div class="mypaging pull-right" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_gallery"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive" ng-show="result.length">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="w16">#</th>
                        <th style="width:100px">Image</th>
                        <th >Title</th>
                        <th >Section</th>
                        <th >Type</th>
                        <th >URL</th>
                        <th class="w100 text-center">Status</th>
                        <th class="w150 text-center">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="(i, r) in result" class="vmid">
                        <td>{{page.start + i + 1}}.</td>
                        <td>
                            <img ng-if="r.image" ng-src="uploads/sidebar-lg/{{r.image}}" style="max-width:60px; max-height:60px" />
                        </td>
                        <td>{{r.title}}</td>
                        <td>{{r.section}}</td>
                        <td >{{r.type}}</td>
                        <td ng-if="r.type == 'link'">{{r.url}}</td>
                        <td ng-if="r.type == 'no_link'">N/A</td>
                        <td class="text-center">
                            <span class="label label-success lblblock" ng-if="r.status == 1">Active</span>
                            <span class="label label-danger lblblock" ng-if="r.status == 0">Inactive</span>
                        </td>
                        <td class="w150 text-center">
                            <a href="javascript:;;" ng-click="edit_gallery(r.id)"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bold pdT5 pdB5" ng-show="result.length">
            <div class="mypaging pull-right" ng-show="page.total_pages > 1" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_gallery"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="not-found" ng-if="ajaxRes && !result.length">No record found.</div>
    </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="bannerFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{dtl.id?'Update':'Add'}} Gallery</h4>
            </div>

            <form id="bannerForm" ng-submit="save_banner($event)">
                <input type="hidden" name="id" value="{{dtl.id}}" />
                <input type="hidden" name="oldimage" value="{{dtl.image}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div>
                            <div class="form-group">
                                <label class="req">Section</label>
                                <select class="form-control" name="section" ng-model="dtl.section">
                                    <option value="">All</option>
                                    <option value="usp">USP</option>
                                    <option value="right-side">Right Side</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="req">Title</label>
                                <input type="text" class="form-control" name="title" ng-model="dtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>
                            <div class="form-group" ng-if="dtl.section == 'usp'">
                                <label>Description</label>
                                <input type="text" class="form-control" name="description" ng-model="dtl.description" maxlength="255" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Type</label>
                                <select class="form-control" name="type" ng-model="dtl.type">
                                    <option value="">Select</option>
                                    <option ng-repeat="r in types" value="{{r.id}}">{{r.title}}</option>
                                </select>
                            </div>

                            <div class="form-group" ng-if="dtl.type == 'link'">
                                <label class="req">URL</label>
                                <input type="text" class="form-control" name="url" ng-model="dtl.url" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Image</label>
                                <input type="file" name="image" id="banner_image" ng-model="dtl.image"  onchange="check_image(this)">
                            </div>

                            <div class="form-group" ng-if="dtl.image" style="padding-left:150px; margin-top:-10px">
                                <img ng-src="uploads/sidebar-sm/{{dtl.image}}" style="width:60px; height:60px" />
                            </div>

                            <div class="form-group">
                                <label class="req">Show Title </label>
                                <label><input type="radio" name="show_title" id="show_title" ng-model="dtl.show_title" value="yes"/>Yes</label>
                                <label><input type="radio" name="show_title" id="show_title" ng-model="dtl.show_title" value="no"/>No</label>
                            </div>
                            <div class="form-group">
                                <label class="req">Display Order</label>
                                <input type="number" class="form-control" name="display_order" ng-model="dtl.display_order" maxlength="4" autocomplete="off" spellcheck="false">
                            </div>
                            <div class="form-group">
                                <label class="req">Status</label>
                                <select class="form-control" name="status" ng-model="dtl.status">
                                    <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="course_saving"><i class="fa fa-spin fa-spinner" ng-if="course_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
