<div class="box">
    <div class="box-title">
        <h1 class="phead">Newsletter Subscriber Management</h1>
    </div>

    <div class="box-body">
        <div class="mb10">
            <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="export_newsletter()"><strong>+</strong>&nbsp;Export Data</a>
            <!-- Search -->
            <form class="search_form" ng-submit="search_newsletter($event)">
                <div class="form-inline">
                    <input type="text" ng-model="sform_data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </div>
            </form>
            <!-- / -->
            <div class="clearfix"></div>
        </div>

        <div class="bold pdT5 pdB5" ng-show="page.total_pages > 1">
            <div class="mypaging pull-right" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_newsletter"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive" ng-show="result.length">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="w16">#</th>
                        <th>Email</th>
                        <th class="w80 text-center">Status</th>
                        <th class="w250 text-center">Created</th>
                        <th class="w80"></th>
                        <th class="w80"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="(i, r) in result" class="vmid">
                        <td>{{page.start + i + 1}}.</td>
                        <td>
                            {{r.email}}
                        </td>
                        <td class="text-center">
                            <span class="label label-success lblblock" ng-if="r.status == 1">Active</span>
                            <span class="label label-danger lblblock" ng-if="r.status == 0">Inactive</span>
                        </td>
                        <td class="text-center">{{r.created}}</td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="edit_newsletter(r.id)"><i class="fa fa-edit"></i></a>
                        </td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="delete_newsletter(r.id)">
                                <i class="fa fa-times-circle text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bold pdT5 pdB5" ng-show="result.length">
            <div class="mypaging pull-right" ng-show="page.total_pages > 1" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_newsletter"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="not-found" ng-if="ajaxRes && !result.length">No record found.</div>
    </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="newsletterFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{dtl.id?'Update':'Add'}} Subscriber Detail</h4>
            </div>

            <form id="newsletterForm" ng-submit="save_newsletter($event)">
                <input type="hidden" name="id" value="{{dtl.id}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div style=" overflow:auto; padding-right:10px">

                            <div class="form-group">
                                <label class="req">Email</label>
                                <input type="text" class="form-control" name="email" ng-model="dtl.email" maxlength="50" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Status</label>
                                <select class="form-control" name="status" ng-model="dtl.status">
                                    <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="course_saving"><i class="fa fa-spin fa-spinner" ng-if="course_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Batch Modal -->
<div class="modal fade" id="batchModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{coursename}}: Batches</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <button class="btn btn-success btn-sm" ng-click="add_batch()">+Add Batch</button>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="w16">#</th>
                            <th>Batch Name</th>
                            <th class="w120 text-center">Batch Code</th>
                            <th class="w100 text-center">Start Date</th>
                            <th class="w100 text-center">End Date</th>

                            <th class="w16"></th>
                            <th class="w16"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="vmid" ng-repeat="(i, r) in batches">
                            <td class="text-right">{{i + 1}}.</td>
                            <td>
                                {{r.title}}
                                <div class="note-text">{{r.batch_days}}</div>
                                <div class="note-text pdT5">
                                    <strong>Time:</strong> {{r.batch_time}}
                                    &nbsp;|&nbsp;
                                    <strong>Duration:</strong> {{r.duration_hr}} HR {{r.duration_mn}} MIN
                                    &nbsp;|&nbsp;
                                    <strong>No. of Seats:</strong> {{r.no_of_seats}}
                                </div>
                            </td>
                            <td class="text-center">{{r.code}}</td>

                            <td class="text-center">{{r.start_date}}</td>
                            <td class="text-center">{{r.end_date}}</td>

                            <td><a href="javascript:;;" ng-click="edit_batch(r.id)"><i class="fa fa-edit"></i></a></td>
                            <td>
                                <a href="javascript:;;" ng-click="delete_batch(r.id, r.course_id)">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Batch Modal -->
<div class="modal fade" id="lessionModel" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{coursename}}: Lessions</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <button class="btn btn-success btn-sm" ng-click="add_lession()">+Add Lession</button>
                    <!-- Search -->
                    <form class="search_form">
                        <div class="form-inline">
                            <input type="text" ng-model="sLessionFilter" class="form-control inpt-sm w250" placeholder="Keyword..." />
                            <button type="submit" class="btn btn-success btn-sm">Search</button>
                        </div>
                    </form>
                    <!-- / -->
                    <div class="clearfix"></div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="w16">#</th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Description/Link</th>
                            <th class="w20"></th>
                            <th class="w16"></th>
                            <th class="w16"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="vmid" ng-repeat="(i, r) in lessionList | filter:sLessionFilter">
                            <td class="text-right">{{i + 1}}.</td>
                            <td>
                                {{r.title}}                             
                            </td>
                            <td>
                                {{r.type}}                                
                            </td>
                            <td ng-if="r.description != ''">
                                {{r.description}}                                
                            </td>
                            <td ng-if="r.link != ''">
                                {{r.link}}                                
                            </td>
                            <td>
                                <span class="label label-success lblblock" ng-if="r.status == 1">Active</span>
                                <span class="label label-danger lblblock" ng-if="r.status == 0">Inactive</span>                       
                            </td>
                            <td>
                                <a href="javascript:;;" ng-click="edit_lession(r.id)"><i class="fa fa-edit"></i></a>
                            </td>
                            <td>
                                <a href="javascript:;;" ng-click="delete_lession(r.id, r.course_id)">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="batchFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{coursename}}: {{bdtl.id?'Update':'Add'}} Batch</h4>
            </div>

            <form id="batchform" ng-submit="save_batch($event)">
                <input type="hidden" name="id" value="{{bdtl.id}}" />
                <input type="hidden" name="course_id" value="{{course_id}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div class="form-group">
                            <label class="req">Batch Name</label>
                            <input type="text" class="form-control" name="title" ng-model="bdtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label class="req">Batch Code</label>
                            <input type="text" class="form-control" name="code" ng-model="bdtl.code" maxlength="50" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label class="req">No. of Seats</label>
                            <input type="text" class="form-control" name="no_of_seats" ng-model="bdtl.no_of_seats" maxlength="10" valid="int" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label class="req">Start Date</label>
                            <input type="text" class="form-control cal" name="start_date" id="start_date" ng-model="bdtl.start_date" maxlength="100" autocomplete="off" spellcheck="false" readonly="readonly" style="width:150px">
                        </div>

                        <div class="form-group">
                            <div class="req" style="width:150px; float:left">
                                Batch Days
                            </div>
                            <div style="float:left; width:calc(100% - 150px)">
                                <label ng-repeat="d in weekdays" style="width:100px">
                                    <input type="checkbox" name="batch_days[]" value="{{d.k}}" /> {{d.v}}
                                </label>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="req" style="width:150px; float:left">
                                Duration
                            </div>
                            <div class="posRel" style="float:left; width:calc(100% - 150px)">
                                <div style="position:absolute; z-index:100; left:78px; top:4px">HR</div>
                                <input type="text" class="form-control" name="duration_hr" ng-model="bdtl.duration_hr" maxlength="4" valid="int" autocomplete="off" spellcheck="false" style="width:100px; margin-right:10px">
                                <div style="position:absolute; z-index:100; left:184px; top:4px">MN</div>
                                <input type="text" class="form-control" name="duration_mn" ng-model="bdtl.duration_mn" maxlength="4" valid="int" autocomplete="off" spellcheck="false" style="width:100px">
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="req" style="width:150px; float:left">
                                Batch Time
                            </div>
                            <div class="posRel" style="float:left; width:calc(100% - 150px)">
                                <div style="position:absolute; z-index:100; left:78px; top:4px">HH</div>
                                <input type="text" class="form-control" name="time_hr" ng-model="bdtl.time_hr" maxlength="2" valid="int" autocomplete="off" spellcheck="false" style="width:100px; margin-right:10px">
                                <div style="position:absolute; z-index:100; left:184px; top:4px">MM</div>
                                <input type="text" class="form-control" name="time_mn" ng-model="bdtl.time_mn" maxlength="2" valid="int" autocomplete="off" spellcheck="false" style="width:100px; margin-right:10px">

                                <select class="form-control" name="time_type" ng-model="bdtl.time_type" style="width:80px">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <label>Batch Status</label>
                            <select class="form-control" name="batch_status" ng-model="bdtl.batch_status">
                                <option value="A">Available</option>
                                <option value="FF">A Few Seats Available</option>
                                <option value="F">Full</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="batch_saving"><i class="fa fa-spin fa-spinner" ng-if="batch_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="lessionFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{coursename}}: {{lession.id?'Update':'Add'}} Lession</h4>
            </div>

            <form id="lessionform" ng-submit="save_lession($event)">
                <input type="hidden" name="id" value="{{lession.id}}" />
                <input type="hidden" name="course_id" value="{{course_id}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div class="form-group">
                            <label class="req">Lession Name</label>
                            <input type="text" class="form-control" name="title" ng-model="lession.title" maxlength="100" autocomplete="off" spellcheck="false">
                        </div>
                        <div class="form-group">
                            <label class="req">Lession Type</label>
                            <span class="radio-btn">
                                <label>
                                    <input type="radio" ng-model="lession.type" value="online" name="type" ng-click="editor('online')" autocomplete="off" style="">&nbsp;Online
                                </label>
                                <label>
                                    <input type="radio" ng-model="lession.type" value="offline" name="type"  ng-click="editor('offline')" autocomplete="off" style="">&nbsp;Offline
                                </label>
                                <label>
                                    <input type="radio" ng-model="lession.type" value="descriptive" name="type" ng-click="editor('descriptive')" autocomplete="off" style="">&nbsp;Descriptive
                                </label>
                                <label>
                                    <input type="radio" ng-model="lession.type" value="recorded" name="type" ng-click="editor('recorded')" autocomplete="off" style="">&nbsp;Recorded
                                </label>
                            </span>
                        </div>

                        <div class="form-group" id="ldescriptionlession">
                            <label class="req">Description</label>
                            <input type="text" class="form-control" id="ldescription"  name="description" ng-model="lession.description"  autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group" id="descriptionlession">
                            <label class="req">Link</label>
                            <input type="text" class="form-control" id="description" name="link" ng-model="lession.link"  autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" name="status" ng-model="lession.status">
                                <option value="1">Active</option>
                                <option value="0">Deactive</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="lession_saving"><i class="fa fa-spin fa-spinner" ng-if="lession_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Slider Modal -->
<div class="modal fade" id="sliderModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{pagename}}: Slider Images</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <button class="btn btn-success btn-sm" ng-click="add_slide()">+Add New</button>
                </div>

                <table class="table table-bordered">
                    <tbody>
                        <tr class="vmid" ng-repeat="r in slides">
                            <td class="w100">
                                <a href="uploads/slider/{{r.image}}" target="_blank">
                                    <img ng-src="uploads/slider/{{r.image}}" style="width:100px" />
                                </a>
                            </td>
                            <td>
                                <a href="{{r.link}}" target="_blank">{{r.title}}</a>
                                <div class="note-text">{{r.subtitle}}</div>
                            </td>
                            <td class="w16"><a href="javascript:;;" ng-click="edit_slide(r.id)"><i class="fa fa-edit"></i></a></td>
                            <td class="w16">
                                <a href="javascript:;;" ng-click="delete_slide(r.id, r.image, r.page_id)">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="slideFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{sdtl.id?'Update':'Add'}} Slider Image</h4>
            </div>

            <form id="slideform" ng-submit="save_slide($event)">
                <input type="hidden" name="id" value="{{sdtl.id}}" />
                <input type="hidden" name="page_id" value="{{page_id}}" />
                <input type="hidden" name="oldimage" value="{{sdtl.image}}" />
                <input type="hidden" name="type" value="COURSE" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div style="height:440px; overflow:auto; padding-right:10px">
                            <div ng-hide="dtl.id == '1'">
                                <div class="form-group">
                                    <label class="req">Title</label>
                                    <input type="text" class="form-control" name="title" ng-model="sdtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Sub-Title</label>
                                    <input type="text" class="form-control" name="subtitle" ng-model="sdtl.subtitle" maxlength="100" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Link</label>
                                    <input type="text" class="form-control" name="link" ng-model="sdtl.link" maxlength="200" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label>Link Caption</label>
                                    <input type="text" class="form-control" name="link_caption" ng-model="sdtl.link_caption" maxlength="50" autocomplete="off" spellcheck="false">
                                </div>

                                <div class="form-group">
                                    <label class="req">Slider Image</label>
                                    <input type="file" name="image" onchange="check_image(this)">
                                </div>

                                <div class="form-group" ng-if="sdtl.image" style="padding-left:150px; margin-top:-10px">
                                    <a href="uploads/slider/{{sdtl.image}}" target="_blank">
                                        <img ng-src="uploads/slider/{{sdtl.image}}" style="width:100px" />
                                    </a>
                                </div>

                                <div class="form-group">
                                    <label>Display Order</label>
                                    <input type="text" class="form-control" name="display_order" ng-model="sdtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                                </div>

                                <!--<div class="form-group">
                                    <label class="req">Status</label>
                                    <select class="form-control" name="status" ng-model="sdtl.status">
                                        <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                    </select>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="slide_saving"><i class="fa fa-spin fa-spinner" ng-if="slide_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .radio-btn{        
        padding-left: 10px;
    }
    .radio-btn label {
        text-align: left;
        padding-right: 10px;
        width: auto;
    }
</style>