<div class="box">
	<div class="box-title">
        <h1 class="phead">Role Management : <span>{{data.role_id?'Update Role Details':'Add New Role'}}</span></h1>
    </div>
    
	<div class="box-body">
        <div class="row">
        	<div class="col-md-9">
                <div class="panel panel-light">
                    <div class="panel-heading uc">Role details</div>
                    
                    <form id="roleform" ng-submit="save_role($event)">
                        <div class="panel-body label-bold err-sm">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="req">Role Name</label>
                                    <input type="text" class="form-control" ng-model="data.role_name" maxlength="100">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success" ng-disabled="role_submit">
                                <i class="fa fa-spin fa-spinner" ng-if="role_submit"></i> {{data.id?'Update Role Details':'Add Role'}}
                            </button>
                            <a ui-sref="roles" class="btn btn-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
	</div>
</div>