<div class="box">
	<div class="box-title">
        <h1 class="phead">Role Access Controls : <span>{{data.role_dtl.role_name}}</span></h1>
    </div>
    
	<div class="box-body">
    	<form id="roleperform" ng-submit="save_permissions($event)">
        	<input type="hidden" name="role_id" ng-value="data.role_dtl.id" />
            <table class="table table-bordered lbl-no-margin">
                <tbody>
                    <tr>
                        <td class="w250 bold text-center bg-success">Access Control</td>
                        <td class="bold text-center bg-warning" colspan="4">
                            Access Permissions
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            ( <label> <input type="checkbox" ng-model="checkall" ng-disabled="data.role_dtl.role_id==1" /> Check All </label> )
                        </td>
                    </tr>
                    
                    <tr class="text-center" ng-repeat="r in data.access_controls">
                        <td class="bold text-left">{{r.module_name}}</td>
                        <td>
                            <input type="hidden" name="module_ids[]" ng-value="r.id" />
                            <label>
                                <input type="checkbox" name="p_read[{{r.id}}]" 
                                ng-disabled="data.role_dtl.id==1"
                                ng-checked="checkall || data.role_dtl.id==1 || is_access(r.module_id, 'p_read')" />
                                Read
                            </label>
                        </td>
                        
                        <td>
                            <label>
                                <input type="checkbox" name="p_create[{{r.id}}]" 
                                ng-disabled="data.role_dtl.id==1"
                                ng-checked="checkall || data.role_dtl.id==1 || is_access(r.module_id, 'p_create')" />
                                Create
                            </label>
                        </td>
                        
                        <td>
                            <label>
                                <input type="checkbox" name="p_update[{{r.id}}]" 
                                ng-disabled="data.role_dtl.id==1"
                                ng-checked="checkall || data.role_dtl.id==1 || is_access(r.module_id, 'p_update')" />
                                Update
                            </label>
                        </td>
                        
                        <td>
                            <label>
                                <input type="checkbox" name="p_delete[{{r.id}}]" 
                                ng-disabled="data.role_dtl.id==1"
                                ng-checked="checkall || data.role_dtl.id==1 || is_access(r.id, 'p_delete')" />
                                Delete
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="text-center pdT20">
                <button type="submit" class="btn btn-success" ng-disabled="per_submit || data.role_dtl.role_id==1">
                    <i class="fa fa-spin fa-spinner" ng-if="per_submit"></i> Save Permissions
                </button>
                <a ui-sref="roles" class="btn btn-danger">Back to List of Roles</a>
            </div>
        </form>
	</div>
</div>