<div class="box">
    <div class="box-title">
        <h1 class="phead">User Management : <span>List of users</span></h1>
    </div>

    <div class="box-body">
        <div class="mb10">
            <a ui-sref="add_user" class="btn btn-default green-outline btn-sm pull-right"><strong>+</strong>&nbsp;Add User</a>

            <!-- Search -->
            <form class="search_form" ng-submit="search_students($event)">
                <div class="form-inline">
                    <input type="text" ng-model="data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                    <select class="form-control inpt-sm w150" ng-model="data.id">
                        <option value="">Roles (All)</option>
                        <option ng-repeat="r in roles" value="{{r.id}}">{{r.role_name}}</option>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </div>
            </form>
            <!-- / -->
            <div class="clearfix"></div>
        </div>

        <div class="bold pdT5 pdB5" ng-show="result.length">
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
        </div>

        <div class="tbl-light-bx white-bx" ng-show="result.length">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="w16">#</th>
                            <th class="w200">Name</th>
                            <th>Email</th>
                            <th class="w150">Role</th>
                            <th class="w80 text-center">Status</th>
                            <th class="w100">Created</th>
                            <th class="w20"></th>
                            <th class="w20"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="(i,r) in result">
                            <td>{{page.start + i + 1}}.</td>
                            <td>{{r.name}}</td>
                            <td>{{r.email}}</td>
                            <td>{{r.role_name}}</td>

                            <td class="text-center">
                                <span class="label label-success lblblock" ng-if="r.status == 1">Active</span>
                                <span class="label label-danger lblblock" ng-if="r.status == 0">Inactive</span>
                            </td>
                            <td>{{get_date(r.created)}}</td>
                            <td class="w20 vmid">
                                <a ui-sref="edit_user({id:r.id})"><i class="fa fa-edit"></i></a>
                            </td>
                            <td class="w20 vmid">
                                <a href="" class="confirm dis" msg="Are you sure to delete?">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mypaging" ng-show="page.total_pages > 1">
            Pages: <div dir-my-paging fn="search_students"></div>
        </div>

        <div class="not-found" ng-if="ajaxRes && !result.length">No record found.</div>
    </div>
</div>