@charset "utf-8";

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-left, .ui-corner-tl		{border-radius:2px}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-left, .ui-corner-bl	{border-radius:2px}

.ui-widget				{font-family:'Open Sans', sans-serif; font-size: 14px;}
.ui-helper-reset			{font-size:inherit; line-height:inherit}
.ui-widget-content			{background:#fff; color:inherit}
.ui-widget-header			{color:inherit;}
.ui-datepicker .ui-datepicker-title select {font-weight: normal; font-size: 12px; height: 24px; padding: 1px; font-family:'Open Sans', sans-serif;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {top:4px}
.ui-accordion .ui-accordion-content	{}
#ui-datepicker-div                      {z-index: 999999999 !important;}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon       {right: 0.5em; left:auto}
.ui-accordion .ui-accordion-icons                                  {padding-left: 10px}
.ui-accordion .ui-accordion-content                                {padding: 10px}