<div class="box">
    <div class="box-title"><h1>Category Management</h1></div>
    <div class="box-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#ccats" data-toggle="tab">Course Categories</a></li>
            <li><a href="#pcats" data-toggle="tab">Product Categories</a></li>
            <li><a href="#tcats" data-toggle="tab">Teacher Categories</a></li>
            <li><a href="#gcats" data-toggle="tab">Gallery Categories</a></li>
            <li><a href="#hcats" data-toggle="tab">Happenings Categories</a></li>
            <li><a href="#fcats" data-toggle="tab">FAQ's Categories</a></li>
        </ul>

        <div class="tab-content">
            <!-- Course Categories -->
            <div class="tab-pane active pdT10" id="ccats">
                <div class="mb10">
                    <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_cat('Course')"><strong>+</strong>&nbsp;Add Category</a>
                    <input type="text" ng-model="searchCcats" class="form-control inpt-sm searchtxtbx w250" placeholder="Search" />
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive" ng-show="ccats.length">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w16">#</th>
                                <th>Category Name</th>
                                <th class="text-center w150">Display Order</th>
                                <th class="w32" colspan="2"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="vmid" ng-repeat="(i,r) in ccats | filter:searchCcats">
                                <td>{{i + 1}}.</td>
                                <td>{{r.title}}</td>
                                <td class="text-center">{{r.display_order}}</td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="edit_cat(r.id, 'Course')"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="delete_cat(r.id, 'Course')"><i class="fa fa-times-circle text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Product Categories -->
            <div class="tab-pane pdT10" id="pcats">
                <div class="mb10">
                    <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_cat('Product')"><strong>+</strong>&nbsp;Add Category</a>
                    <input type="text" ng-model="searchPcats" class="form-control inpt-sm searchtxtbx w250" placeholder="Search" />
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive" ng-show="pcats.length">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w16">#</th>
                                <th>Category Name</th>
                                <th class="text-center w150">Display Order</th>
                                <th class="w32" colspan="2"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="vmid" ng-repeat="(i,r) in pcats | filter:searchPcats">
                                <td>{{i + 1}}.</td>
                                <td>{{r.title}}</td>
                                <td class="text-center">{{r.display_order}}</td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="edit_cat(r.id, 'Product')"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="delete_cat(r.id, 'Product')"><i class="fa fa-times-circle text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Teacher Categories -->
            <div class="tab-pane pdT10" id="tcats">
                <div class="mb10">
                    <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_cat('Teacher')"><strong>+</strong>&nbsp;Add Category</a>
                    <input type="text" ng-model="searchTcats" class="form-control inpt-sm searchtxtbx w250" placeholder="Search" />
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive" ng-show="tcats.length">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w16">#</th>
                                <th>Category Name</th>
                                <th class="text-center w150">Display Order</th>
                                <th class="w32" colspan="2"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="vmid" ng-repeat="(i,r) in tcats | filter:searchTcats">
                                <td>{{i + 1}}.</td>
                                <td>{{r.title}}</td>
                                <td class="text-center">{{r.display_order}}</td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="edit_cat(r.id, 'Teacher')"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="delete_cat(r.id, 'Teacher')"><i class="fa fa-times-circle text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Gallery Categories -->
            <div class="tab-pane pdT10" id="gcats">
                <div class="mb10">
                    <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_cat('Gallery')"><strong>+</strong>&nbsp;Add Category</a>
                    <input type="text" ng-model="searchGcats" class="form-control inpt-sm searchtxtbx w250" placeholder="Search" />
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive" ng-show="gcats.length">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w16">#</th>
                                <th>Category Name</th>
                                <th class="text-center w150">Display Order</th>
                                <th class="w32" colspan="2"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="vmid" ng-repeat="(i,r) in gcats | filter:searchGcats">
                                <td>{{i + 1}}.</td>
                                <td>{{r.title}}</td>
                                <td class="text-center">{{r.display_order}}</td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="edit_cat(r.id, 'Gallery')"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="delete_cat(r.id, 'Gallery')"><i class="fa fa-times-circle text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Happenings Categories -->
            <div class="tab-pane pdT10" id="hcats">
                <div class="mb10">
                    <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_cat('Happenings')"><strong>+</strong>&nbsp;Add Category</a>
                    <input type="text" ng-model="searchHcats" class="form-control inpt-sm searchtxtbx w250" placeholder="Search" />
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive" ng-show="hcats.length">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w16">#</th>
                                <th>Category Name</th>
                                <th class="text-center w150">Display Order</th>
                                <th class="w32" colspan="2"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="vmid" ng-repeat="(i,r) in hcats | filter:searchHcats">
                                <td>{{i + 1}}.</td>
                                <td>{{r.title}}</td>
                                <td class="text-center">{{r.display_order}}</td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="edit_cat(r.id, 'Happenings')"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="delete_cat(r.id, 'Happenings')"><i class="fa fa-times-circle text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Faq Categories -->
            <div class="tab-pane pdT10" id="fcats">
                <div class="mb10">
                    <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_cat('FAQ')"><strong>+</strong>&nbsp;Add Category</a>
                    <input type="text" ng-model="searchFcats" class="form-control inpt-sm searchtxtbx w250" placeholder="Search" />
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive" ng-show="fcats.length">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w16"></th>
                                <th>Category Name</th>
                                <th class="text-center w150">Display Order</th>
                                <th class="w32" colspan="2"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="vmid" ng-repeat="(i,r) in fcats | filter:searchFcats">
                                <td class="text-center"><i class="{{r.icon_class}}"></i></td>
                                <td>{{r.title}}</td>
                                <td class="text-center">{{r.display_order}}</td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="edit_cat(r.id, 'FAQ')"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="delete_cat(r.id, 'FAQ')"><i class="fa fa-times-circle text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="catFormModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{catdtl.id?'Update':'Add'}} {{cattype}} Category</h4>
            </div>

            <form id="catform" ng-submit="save_cat($event)">
                <input type="hidden" name="id" value="{{catdtl.id}}" />
                <input type="hidden" name="type" value="{{cattype}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div class="form-group">
                            <label class="req">Category Name</label>
                            <input type="text" class="form-control" name="title" ng-model="catdtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group" ng-if="cattype != 'FAQ'">
                            <label>Slug</label>
                            <input type="text" class="form-control" name="slug" ng-model="catdtl.slug" maxlength="100" autocomplete="off" spellcheck="false">
                            <div class="note-text" style="padding-left:150px">(It will be appear in url)</div>
                        </div>

                        <div class="form-group" ng-if="cattype == 'FAQ'">
                            <label>Icon Class</label>
                            <input type="text" class="form-control" name="icon_class" ng-model="catdtl.icon_class" maxlength="50" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label>Display Order</label>
                            <input type="text" class="form-control" name="display_order" ng-model="catdtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                        </div>

                        <hr />

                        <div class="form-group">
                            <label>Seo Title</label>
                            <input type="text" class="form-control" name="seo_title" ng-model="catdtl.seo_title" maxlength="200" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label>Seo Keywords</label>
                            <textarea class="form-control" rows="2" name="seo_keywords" ng-model="catdtl.seo_keywords" maxlength="300" spellcheck="false"></textarea>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <label>Seo Description</label>
                            <textarea class="form-control" rows="2" name="seo_description" ng-model="catdtl.seo_description" maxlength="300" spellcheck="false"></textarea>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="cat_saving"><i class="fa fa-spin fa-spinner" ng-if="cat_saving"></i> Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>