<div class="box">
    <div class="box-title"><h1>Menues and Quick Links</h1></div>
    <div class="box-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#header" data-toggle="tab">Header Menues</a></li>
            <li><a href="#footer" data-toggle="tab">Footer Menues</a></li>
            <li><a href="#quick" data-toggle="tab">Quick Links</a></li>
        </ul>

        <div class="tab-content">
            <!-- Header -->
            <div class="tab-pane active pdT10" id="header">
                <div class="mb10">
                    <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_menu('Header')"><strong>+</strong>&nbsp;Add Menu</a>
                    <input type="text" ng-model="searchHMenu" class="form-control inpt-sm searchtxtbx w250" placeholder="Search" />
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive" ng-show="hmenues.length">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="w16">#</th>
                                <th>Title</th>
                                <th class="text-center w120">Display Order</th>
                                <th class="w32" colspan="2"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="vmid" ng-repeat="(i,r) in hmenues | filter:searchHMenu">
                                <td>{{i + 1}}.</td>
                                <td>
                                    <a href="javascript:;;" class="pull-right" ng-click="sub_menues(r.id, r.title)">Sub Menues</a>
                                    {{r.title}}
                                </td>
                                <td class="text-center">{{r.display_order}}</td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="edit_menu(r.id, 'Header')"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="delete_menu(r.id, 'Header')"><i class="fa fa-times-circle text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Footer -->
            <div class="tab-pane pdT10" id="footer">
                <div class="mb10">
                    <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_menu('Footer')"><strong>+</strong>&nbsp;Add Menu</a>
                    <input type="text" ng-model="searchFMenu" class="form-control inpt-sm searchtxtbx w250" placeholder="Search" />
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive" ng-show="fmenues.length">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w16">#</th>
                                <th>Title</th>
                                <th class="text-center w120">Display Order</th>
                                <th class="w32" colspan="2"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="vmid" ng-repeat="(i,r) in fmenues | filter:searchFMenu">
                                <td>{{i + 1}}.</td>
                                <td>
                                    <a href="javascript:;;" class="pull-right" ng-click="sub_menues(r.id, r.title)">Sub Menues</a>
                                    {{r.title}}
                                </td>
                                <td class="text-center">{{r.display_order}}</td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="edit_menu(r.id, 'Footer')"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="delete_menu(r.id, 'Footer')"><i class="fa fa-times-circle text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Quick Links -->
            <div class="tab-pane pdT10" id="quick">
                <div class="mb10">
                    <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_quicklink()"><strong>+</strong>&nbsp;Add Quick Link</a>
                    <input type="text" ng-model="searchQuick" class="form-control inpt-sm searchtxtbx w250" placeholder="Search" />
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive" ng-show="quicklinks.length">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="w16"></th>
                                <th class="w200">Title</th>
                                <th>Link</th>
                                <th class="text-center w120">Display Order</th>
                                <th class="w32" colspan="2"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="vmid" ng-repeat="(i,r) in quicklinks | filter:searchQuick">
                                <td class="text-center"><i class="{{r.icon_class}}"></i></td>
                                <td>{{r.title}}</td>
                                <td><a href="{{r.link}}" target="_blank">{{r.link}}</a></td>
                                <td class="text-center">{{r.display_order}}</td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="edit_quick_link(r.id)"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="delete_quick_link(r.id)"><i class="fa fa-times-circle text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="menuFormModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{menuname?menuname+': ':''}} {{dtl.id?'Update':'Add'}} {{type=='Submenu'?'Sub-Menu':'Menu'}}</h4>
            </div>

            <form id="menuform" ng-submit="save_menu($event)">
                <input type="hidden" name="id" value="{{dtl.id}}" />
                <input type="hidden" name="type" value="{{type}}" />
                <input type="hidden" name="parent_id" value="{{parent_id}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div class="form-group">
                            <label class="req">Menu Title</label>
                            <input type="text" class="form-control" name="title" ng-model="dtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label class="req">Menu Type</label>
                            <select class="form-control" name="menu_type" ng-model="dtl.menu_type" ng-change="check_menutype()">
                                <option value="CMS_PAGE">Cms Page</option>
                                <option value="OTHER_PAGE">Other Page</option>
                                <option value="LINK">Link</option>
                                <option value="NOLINK">No Link</option>
                            </select>
                        </div>

                        <div class="form-group" ng-show="dtl.menu_type == 'CMS_PAGE'">
                            <label class="req">Cms Page</label>
                            <select class="form-control" name="page_id" ng-model="dtl.page_id">
                                <option value="">Select</option>
                                <option ng-repeat="r in cms_pages" value="{{r.id}}">{{r.title}}</option>
                            </select>
                        </div>

                        <div class="form-group" ng-show="dtl.menu_type == 'OTHER_PAGE'">
                            <label class="req">Other Page</label>
                            <select class="form-control" name="other_page" ng-model="dtl.other_page">
                                <option value="">Select</option>
                                <option ng-repeat="(k,v) in other_pages" value="{{k}}">{{v}}</option>
                            </select>
                        </div>

                        <div class="form-group" ng-show="dtl.menu_type == 'LINK'">
                            <label class="req">Link</label>
                            <input type="text" class="form-control" name="link" ng-model="dtl.link" maxlength="100" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group" ng-show="dtl.menu_type == 'LINK'">
                            <label class="req">Page Open</label>
                            <select class="form-control" name="link_open_type" ng-model="dtl.link_open_type">
                                <option value="">Select</option>
                                <option ng-repeat="(k,v) in link_open_type" value="{{k}}">{{v}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Display Order</label>
                            <input type="text" class="form-control" name="display_order" ng-model="dtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="m_saving"><i class="fa fa-spin fa-spinner" ng-if="m_saving"></i> Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Sub Menu Modal -->
<div class="modal fade" id="submenuModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{menuname}}: Sub Menues</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <button class="btn btn-success btn-sm" ng-click="add_menu('Submenu')">+Add Sub Menu</button>
                </div>

                <div class="table-responsive" ng-show="submenues.length">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w16">#</th>
                                <th>Title</th>
                                <th class="text-center w120">Display Order</th>
                                <th class="w32" colspan="2"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="vmid" ng-repeat="(i,r) in submenues">
                                <td>{{i + 1}}.</td>
                                <td>{{r.title}}</td>
                                <td class="text-center">{{r.display_order}}</td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="edit_menu(r.id, 'Submenu')"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="w16 vmid">
                                    <a href="javascript:void(0)" ng-click="delete_menu(r.id, 'Submenu', r.parent_id)"><i class="fa fa-times-circle text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Quick Link Modal -->
<div class="modal fade" id="qlFormModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{dtl.id?'Update':'Add'}} Quick Link</h4>
            </div>

            <form id="qlform" ng-submit="save_quick_link($event)">
                <input type="hidden" name="id" value="{{dtl.id}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div class="form-group">
                            <label class="req">Title</label>
                            <input type="text" class="form-control" name="title" ng-model="dtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label class="req">Link</label>
                            <input type="text" class="form-control" name="link" ng-model="dtl.link" maxlength="100" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label>Icon Class</label>
                            <input type="text" class="form-control" name="icon_class" ng-model="dtl.icon_class" maxlength="100" autocomplete="off" spellcheck="false">
                        </div>

                        <div class="form-group">
                            <label>Display Order</label>
                            <input type="text" class="form-control" name="display_order" ng-model="dtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="ql_saving"><i class="fa fa-spin fa-spinner" ng-if="ql_saving"></i> Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>