<div class="box">
    <div class="box-title">
        <h1 class="phead">Testimonials</h1>
    </div>

    <div class="box-body">
        <div class="mb10">
            <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_testimonial()"><strong>+</strong>&nbsp;Add Testimonial</a>

            <!-- Search -->
            <form class="search_form" ng-submit="search_testimonial($event)">
                <div class="form-inline">
                    <input type="text" ng-model="sform_data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                    <select class="form-control inpt-sm" ng-model="sform_data.cat_id">
                        <option value="">Category (All)</option>
                        <option ng-repeat="r in cats" value="{{r.id}}">{{r.title}}</option>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </div>
            </form>
            <!-- / -->
            <div class="clearfix"></div>
        </div>

        <div class="bold pdT5 pdB5" ng-show="page.total_pages > 1">
            <div class="mypaging pull-right" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_testimonial"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive" ng-show="result.length">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="w16">#</th>
                        <th class="text-center" style="width:40px">Image</th>
                        <th>Name</th>
                        <th class="w120 text-center">Display Order</th>
                        <th class="w80 text-center">Status</th>
                        <th class="w100 text-center">Date</th>
                        <th class="w20"></th>
                        <th class="w20"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="(i,r) in result" class="vmid">
                        <td>{{page.start + i + 1}}.</td>
                        <td class="text-center">
                            <img ng-if="r.image" ng-src="{{r.image_url}}" style="max-width:60px; max-height:60px" />
                        </td>

                        <td>
                            {{r.title}}
                            <div class="note-text pdT5" ng-if="r.subtitle">{{r.subtitle}}</div>
                        </td>

                        <td class="text-center">{{r.display_order}}</td>

                        <td class="text-center">
                            <span class="label label-success lblblock" ng-if="r.status == 1">Active</span>
                            <span class="label label-danger lblblock" ng-if="r.status == 0">Inactive</span>
                        </td>
                        <td class="text-center">{{r.publish_date}}</td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="edit_testimonial(r.id)"><i class="fa fa-edit"></i></a>
                        </td>
                        <td class="w20">
                            <a href="javascript:;;" ng-click="delete_testimonial(r.id, r.image)">
                                <i class="fa fa-times-circle text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bold pdT5 pdB5" ng-show="result.length">
            <div class="mypaging pull-right" ng-show="page.total_pages > 1" style="padding-top:0">
                Pages: <div dir-my-paging fn="search_testimonial"></div>
            </div>
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
            <div class="clearfix"></div>
        </div>

        <div class="not-found" ng-if="ajaxRes && !result.length">No record found.</div>
    </div>
</div>

<!-- Form Modal -->
<div class="modal fade" id="testiFormModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{dtl.id?'Update':'Add'}} Testimonial</h4>
            </div>

            <form id="testiform" ng-submit="save_testimonial($event)">
                <input type="hidden" name="id" value="{{dtl.id}}" />
                <input type="hidden" name="oldimage" value="{{dtl.image}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div style="height:440px; overflow:auto; padding-right:10px">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control inpt-sm" name="cat_id" ng-model="dtl.cat_id">
                                    <option value="">Category (All)</option>
                                    <option ng-repeat="r in cats" value="{{r.id}}">{{r.title}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="req">Name</label>
                                <input type="text" class="form-control" name="title" ng-model="dtl.title" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label>Subtitle</label>
                                <input type="text" class="form-control" name="subtitle" ng-model="dtl.subtitle" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Date</label>
                                <input type="text" class="form-control cal" name="publish_date" id="publish_date" ng-model="dtl.publish_date" maxlength="100" autocomplete="off" spellcheck="false" readonly="readonly" style="width:150px">
                            </div>

                            <div class="form-group">
                                <label>Image</label>
                                <input type="file" name="image" onchange="check_image(this)">
                            </div>

                            <div class="form-group" ng-if="dtl.image" style="padding-left:150px; margin-top:-10px">
                                <img ng-src="uploads/testimonials/{{dtl.image}}" style="width:60px" />
                            </div>

                            <div class="form-group">
                                <label>Display Order</label>
                                <input type="text" class="form-control" name="display_order" ng-model="dtl.display_order" maxlength="8" valid="int" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label>Discription</label>
                                <textarea class="form-control" rows="8" name="description" ng-model="dtl.description" spellcheck="false"></textarea>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <label class="req">Show On Footer</label>
                                <label>
                                    <input type="radio" ng-model="dtl.footer_display" value="yes" name="footer_display" autocomplete="off" />&nbsp;Yes
                                </label>

                                <label>
                                    <input type="radio" ng-model="dtl.footer_display" value="no" name="footer_display" autocomplete="off" />&nbsp;No
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="req">Status</label>
                                <select class="form-control" name="status" ng-model="dtl.status">
                                    <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="t_saving"><i class="fa fa-spin fa-spinner" ng-if="t_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>