html, body					{height:100%;}
body						{font-size:13px; color:#333; line-height:20px; margin:0; padding:0; background:#fff; font-family:'Open Sans', sans-serif;}
body.login					{background:#fff}
h1,h2,h3,h4					{margin:0; padding:0; line-height:normal}
h1							{font-size:20px}
h1 span						{color:#29b6a6}
h2							{font-size:18px}
h3							{font-size:16px}
h4							{font-size:14px}

input[type="text"], input[type="password"], select, textarea		{border:1px solid #ddd; padding:2px 5px; width:100%}
input[type='checkbox'], input[type='radio']		{vertical-align: middle; margin:0}

/*a							{color:#ca954f}*/
a							{text-decoration:none}
a:hover						{text-decoration:none; color:#4687df}
a:focus, button:focus, input[type='radio']:focus, input[type='checkbox']:focus, button:focus		{outline:none;}
a.dis						{opacity:0.4; pointer-events: none}
hr							{color:#e0e0e0; padding:0; margin:10px 0 15px 0}

/** Misc **/
.main-content-hidden	{opacity:0}
.cal					{background:url(../img/calendar.gif) 100% 6px no-repeat}
.mypaging				{padding-top:10px; text-align:left}
.mypaging a				{display:inline-block; padding:0px 5px; border:1px solid #ccc; margin:0 0 0 5px; cursor:pointer}
.mypaging a:hover		{text-decoration:none; border-color:#333}
.mypaging a.act			{background:#29b6a6; color:#fff;  border:1px solid #29b6a6;}

.record-range			{display:inline-block; font-weight:bold}
.next-prev				{display:inline-block}
.next-prev a.btn		{height:25px; line-height:12px; padding:6px 10px}

.no-wrap				{white-space:nowrap; overflow:hidden; display:block}
.no-wrap::after			{content:''; position: absolute; top: 0; right: 0; width: 30%; height: 100%; background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%); background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%); pointer-events: none;}

.not-found				{padding:10px 0; color:#999;}

/** fancybox override **/
.fancybox-title-inside-wrap h2			{font-weight:bold; font-size:15px; margin:-15px -15px 10px -15px; padding:0 10px 10px 10px; 
                                  border-bottom:1px solid #ccc; overflow:hidden; white-space:nowrap}
.fancybox-opened 						{z-index: 1000000 !important;}

/** Bootstrap override **/
/** 5 cols **/
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {position: relative; min-height: 1px;padding-right: 10px; padding-left: 10px;}
.col-xs-15 {width: 20%; float: left;}

@media (min-width: 768px) 	{.col-sm-15 {width: 20%; float: left;}}
@media (min-width: 992px) 	{.col-md-15 {width: 20%; float: left;}}
@media (min-width: 1200px) 	{.col-lg-15 {width: 20%; float: left;}}

@media (min-width: 100px) { .container {width: 100%; padding:0px; overflow:hidden} }

label								{font-weight:normal}
label.label-bold, .label-bold label	{font-weight:bold}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left:10px; padding-right:10px}
.row					{margin-left:-10px; margin-right:-10px}

.alert					{border-radius:0; padding:5px 10px; margin-bottom:10px}

.btn					{font-size:13px; border-radius:0px;}
.btn:focus, .btn:active	{outline:none}
.btn					{height:28px; line-height:14px}
.btn.btn-sm				{height:26px; line-height:12px;}
.btn.btn-xs				{height:24px; line-height:14px; font-size:11px; padding:4px}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus	{outline-offset:0px}

.btn.btn-green			{background:#1bbc9b; border:1px solid #1bbc9b; color:#fff}
.btn.green-outline		{border-color:#1bbc9b}

.panel, .panel-heading 	{border-radius:0}
.panel-heading 			{padding:6px 15px; font-size:16px;}
.panel-heading.uc		{font-size:15px;}
.panel-body				{padding:10px 15px}
.panel-footer			{padding:5px 15px}

.panel.panel-light								{border:1px solid #e1e1e1}
.panel.panel-light .panel-heading				{background:#e1e1e1; color:#555}

.panel.panel-dark								{border:1px solid #666}
.panel.panel-dark .panel-heading				{background:#666; color:#fff}

.modal-content						{border-radius:0}
.modal .modal-header				{padding-top:8px; padding-bottom:8px; position:relative}
.modal .modal-header h4				{font-size:16px; line-height:normal; font-weight:bold}

.table								{margin:0}
.table > thead > tr > th			{padding:5px 8px; background:#EEEEEE; color:#222; border-bottom:none; font-size:14px}
.table > tbody > tr > td			{padding:5px 8px}
.table .fa							{font-size:1.3em}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td 	{border-bottom-width: 1px;}

.table > tbody > tr > td.hmid, .table > tbody > tr.hmid td				{text-align:center}
.table > tbody > tr > th.hmid, .table > thead > tr.hmid th				{text-align:center}

.table > tbody > tr > td.vmid, .table > tbody > tr.vmid td				{vertical-align:middle}
.table > tbody > tr > th.vmid, .table > thead > tr.vmid th				{vertical-align:middle}

.tbl-primary-bx									{border:1px solid #337ab7}
.tbl-primary-bx .table > thead > tr > th		{background:#337ab7; color:#fff}

.tbl-light-bx									{border:1px solid #e1e1e1}
.tbl-light-bx .table > thead > tr > th			{background:#e1e1e1; color:#555}

.tbl-dark-bx									{border:1px solid #666}
.tbl-dark-bx .table > thead > tr > th			{background:#666; color:#fff}


.form-control			{border-radius:0; height:28px; padding:3px 5px; font-size:13px; box-shadow:none}
.form-control:focus		{outline:none; box-shadow:none}
.form-control.inpt-sm	{height:26px}

div.form-control, .form-group	{min-height:28px; height:auto}
select.form-control				{padding:2px}

.select2-dropdown				{z-index: 11001}

/** Site Css **/
fieldset					{padding:0; margin:0; border:1px solid #f1f1f1}
fieldset legend				{border:1px solid #f1f1f1; font-size:14px; font-weight:bold; padding:3px 10px; width:auto; margin:0px 0 0 10px;}

.wrapper					{min-height:100%; position:relative; padding-bottom:30px}
.box-container				{padding:0 0 0 230px; position:relative}
.login-bx					{width:350px; margin:50px auto}

header						{position:absolute; z-index:100; right:10px; top:10px}
.wel-text a					{color:#f3565d}

.logo						{font-size:18px; padding:0 10px; height:40px; line-height:40px; text-align:center; margin-bottom:5px; background:#E1E1E1}
.logo a						{color:#222}
.logo a span				{color:#f3565d}

.home-logo					{font-size:18px; margin: 100px 0 20px; padding:0 10px; height:40px; line-height:40px; text-align:center;}
.home-logo a					{color:#222}
.home-logo a span				{color:#f3565d}

.leftbar							{min-height:100%; width:230px; background:#F6F6F6; color:#555; position:fixed; left:0px; top:0px; z-index:99}
.leftbar ul, .leftbar ul li			{margin:0; padding:0; list-style-type:none}
.leftbar a							{display:block;}
.leftbar a:focus					{text-decoration:none}
.leftbar ul > li					{position:relative; font-size:14px}
.leftbar ul > li i.r-arr			{position:absolute; right:8px; top:5px; color:#999; display:none}
.leftbar ul > li > a				{padding:6px 12px 6px 34px; border-bottom:1px solid #eee; color:#555; position:relative; cursor:pointer}
.leftbar ul > li:last-child a		{border:none}

.leftbar ul > li > a i				{position:absolute; left:12px; top:9px}
.leftbar ul > li:hover a			{background:#eee} 
.leftbar ul > li > a.act			{color:#fff; background:#29b6a6}

.leftbar ul > li > ul				{position:absolute; z-index:99; left:230px; top:0px; padding:3px 0; background:#303030; width:200px}
.leftbar ul > li > ul li a			{padding:2px 10px; color:#d9d9d9}
.leftbar ul > li > ul li a:hover	{color:#d64635}
.leftbar ul > li > ul li a.act		{color:#d64635}
.leftbar ul > li:hover ul			{display:block; display:none}

h1.phead span				{font-weight:normal}
.white-bx					{background:#fff}
.box						{overflow:hidden}
.box-bdr					{border:1px solid #f1f1f1}
.box-title					{padding:0 10px 0 15px; height:40px; line-height:40px; border-bottom:1px solid #e8e8e8; background:#fff}
.box-title h1				{font-size:18px; font-weight:bold; line-height:40px}
.box-title h2				{font-size:16px; line-height:normal}
.box-title span				{color:#666}
.box-actions				{padding:0 0 10px 0}
.box-body					{padding:10px 10px 10px 15px}
.box-grey					{background:#f6f6f6}
.label.lblblock				{display:block; padding-top:4px; padding-bottom:4px}

.hori-form							{}
.hori-form label					{display:block; float:left; width:150px; padding-right:10px; text-align:center; min-height:28px; padding-top:3px; margin-bottom:0}
.hori-form .form-control			{float:left; width:calc(100% - 150px)}
.hori-form .ferr					{padding-left:150px}
.hori-form.lbw100 label				{width:100px}
.hori-form.lbw100 .form-control		{width:calc(100% - 100px)}
.hori-form.lbw100 .ferr				{padding-left:100px}
.hori-form.lbw200 label				{width:200px}
.hori-form.lbw200 .form-control		{width:calc(100% - 200px)}
.hori-form.lbw200 .ferr				{padding-left:200px}

.hori-form.lbleft label				{text-align:left}
.hori-form.lbright label			{text-align:right}

form .form-group					{position:relative}
.err-sm .ferr						{position:absolute; z-index:100; bottom:-16px; left:0}
.err-sm.left10 .ferr				{left:10px}

.lbl-no-margin label, label.lbl-no-margin	{margin:0}

/** Footer **/
.footer					{width:100%; height:30px; line-height:30px; text-align:right; padding:0px 10px; position:absolute; left:0; bottom:1px; background:#f6f6f6; color:#404040; font-size:12px; box-sizing:border-box; z-index:98}
.footer a				{color:#404040; text-decoration:none;}
.footer-nav a			{display:inline-block; padding-right:10px; font-size:11px}
.login .footer			{text-align:center}

/** Tab **/
.tabBtns a						{display:inline-block; cursor:pointer; color:#333; margin:0 10px 0 0; text-decoration:none}

.panel-primary	.tabBtns a		{color:#ccc}
.panel-primary	.tabBtns a.act	{color:#fff; font-weight:bold}

.panel-dark	.tabBtns a			{color:#fff}
.panel-dark	.tabBtns a.act		{color:#29b6a6; font-weight:bold}

.panel-light .tabBtns a			{color:#555}
.panel-light .tabBtns a.act		{color:#29b6a6; font-weight:bold}

/** Misc **/
.slisttbl tr			{cursor:default}
.slisttbl tr.act		{background:#FFFFCE}
.scheight				{height:300px; overflow:auto}
.stabs					{position:absolute; z-index:100; right:15px; top:3px; height:24px; background:#fff url(../img/search-icon.png) 100% 3px no-repeat; padding-right:20px !important}
.searchtxtbx			{background:#fff url(../img/search-icon.png) 100% 5px no-repeat; padding-right:20px !important}
.songlistchkbx label	{margin-right:15px}

.alertmsg				{position:fixed; z-index:100003; width:100%; right:0; top:5px; text-align:center}
.alertmsg .green		{background:#009D4F; color:#fff; padding:8px 15px; display:inline-block}
.alertmsg .red			{background:#ff0000; color:#fff; padding:8px 15px; display:inline-block}

.bodycover				{position:fixed; z-index:11002; width:100%; height:100%; left:0; background:#888; opacity:0.2}
.ajaxloader				{width:150px; height:50px; line-height:50px; text-align:center; border:1px solid #eee; border-radius:2px; position:fixed; z-index:11003; 
                left:calc(50% - 75px); top:20%; background:#fff; font-size:14px;}

/** **/
@media (min-width: 100px) { 
    /** For min width 1000px **/
    .wrapper							{min-width:800px}
    .container							{min-width:800px}
    .login .wrapper, .login .container	{min-width:350px}

    /*.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2		{width:16.6667%; float:left}
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3		{width:25%; float:left}
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4		{width:33.33333%; float:left}
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5		{width:41.6667%; float:left}
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6		{width:50%; float:left}
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7		{width:58.3333%; float:left}
    .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8		{width:66.6667%; float:left}
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9		{width:75%; float:left}
    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10	{width:83.3333%; float:left}
    .col-sm-15, .col-md-15, .col-lg-15				{width:20%; float:left}*/

    .form-inline .form-control						{display:inline-block}
    /** /\ **/
}

/** EOF **/