<div class="box">
    <div class="box-title">
        <h1 class="phead">Student Management : <span>List of students</span></h1>
    </div>

    <div class="box-body">
        <div class="mb10">
            <a class="btn btn-default green-outline btn-sm pull-right" href="javascript:;;" ng-click="add_student()"><strong>+</strong>&nbsp;Add Student</a>

            <!-- Search -->
            <form class="search_form" ng-submit="search_students($event)">
                <div class="form-inline">
                    <input type="text" ng-model="data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                    <select class="form-control" style="width: 120px !important" ng-model="data.isLifetimeMember">
                        <option ng-repeat="memberStatusList in membership_status" value="{{memberStatusList.value}}" ng-selected="memberStatusList.value == data.isLifetimeMember">{{memberStatusList.name}}</option>
                    </select>
                    <select class="form-control" style="width: 120px !important" ng-model="data.status">
                        <option ng-repeat="statusList in status_list" value="{{statusList.value}}" ng-selected="statusList.value == data.status">{{statusList.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                </div>
            </form>
            <!-- / -->
            <div class="clearfix"></div>
        </div>

        <div class="bold pdT5 pdB5" ng-show="result.length">
            Showing {{page.start + 1}} - {{page.start + page.total}} of {{page.total_records}} records.
        </div>


        <div class="tbl-light-bx white-bx" ng-show="result.length">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="w16">#</th>
                            <th class="w120">Name</th>
                            <th class="w200">Email</th>
                            <th class="w100">Enrollment</th>
                            <th class="w100 text-center">Status</th>
                            <th class="w120 text-center">Lifetime Member</th>
                            <th class="w100">Registered On</th>
                            <th class="w20"></th>
                            <th class="w20"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="(i, r) in result">
                            <td>{{page.start + i + 1}}.</td>
                            <td>{{r.name}}<br/>
                                {{r.studentId}}</td>
                            <td>{{r.email}}</td>
                            <td ng-if="r.total_enroll > 0"><a href="" ng-click="course_enrollment(r.id, r.name)">View ({{r.total_enroll}})</a></td>
                            <td ng-if="r.total_enroll <= 0"><a href="javascript::void(0)">View (0)</a></td>
                            <td class="text-center">
                                <span class="w80 text-center label label-success" ng-click="update_status(r.id, r.status)" ng-if="r.status == 1">Active</span>
                                <span class="w80 text-center label label-danger" ng-click="update_status(r.id, r.status)" ng-if="r.status == 0">Inactive</span>
                            </td>
                            <td class="text-center">
                                <span class="w80 text-center label label-success" ng-click="update_membership(r.id, r.isLifetimeMember)" ng-if="r.isLifetimeMember == 1">Member</span>
                                <span class="w80 text-center label label-danger" ng-click="update_membership(r.id, r.isLifetimeMember)" ng-if="r.isLifetimeMember == 0">Non Member</span>
                            </td>
                            <td>{{get_date(r.created)}}</td>
                            <!--                            <td class="w20 vmid">
                                                            <a ng-click="edit_student(r.id)"><i class="fa fa-edit"></i></a>
                                                        </td>-->
                            <td class="w20 vmid">
                                <a ng-click="view_detail(r.id)"><i class="fa fa-eye"></i></a>
                            </td>
                            <td class="w20 vmid">
                                <a ng-click="login_as_user(r.id)" title="Login As User"><i class="fa fa-user"></i></a>
                                <!--<a href="admin/p/student/login_as_user/{{r.id}}" target="_blank"><i class="fa fa-user"></i></a>-->
                            </td>
                            <td class="w20 vmid">
                                <a ng-click="delete_student(r.id)">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mypaging" ng-show="page.total_pages > 1">
            Pages: <div dir-my-paging fn="search_students"></div>
        </div>

        <div class="not-found" ng-if="ajaxRes && !result.length">No record found.</div>
    </div>
</div>

<!-- Batch Modal -->
<div class="modal fade" id="enrollmentListModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{username}}: Enrollment List</h4>
            </div>

            <div class="modal-body">

                <div class="mb10">
                    <!-- Search -->
                    <form class="search_form">
                        <div class="form-inline">
                            <input type="text" ng-model="data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
                            <select class="form-control" style="width: 120px !important" ng-model="data.status">
                                <option ng-repeat="enrollment in status_enrollments" value="{{enrollment.value}}" ng-selected="enrollment.value == data.status">{{enrollment.name}}</option>
                            </select>
                            <div style="display:none">
                                <input type="hidden" ng-model="data.userid" class="form-control inpt-sm w250"/>
                                <input type="hidden" ng-model="data.username" class="form-control inpt-sm w250"/>
                            </div>
                            <button type="button" ng-click="list_enrollments($event)" class="btn btn-success btn-sm">Search</button>
                        </div>
                    </form>
                    <!-- / -->
                    <div class="clearfix"></div>
                </div>
                <div class="bold pdT5 pdB5" ng-show="enrollmentlist.length">
                    Showing {{enrollmentpage.start + 1}} - {{enrollmentpage.start + enrollmentpage.total}} of {{enrollmentpage.total_records}} records.
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="w16">#</th>
                            <th class="w120">Course Name</th>
                            <th class="w120">Batch Detail</th>
                            <th class="w120">Enrollment Number</th>
                            <th class="w100">Enrollment Date</th>
                            <th class="w120">Paid Amount</th>
                            <th class="w100">Payment Detail</th>
                            <th class="w16">Status</th>
                            <th class="w16"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="vmid" ng-repeat="(i, r) in enrollmentlist">
                            <td class="text-right">{{i + 1}}.</td>
                            <td class="w200 text-left">
                                {{r.course_title}}
                                <div class="note-text">{{r.course_code}}-{{r.course_type}}</div>
                                <div class="note-text" ng-if="r.course_price_type == 'paid'">Rs. {{r.price}}&nbsp;|&nbsp;USD {{r.price_usd}}</div>
                                <div class="note-text" ng-if="r.course_price_type == 'free'">Free</div>
                            </td>
                            <td class="w200 text-left">
                                {{r.batch_title}}
                                <div class="note-text">{{r.batch_no}}</div>
                                <div class="note-text">{{r.batch_date}}</div>
                            </td>
                            <td class="text-left">{{r.enrollment_number}}</td>
                            <td class="text-left">{{r.created}}{{r.price_type}}</td>                            
                            <td class="text-left" ng-if="r.price_type == 'paid'">{{r.currency_type}} {{r.course_fees}}</td>
                            <td class="text-left" ng-if="r.price_type == 'free'">Free</td>
                            <td class="text-left" ng-if="r.price_type == null">N/A</td>
                            <td class="w250 text-left" style="text-transform: capitalize"  ng-if="r.price_type == 'paid'">
                                {{r.payment_status}}
                                <div class="note-text"  ng-if="r.payment_gateway_name != ''">{{r.payment_gateway_name}}</div>
                                <div class="note-text" ng-if="r.payment_gateway_id != ''">#{{r.payment_gateway_id}}</div>
                            </td>
                            <td class="w100" ng-click="update_enrollment_change(r.id, '', r)" ng-if="r.approval_status != ''" style="cursor:pointer;text-transform: capitalize"><div class="note-text">{{r.approval_status}}</div></td>
                            <td ng-click="update_enrollment_change(r.id, '', r)" ng-if="r.approval_status == ''" style="cursor:pointer;text-transform: capitalize">N/A</td>
                            <td><a href="javascript:;;" ng-click="view_batch(r.id, r.course_id)"><i class="fa fa-eye"></i></a></td>
                        </tr>
                        <tr class="vmid" ng-if="enrollmentlist == undefined">
                            <td class="text-center" colspan="8">
                                No Enrollment Yet
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<!-- Batch Modal -->
<div class="modal fade" id="updateEnrollmentModal" role="dialog" aria-hidden="true" style="z-index:1100 !important" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change Enrollment Status</h4>
            </div>

            <div class="modal-body">
                <div class="mb10">
                    <!-- Search -->
                    <div style="vertical-align:top">
                        <div style="color:red; text-align: center">{{commentError}}</div>
                        <div class="form-label"><label>Approval Status</div>
                        <div>
                            <select class="form-control" style="width: 80px !important" ng-model="sEnrollStatus">
                                <option ng-repeat="enrollment in status_enrollments" value="{{enrollment.value}}"  ng-selected="enrollment.value == r.approval_status">{{enrollment.name}}</option>
                            </select>
                        </div>
                        <div class="form-label"><label>Comment</div>
                        <div>
                            <textarea  ng-model="sEnrolComment" class="form-control" rows="5" cols="60"></textarea>
                            <div style="display:none">
                                <input type="hidden" ng-model="iEnrolID" class="form-control"/>
                            </div>
                        </div>
                        <div style="padding-top:10px">
                            <button type="button" ng-click="update_enrollment_status()" class="btn btn-success btn-sm">Update</button>
                        </div>
                        <!-- / -->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Batch Modal -->
<div class="modal fade" id="viewDetailModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{studentDetail.name}}'s Details</h4>
            </div>

            <div class="modal-body enrollment-details">
                <table class="table table-striped">
                    <tbody>
                        <tr class="vmid">
                            <td class="text-left"><label class="bold">Name : </label> {{studentDetail.name}}</td>
                            <td class="text-left"><label class="bold">Gender : </label> {{studentDetail.gender}}</td>
                        </tr>
                        <tr class="vmid">
                            <td class="text-left"><label class="bold">Email : </label> {{studentDetail.email}}</td>
                            <td class="text-left"><label class="bold">Alternative Email : </label> {{studentDetail.alternative_email}}</td>
                        </tr>
                        <tr class="vmid">
                            <td class="text-left"><label class="bold">Phone Number : </label> {{studentDetail.phone}}</td>
                            <td class="text-left"><label class="bold">Alternative Phone Number : </label> {{studentDetail.alternative_phone}}</td>
                        </tr>
                        <tr class="vmid">
                            <td class="text-left"><label class="bold">Date Of Birth : </label> {{studentDetail.dob}}</td>
                            <td class="text-left"><label class="bold">Whatsapp Number : </label> {{studentDetail.other_id}}</td>
                        </tr>                       
                        <tr class="vmid">
                            <td class="text-left"><label class="bold">Skype ID : </label> {{studentDetail.skype_id}}</td>
                            <td class="text-left"><label class="bold">Hangout ID : </label> {{studentDetail.hangout_id}}</td>
                        </tr>
                        <tr class="vmid">
                            <td class="text-left"><label class="bold">Address : </label> {{studentDetail.address}}</td>
                            <td class="text-left"><label class="bold">City : </label> {{studentDetail.city}}</td>
                        </tr>
                        <tr class="vmid">
                            <td class="text-left"><label class="bold">State : </label> {{studentDetail.state}}</td>
                            <td class="text-left"><label class="bold">Country : </label> {{studentDetail.country}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<!-- Form Modal -->
<div class="modal fade" id="addStudentModel" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{dtl.id?'Update':'Add'}} Student</h4>
            </div>

            <form id="addStudentForm" ng-submit="save_student($event)">
                <input type="hidden" name="id" value="{{dtl.id}}" />
                <div class="modal-body">
                    <div class="hori-form lbleft">
                        <div>

                            <div class="form-group">
                                <label class="req">Name</label>
                                <input type="text" class="form-control" name="name" ng-model="dtl.name" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Email</label>
                                <input type="email" class="form-control" name="email" ng-model="dtl.email" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Country</label>
                                <select id="country" name="country" onchange="chooseCountry(this.value)" class="form-control">
                                    <option value="">-- Select --</option>
                                    <option value="1_93">Afghanistan</option>
                                    <option value="2_355">Albania</option>
                                    <option value="3_213">Algeria</option>
                                    <option value="4_1684">American Samoa</option>
                                    <option value="5_376">Andorra</option>
                                    <option value="6_244">Angola</option>
                                    <option value="7_1264">Anguilla</option>
                                    <option value="8_0">Antarctica</option>
                                    <option value="9_1268">Antigua And Barbuda</option>
                                    <option value="10_54">Argentina</option>
                                    <option value="11_374">Armenia</option>
                                    <option value="12_297">Aruba</option>
                                    <option value="13_61">Australia</option>
                                    <option value="14_43">Austria</option>
                                    <option value="15_994">Azerbaijan</option>
                                    <option value="16_1242">Bahamas The</option>
                                    <option value="17_973">Bahrain</option>
                                    <option value="18_880">Bangladesh</option>
                                    <option value="19_1246">Barbados</option>
                                    <option value="20_375">Belarus</option>
                                    <option value="21_32">Belgium</option>
                                    <option value="22_501">Belize</option>
                                    <option value="23_229">Benin</option>
                                    <option value="24_1441">Bermuda</option>
                                    <option value="25_975">Bhutan</option>
                                    <option value="26_591">Bolivia</option>
                                    <option value="27_387">Bosnia And Herzegovina</option>
                                    <option value="28_267">Botswana</option>
                                    <option value="29_0">Bouvet Island</option>
                                    <option value="30_55">Brazil</option>
                                    <option value="31_246">British Indian Ocean Territory</option>
                                    <option value="32_673">Brunei</option>
                                    <option value="33_359">Bulgaria</option>
                                    <option value="34_226">Burkina Faso</option>
                                    <option value="35_257">Burundi</option>
                                    <option value="36_855">Cambodia</option>
                                    <option value="37_237">Cameroon</option>
                                    <option value="38_1">Canada</option>
                                    <option value="39_238">Cape Verde</option>
                                    <option value="40_1345">Cayman Islands</option>
                                    <option value="41_236">Central African Republic</option>
                                    <option value="42_235">Chad</option>
                                    <option value="43_56">Chile</option>
                                    <option value="44_86">China</option>
                                    <option value="45_61">Christmas Island</option>
                                    <option value="46_672">Cocos (keeling) Islands</option>
                                    <option value="47_57">Colombia</option>
                                    <option value="48_269">Comoros</option>
                                    <option value="51_682">Cook Islands</option>
                                    <option value="52_506">Costa Rica</option>
                                    <option value="53_225">Cote D'ivoire (ivory Coast)</option>
                                    <option value="54_385">Croatia (hrvatska)</option>
                                    <option value="55_53">Cuba</option>
                                    <option value="56_357">Cyprus</option>
                                    <option value="57_420">Czech Republic</option>
                                    <option value="50_242">Democratic Republic Of The Congo</option>
                                    <option value="58_45">Denmark</option>
                                    <option value="59_253">Djibouti</option>
                                    <option value="60_1767">Dominica</option>
                                    <option value="61_1809">Dominican Republic</option>
                                    <option value="62_670">East Timor</option>
                                    <option value="63_593">Ecuador</option>
                                    <option value="64_20">Egypt</option>
                                    <option value="65_503">El Salvador</option>
                                    <option value="66_240">Equatorial Guinea</option>
                                    <option value="67_291">Eritrea</option>
                                    <option value="68_372">Estonia</option>
                                    <option value="69_251">Ethiopia</option>
                                    <option value="70_61">External Territories Of Australia</option>
                                    <option value="71_500">Falkland Islands</option>
                                    <option value="72_298">Faroe Islands</option>
                                    <option value="73_679">Fiji Islands</option>
                                    <option value="74_358">Finland</option>
                                    <option value="75_33">France</option>
                                    <option value="76_594">French Guiana</option>
                                    <option value="77_689">French Polynesia</option>
                                    <option value="78_0">French Southern Territories</option>
                                    <option value="79_241">Gabon</option>
                                    <option value="80_220">Gambia The</option>
                                    <option value="81_995">Georgia</option>
                                    <option value="82_49">Germany</option>
                                    <option value="83_233">Ghana</option>
                                    <option value="84_350">Gibraltar</option>
                                    <option value="85_30">Greece</option>
                                    <option value="86_299">Greenland</option>
                                    <option value="87_1473">Grenada</option>
                                    <option value="88_590">Guadeloupe</option>
                                    <option value="89_1671">Guam</option>
                                    <option value="90_502">Guatemala</option>
                                    <option value="91_44">Guernsey And Alderney</option>
                                    <option value="92_224">Guinea</option>
                                    <option value="93_245">Guinea-bissau</option>
                                    <option value="94_592">Guyana</option>
                                    <option value="95_509">Haiti</option>
                                    <option value="96_0">Heard And Mcdonald Islands</option>
                                    <option value="97_504">Honduras</option>
                                    <option value="98_852">Hong Kong S.a.r.</option>
                                    <option value="99_36">Hungary</option>
                                    <option value="100_354">Iceland</option>
                                    <option value="101_91">India</option>
                                    <option value="102_62">Indonesia</option>
                                    <option value="103_98">Iran</option>
                                    <option value="104_964">Iraq</option>
                                    <option value="105_353">Ireland</option>
                                    <option value="106_972">Israel</option>
                                    <option value="107_39">Italy</option>
                                    <option value="108_1876">Jamaica</option>
                                    <option value="109_81">Japan</option>
                                    <option value="110_44">Jersey</option>
                                    <option value="111_962">Jordan</option>
                                    <option value="112_7">Kazakhstan</option>
                                    <option value="113_254">Kenya</option>
                                    <option value="114_686">Kiribati</option>
                                    <option value="115_850">Korea North</option>
                                    <option value="116_82">Korea South</option>
                                    <option value="117_965">Kuwait</option>
                                    <option value="118_996">Kyrgyzstan</option>
                                    <option value="119_856">Laos</option>
                                    <option value="120_371">Latvia</option>
                                    <option value="121_961">Lebanon</option>
                                    <option value="122_266">Lesotho</option>
                                    <option value="123_231">Liberia</option>
                                    <option value="124_218">Libya</option>
                                    <option value="125_423">Liechtenstein</option>
                                    <option value="126_370">Lithuania</option>
                                    <option value="127_352">Luxembourg</option>
                                    <option value="128_853">Macau S.a.r.</option>
                                    <option value="129_389">Macedonia</option>
                                    <option value="130_261">Madagascar</option>
                                    <option value="131_265">Malawi</option>
                                    <option value="132_60">Malaysia</option>
                                    <option value="133_960">Maldives</option>
                                    <option value="134_223">Mali</option>
                                    <option value="135_356">Malta</option>
                                    <option value="136_44">Man (isle Of)</option>
                                    <option value="137_692">Marshall Islands</option>
                                    <option value="138_596">Martinique</option>
                                    <option value="139_222">Mauritania</option>
                                    <option value="140_230">Mauritius</option>
                                    <option value="141_269">Mayotte</option>
                                    <option value="142_52">Mexico</option>
                                    <option value="143_691">Micronesia</option>
                                    <option value="144_373">Moldova</option>
                                    <option value="145_377">Monaco</option>
                                    <option value="146_976">Mongolia</option>
                                    <option value="147_1664">Montserrat</option>
                                    <option value="148_212">Morocco</option>
                                    <option value="149_258">Mozambique</option>
                                    <option value="150_95">Myanmar</option>
                                    <option value="151_264">Namibia</option>
                                    <option value="152_674">Nauru</option>
                                    <option value="153_977">Nepal</option>
                                    <option value="154_599">Netherlands Antilles</option>
                                    <option value="155_31">Netherlands The</option>
                                    <option value="156_687">New Caledonia</option>
                                    <option value="157_64">New Zealand</option>
                                    <option value="158_505">Nicaragua</option>
                                    <option value="159_227">Niger</option>
                                    <option value="160_234">Nigeria</option>
                                    <option value="161_683">Niue</option>
                                    <option value="162_672">Norfolk Island</option>
                                    <option value="163_1670">Northern Mariana Islands</option>
                                    <option value="164_47">Norway</option>
                                    <option value="165_968">Oman</option>
                                    <option value="166_92">Pakistan</option>
                                    <option value="167_680">Palau</option>
                                    <option value="168_970">Palestinian Territory Occupied</option>
                                    <option value="169_507">Panama</option>
                                    <option value="170_675">Papua New Guinea</option>
                                    <option value="171_595">Paraguay</option>
                                    <option value="172_51">Peru</option>
                                    <option value="173_63">Philippines</option>
                                    <option value="174_0">Pitcairn Island</option>
                                    <option value="175_48">Poland</option>
                                    <option value="176_351">Portugal</option>
                                    <option value="177_1787">Puerto Rico</option>
                                    <option value="178_974">Qatar</option>
                                    <option value="49_242">Republic Of The Congo</option>
                                    <option value="179_262">Reunion</option>
                                    <option value="180_40">Romania</option>
                                    <option value="181_70">Russia</option>
                                    <option value="182_250">Rwanda</option>
                                    <option value="183_290">Saint Helena</option>
                                    <option value="184_1869">Saint Kitts And Nevis</option>
                                    <option value="185_1758">Saint Lucia</option>
                                    <option value="186_508">Saint Pierre And Miquelon</option>
                                    <option value="187_1784">Saint Vincent And The Grenadines</option>
                                    <option value="188_684">Samoa</option>
                                    <option value="189_378">San Marino</option>
                                    <option value="190_239">Sao Tome And Principe</option>
                                    <option value="191_966">Saudi Arabia</option>
                                    <option value="192_221">Senegal</option>
                                    <option value="193_381">Serbia</option>
                                    <option value="194_248">Seychelles</option>
                                    <option value="195_232">Sierra Leone</option>
                                    <option value="196_65">Singapore</option>
                                    <option value="197_421">Slovakia</option>
                                    <option value="198_386">Slovenia</option>
                                    <option value="199_44">Smaller Territories Of The Uk</option>
                                    <option value="200_677">Solomon Islands</option>
                                    <option value="201_252">Somalia</option>
                                    <option value="202_27">South Africa</option>
                                    <option value="203_0">South Georgia</option>
                                    <option value="204_211">South Sudan</option>
                                    <option value="205_34">Spain</option>
                                    <option value="206_94">Sri Lanka</option>
                                    <option value="207_249">Sudan</option>
                                    <option value="208_597">Suriname</option>
                                    <option value="209_47">Svalbard And Jan Mayen Islands</option>
                                    <option value="210_268">Swaziland</option>
                                    <option value="211_46">Sweden</option>
                                    <option value="212_41">Switzerland</option>
                                    <option value="213_963">Syria</option>
                                    <option value="214_886">Taiwan</option>
                                    <option value="215_992">Tajikistan</option>
                                    <option value="216_255">Tanzania</option>
                                    <option value="217_66">Thailand</option>
                                    <option value="218_228">Togo</option>
                                    <option value="219_690">Tokelau</option>
                                    <option value="220_676">Tonga</option>
                                    <option value="221_1868">Trinidad And Tobago</option>
                                    <option value="222_216">Tunisia</option>
                                    <option value="223_90">Turkey</option>
                                    <option value="224_7370">Turkmenistan</option>
                                    <option value="225_1649">Turks And Caicos Islands</option>
                                    <option value="226_688">Tuvalu</option>
                                    <option value="227_256">Uganda</option>
                                    <option value="228_380">Ukraine</option>
                                    <option value="229_971">United Arab Emirates</option>
                                    <option value="230_44">United Kingdom</option>
                                    <option value="231_1">United States</option>
                                    <option value="232_1">United States Minor Outlying Islands</option>
                                    <option value="233_598">Uruguay</option>
                                    <option value="234_998">Uzbekistan</option>
                                    <option value="235_678">Vanuatu</option>
                                    <option value="236_39">Vatican City State (holy See)</option>
                                    <option value="237_58">Venezuela</option>
                                    <option value="238_84">Vietnam</option>
                                    <option value="239_1284">Virgin Islands (british)</option>
                                    <option value="240_1340">Virgin Islands (us)</option>
                                    <option value="241_681">Wallis And Futuna Islands</option>
                                    <option value="242_212">Western Sahara</option>
                                    <option value="243_967">Yemen</option>
                                    <option value="244_38">Yugoslavia</option>
                                    <option value="245_260">Zambia</option>
                                    <option value="246_263">Zimbabwe</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="req">Phone No.</label>
                                <input type="text" readonly="readonly" name="country_code" style="width:5%" maxlength="5" id="country_code" value="">
                                <input type="text" style="width:77%" name="phone" ng-model="dtl.phone" maxlength="10" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Skype ID</label>
                                <input type="text" class="form-control" name="skype_id" ng-model="dtl.skype_id" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Other ID</label>
                                <input type="text" class="form-control" name="other_id" ng-model="dtl.other_id" maxlength="100" autocomplete="off" spellcheck="false">
                            </div>

                            <div class="form-group">
                                <label class="req">Status</label>
                                <select class="form-control" name="status" ng-model="dtl.status">
                                    <option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="course_saving"><i class="fa fa-spin fa-spinner" ng-if="course_saving"></i> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th{
        vertical-align: top !important;
        font-size: 13px;
    }
</style>
