<div class="box">
	<div class="box-title"><h1>Profile</h1></div>
	<div class="box-body">
        <div class="row">
        	<div class="col-md-8">
            	<div class="tabBox">
                	<div class="panel panel-light">
                        <div class="panel-heading uc">
                        	<div class="tabBtns">
                            	<a href="" class="act">Profile details</a>
                                <a href="">Change Password</a>
                            </div>
                        </div>
                        
                        <div class="tabContentBx">
                        	<!-- User Details -->
                        	<div class="tabContent">
                            	<form id="profileform" ng-submit="update_profile($event)">
                                    <div class="panel-body label-bold err-sm left10">
                                    	<div class="alert alert-success smsg el-hide">Profile updated successfully</div>
                                        
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="req">First Name</label>
                                                <input type="text" class="form-control" name="fname" ng-value="profile.fname" maxlength="100">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" name="lname" ng-value="profile.lname" maxlength="50">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="req">Username</label>
                                                <input type="text" class="form-control" name="username" ng-value="profile.username" maxlength="50">
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                                <label class="req">Email</label>
                                                <input type="text" class="form-control" name="email" ng-value="profile.email" maxlength="100">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                        <div class="row">
                                        	<div class="form-group col-md-6">
                                                <label class="req">Mobile No.</label>
                                                <input type="text" class="form-control" name="mobile" ng-value="profile.mobile" maxlength="10">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Phone No.</label>
                                                <input type="text" class="form-control" name="phone" ng-value="profile.phone" maxlength="10">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="panel-footer">
                                        <button type="submit" class="btn btn-success" ng-disabled="profile_submit">
                                        	<i class="fa fa-spin fa-spinner" ng-if="profile_submit"></i> Update Profile
                                        </button>
                                    </div>
                                </form>
                            </div>
                            
                            <!-- Change Pasword -->
                            <div class="tabContent" style="display:none">
                            	<form id="passform" ng-submit="change_pass($event)">
                                    <div class="panel-body label-bold hori-form">
                                        <div class="alert alert-success smsg el-hide">Password changed successfully</div>
                                        
                                        <div class="form-group">
                                            <label class="req">New Password</label>
                                            <input type="password" class="form-control" name="password" maxlength="50">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="req">Confirm Password</label>
                                            <input type="password" class="form-control" name="repassword" maxlength="50">
                                        </div>
                                    </div>
                                    
                                    <div class="panel-footer">
                                        <button type="submit" class="btn btn-success" ng-disabled="pass_submit">
                                        	<i class="fa fa-spin fa-spinner" ng-if="pass_submit"></i> Change Password
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
	</div>
</div>