<div class="box">
	<div class="box-title">
    	<h1 class="phead">Role Management : <span>List of roles</span></h1>
    </div>
    
	<div class="box-body">
		<div class="mb10">
            <a ui-sref="add_role" class="btn btn-default green-outline btn-sm pull-right"><strong>+</strong>&nbsp;Add Role</a>
            
			<!-- Search -->
			<form class="search_form" ng-submit="search_roles($event)">
				<div class="form-inline">
					<input type="text" ng-model="sform_data.k" class="form-control inpt-sm w250" placeholder="Keyword..." />
					<button type="submit" class="btn btn-success btn-sm">Search</button>
				</div>
			</form>
			<!-- / -->
            <div class="clearfix"></div>
		</div>
        
        <div class="tbl-light-bx white-bx" ng-show="roles.result.length">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="w16">#</th>
                            <th>Role Name</th>
                            <th class="w100">Created</th>
                            <th class="w20"></th>
                            <th class="w20"></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr ng-repeat="(i,r) in roles.result">
                            <td>{{roles.page.start+i+1}}.</td>
                            <td>
                            	<a ui-sref="role_access({id:r.id})" class="pull-right">Access Controls</a>
                            	{{r.role_name}}
                            </td>
                            
                            <td>{{get_date(r.created)}}</td>
                            <td class="w20 vmid">
                                <a ui-sref="edit_role({id:r.id})"><i class="fa fa-edit"></i></a>
                            </td>
                            <td class="w20 vmid">
                                <a href="" class="confirm dis" msg="Are you sure to delete?">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="not-found" ng-if="ajaxRes && !roles.result.length">No record found.</div>
	</div>
</div>