<div class="box">
	<div class="box-title">
        <h1 class="phead">User Management : <span>{{data.id?'Update Details':'Add New'}}</span></h1>
    </div>
    
	<div class="box-body">
        <div class="row">
        	<div class="col-md-12">
            	<div class="tabBox">
                	<div class="panel panel-light">
                        <div class="panel-heading uc">
                        	<div class="tabBtns">
                            	<a href="" class="act">User Details</a>
                                <a href="" ng-show="data.id">Change Password</a>
                            </div>
                        </div>
                        
                        <div class="tabContentBx">
                            <!-- Client User Details -->
                            <div class="tabContent">
                            	<form id="userform" ng-submit="save_user($event)">
                                    <div class="panel-body label-bold err-sm left10">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="req">First Name</label>
                                                <input type="text" class="form-control" ng-model="data.fname" maxlength="100">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" ng-model="data.lname" maxlength="50">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="req">Username</label>
                                                <input type="text" class="form-control" ng-model="data.username" maxlength="50">
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                                <label class="req">Email</label>
                                                <input type="text" class="form-control" ng-model="data.email" maxlength="100">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                        <div class="row" ng-if="!data.id">
                                            <div class="form-group col-md-6">
                                                <label class="req">Pasword</label>
                                                <input type="password" class="form-control" ng-model="data.password" maxlength="50">
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                                <label class="req">Confirm Password</label>
                                                <input type="password" class="form-control" ng-model="data.repassword" maxlength="50">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                        <div class="row">
                                        	<div class="form-group col-md-6">
                                                <label class="req">Mobile No.</label>
                                                <input type="text" class="form-control" ng-model="data.mobile" maxlength="10">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Phone No.</label>
                                                <input type="text" class="form-control" ng-model="data.phone" maxlength="10">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="req">Role</label>
                                                <select class="form-control" ng-model="data.role_id">
                                                	<option value="">Select</option>
                                                	<option ng-repeat="r in roles" value="{{r.id}}">{{r.role_name}}</option>
                                                </select>
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                                <label class="req">Status</label>
                                                <select class="form-control" ng-model="data.status">
                                                	<option ng-repeat="r in status_lookups" value="{{r.k}}">{{r.v}}</option>
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="panel-footer">
                                        <button type="submit" class="btn btn-success" ng-disabled="user_submit">
                                        	<i class="fa fa-spin fa-spinner" ng-if="user_submit"></i> {{data.id?'Update Details':'Add User'}}
                                        </button>
                                        <a ui-sref="users" class="btn btn-danger">Cancel</a>
                                    </div>
                                </form>
                            </div>
                            
                            <!-- Change Pasword -->
                            <div class="tabContent" style="display:none">
                            	<form id="passform" ng-submit="change_pass($event)">
                                	<input type="hidden" name="id" ng-value="data.id" />
                                    <div class="panel-body label-bold hori-form">
                                        <div class="form-group">
                                            <label class="req">New Password</label>
                                            <input type="password" class="form-control" name="password" maxlength="50">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="req">Confirm Password</label>
                                            <input type="password" class="form-control" name="repassword" maxlength="50">
                                        </div>
                                    </div>
                                    
                                    <div class="panel-footer">
                                        <button type="submit" class="btn btn-success" ng-disabled="pass_submit">
                                        	<i class="fa fa-spin fa-spinner" ng-if="pass_submit"></i> Change Password
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
	</div>
</div>