@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/open-sans-normal.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/open-sans-bold.woff) format('woff');
}

textarea							{resize:none}
a,img,a:focus,img:focus				{outline:none; border:none}
.posRel								{position:relative}

.clr			{clear:both; font-size:0px; line-height:0px; height:0px; overflow:hidden}
.down			{clear:both; width:100%; display:block}
.float-left		{float:left}
.float-right	{float:right}

.col2			{width:50%; float:left;}
.col3			{width:33%; float:left;}
.col4			{width:25%; float:left;}
.col5			{width:20%; float:left;}
.col6			{width:16.6%; float:left;}

.colP10			{width:10%; float:left;}
.colP20			{width:20%; float:left;}
.colP25			{width:25%; float:left;}
.colP30			{width:30%; float:left;}

.colP90			{width:90%; float:left;}
.colP80			{width:80%; float:left;}
.colP75			{width:75%; float:left;}
.colP70			{width:70%; float:left;}


.LR-5			{margin-left:-5px; margin-right:-5px}
.LR-10			{margin-left:-10px; margin-right:-10px}
.LR-15			{margin-left:-15px; margin-right:-15px}
.LR-20			{margin-left:-20px; margin-right:-20px}

.bold			{font-weight:bold}
.uc				{text-transform:uppercase}

.mb5			{margin-bottom:5px}
.mb10			{margin-bottom:10px}
.mb15			{margin-bottom:15px}
.mb20			{margin-bottom:20px}
.mb25			{margin-bottom:25px}
.mb30			{margin-bottom:30px}
.mb40			{margin-bottom:40px}

.mt5			{margin-top:5px}
.mt10			{margin-top:10px}
.mt15			{margin-top:15px}
.mt20			{margin-top:20px}
.mt30			{margin-top:30px}
.mt40			{margin-top:40px}

.pd5			{padding:5px}
.pd10			{padding:10px}
.pd15			{padding:15px}
.pd20			{padding:20px}

.pdL5			{padding-left:5px}
.pdL10			{padding-left:10px}
.pdL15			{padding-left:15px}
.pdL20			{padding-left:20px}

.pdR5			{padding-right:5px}
.pdR10			{padding-right:10px}
.pdR15			{padding-right:15px}
.pdR20			{padding-right:20px}

.pdT3			{padding-top:3px}
.pdT5			{padding-top:5px}
.pdT10			{padding-top:10px}
.pdT15			{padding-top:15px}
.pdT20			{padding-top:20px}

.pdB5			{padding-bottom:5px}
.pdB10			{padding-bottom:10px}
.pdB15			{padding-bottom:15px}
.pdB20			{padding-bottom:20px}

.err			{color:#b94a48}
.errBdr			{border-color:#b94a48}

.el-hide		{display:none}
.note-text		{font-size: 11px; color: #777;clear: both;}

/** Colors **/

.req::after					{content:' *'; color:#f3565d !important}

/** Widths **/
.w16, .form-control.w16		{width:16px}
.w20, .form-control.w20		{width:20px}
.w32, .form-control.w32		{width:32px}
.w40, .form-control.w40		{width:40px}
.w60, .form-control.w60		{width:60px}
.w80, .form-control.w80		{width:80px}
.w100, .form-control.w100	{width:100px}
.w120, .form-control.w120	{width:120px}
.w150, .form-control.w150	{width:150px}
.w200, .form-control.w200	{width:200px}
.w250, .form-control.w250	{width:250px}
.w300, .form-control.w300	{width:300px}

/** EOF **/